{% load i18n %}
{% load static %}

{% include "django/forms/widgets/select.html" %}

<link rel="stylesheet" href="{% static '/css/jstree/style.min.css' %}" />
<script type="text/javascript" src="{% static '/js/jstree.min.js' %}"></script>
<!-- 3 setup a container element -->
  <div id="jstree">

  </div>

  <script>
  $(function () {
    $('#jstree').jstree({
        'core' : {
            'data': {{data|safe}},
        },
        "checkbox" : {
          "keep_selected_style" : false
        },
        "plugins" : [ "checkbox" ]
  });
    // 7 bind to events triggered on the tree
    $('#jstree').on("changed.jstree", function (e, data) {
        console.log(data.selected);
        $("#{{widget.attrs.id}} option").removeAttr( "selected" );

        var nodes = data.selected
        for (let i = 0; i < nodes.length; i++) {
          var selector = "#{{widget.attrs.id}} option[value="
          selector += nodes[i] + "]"
          $(selector).attr("selected", "")
        }


    });
  });
  </script>
