{% extends 'base.html' %}
{% load i18n static %}
{% load fontawesome_5 %}

{% block body %}
<div class="container {{THEME.TXT_DEF_COLOR}}">
    <div class="row">
        <div class="col-md-4 ">
            <div class="row mt-2">
                <div class="col text-center">
                    <h3>{% trans 'Pending requests' %} {% fa5_icon 'question' 'fas' %}</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% for request in requests %}
                    <div class="card {{THEME.BG_COLOR}} mt-2">
                        <div class="card-body">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 mr-3"><b>{{ request.group }} ({{ request.type }})</b></h5>
                                <small class="text-muted">{{ request.created_on|date:"d.m.Y, H:i" }}</small>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="card {{THEME.BG_COLOR}}">
                        <div class="card-body">
                            {% trans 'No requests' %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col text-center">
                    <h3>{% trans 'Last activities' %} {% fa5_icon 'snowboarding' 'fas' %}</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <!--TODO: test overflow-->
                <div class="col overflow-auto">
                    {% for group_activity in group_activities %}
                    <div class="card {{THEME.BG_COLOR}} mt-2">
                        <div class="card-body">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 mr-3"><b>{% trans group_activity.description %}</b></h5>
                                <small class="text-muted">{{ group_activity.created_on|date:"d.m.Y, H:i" }}</small>
                            </div>
                            <p class="mb-1">{{ group_activity.metadata }}</p>
                            <small class="text-muted">
                                {% trans 'Activity performed by' %} <b>{{ group_activity.user}}</b>
                            </small>
                        </div>
                    </div>
                    {% empty %}
                    <div class="card {{THEME.BG_COLOR}}">
                        <div class="card-body">
                            {% trans 'No activities' %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row mt-2">
                <div class="col text-center">
                    <h2>{% trans 'My services' %} {% fa5_icon 'concierge-bell' 'fas' %}</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="card {{THEME.BG_COLOR}}">
                        <div class="card-body">
                            <h5 class="card-title">{% fa5_icon 'map' 'fas' %} {% trans 'Web map service' %}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {% trans 'count' %} <span
                                    class="badge badge-pill {{THEME.BADGE_COLOR}}">{{ wms_count }}</span>
                            </h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's
                                content.</p>
                            <a class="btn {{THEME.BTN_COLOR}}" href="{% url 'service:wms' %}" role="button">
                                {% trans 'Show'%}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card {{THEME.BG_COLOR}}">
                        <div class="card-body">
                            <h5 class="card-title">{% fa5_icon 'draw-polygon' 'fas' %} {% trans 'Web feature service' %}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {% trans 'count' %} <span
                                    class="badge badge-pill {{THEME.BADGE_COLOR}}">{{ wfs_count }}</span>
                            </h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's
                                content.</p>
                            <a class="btn {{THEME.BTN_COLOR}}" href="{% url 'service:wfs' %}" role="button">
                                {% trans 'Show'%}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card {{THEME.BG_COLOR}}">
                        <div class="card-body">
                            <h5 class="card-title">{% trans 'All' %}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {% trans 'count' %}
                                <span class="badge badge-pill {{THEME.BADGE_COLOR}}">
                                    {{ all_count }}
                                </span>
                            </h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's
                                content.</p>
                            <a class="btn {{THEME.BTN_COLOR}}" href="{% url 'service:index' %}" role="button">
                                {% trans 'Show'%}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col text-center">
                    <h2>{% trans 'Groups and organizations' %}</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="card {{THEME.BG_COLOR}}">
                        <div class="card-body">
                            <h5 class="card-title">{% fa5_icon 'users' 'fas' %} {% trans 'Groups' %}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {% trans 'count' %}
                                <span class="badge badge-pill {{THEME.BADGE_COLOR}}">
                                    0
                                    <!--TODO: count groups-->
                                </span>
                            </h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's
                                content.</p>
                            <a class="btn {{THEME.BTN_COLOR}}" href="{% url 'structure:groups' %}" role="button">
                                {% trans 'Show'%}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card {{THEME.BG_COLOR}}">
                        <div class="card-body">
                            <h5 class="card-title">{% fa5_icon 'building' 'fas' %} {% trans 'Organizations' %}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {% trans 'count' %}
                                <span class="badge badge-pill {{THEME.BADGE_COLOR}}">
                                    <!--TODO: count orgas-->
                                    0
                                </span>
                            </h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's
                                content.</p>
                            <a class="btn {{THEME.BTN_COLOR}}" href="{% url 'structure:organizations' %}" role="button">
                                {% trans 'Show'%}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}