<!DOCTYPE html>
{% load i18n static %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>MapSkinner - Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static '/structure/css/base.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static '/structure/css/form.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static '/structure/css/frame.css' %}" media="all" />
        <script>
            var rootUrl = '{{ ROOT_URL }}'
        </script>
    <script type="text/javascript" src="{% static '/structure/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/structure/js/base.js' %}"></script>
    <script type="text/javascript" src="{% static '/structure/js/form.js' %}"></script>
    <style>
        body.background{
            background-image: url({% static 'structure/images/background.png' %});
            background-repeat: repeat;
        }
    </style>
</head>
<body class="background">

{% include 'messages.html' %}

<div class="frame activation-frame">
    <a href="{% url 'login' %}"><img class="frame-logo" src="{% static '/structure/images/mr_map.png' %}"></a>
    <br>
    <h1>{% trans 'Password reset' %}</h1>
    <article class="activation-article">
        {% blocktrans %}
        We can help you reset your password. Simply enter the e-mail address of your account and you will receive a newly generated password which can be used to login again.
        Remember to change your password again immediately after you logged in successfully!
        {% endblocktrans %}
    </article>
    <form action="{{ action_url }}" method="post" style="width: 100%; padding: 5vh 0;">
        {% csrf_token %}
        <table class="form-table">
            {% for field in form %}
            <tr>
                <td class="field-label">{{ field.label_tag }}</td>
                <td class="field">{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="form-submit-area">
            <input class="button" type="submit" value="{% trans 'Send password' %}">
        </div>
    </form>
</div>

</body>
</html>