<!DOCTYPE html>
{% load i18n static %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>MapSkinner - Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static '/structure/css/base.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static '/structure/css/form.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static '/structure/css/frame.css' %}" media="all" />
        <script>
            var rootUrl = '{{ ROOT_URL }}'
        </script>
    <script type="text/javascript" src="{% static '/structure/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/structure/js/base.js' %}"></script>
    <script type="text/javascript" src="{% static '/structure/js/form.js' %}"></script>
    <script type="text/javascript" src="{% static '/users/js/users.js' %}"></script>
</head>
<body class="background">

{% include 'messages.html' %}

<div class="frame-wrapper">

<div class="frame activation-frame">
    <a href="{% url 'login' %}"><img class="frame-logo" src="{% static '/structure/images/mr_map.png' %}"></a>
    <br>
    <h1>{% trans 'Welcome' %} {{ user.username }}!</h1>
    <article class="activation-article">
        {% blocktrans %}
        Your account was activated successfully. You will be redirected to the login page in <span id="seconds-counter"></span> seconds. If you don't want to wait, click on Mr. Map!
        {% endblocktrans %}
    </article>
</div>

</div>
{% include 'footer.html' %}

</body>
</html>