{% load static i18n %}

<table class="detail-table">
    <tr>
        <th>{% trans 'Uuid' %}</th>
        <td>{{ element.uuid }}</td>
    </tr>
    <tr>
        <th>{% trans 'Title' %}</th>
        <td>{{ element.title }}</td>
    </tr>
    <tr>
        <th>{% trans 'Name' %}</th>
        <td>{{ element.name }}</td>
    </tr>
    <tr>
        <th>{% trans 'Abstract' %}</th>
        <td>{{ element.abstract }}</td>
    </tr>
    <tr>
        <th>{% trans 'Keywords' %}</th>
        <td>
            <table>
                {% for kw in element.keywords.all %}
                <tr>
                    <td>{{ kw }}</td>
                </tr>
                {% empty %}
                {% trans 'No keywords provided' %}
                {% endfor %}
            </table>
        </td>
    </tr>
    <tr>
        <th>{% trans 'Is searchable' %}</th>
        <td>
            {% if element.searchable %}
            <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Yes' %}">
            {% else %}
            <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'No' %}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Bounding box (lat lon)' %}</th>
        <td>
            {{ element.bbox_lat_lon.geojson|safe }}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Default reference system' %}</th>
        <td>{{ element.default_srs.prefix }}{{ element.default_srs.code }}</td>
    </tr>
    <tr>
        <th>{% trans 'Additional reference systems:' %}</th>
        <td>
            <table>
                {% for rs in element.additional_srs.all %}
                <tr>
                    <td>{{ rs.prefix }}{{ rs.code }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>{% trans 'No additional reference systems provided' %}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    <tr>
        <th>{% trans 'Mime types:' %}</th>
        <td>
            <table>
                {% for format in element.formats.all %}
                <tr>
                    <td>{{ format.mime_type }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>{% trans 'No additional reference systems provided' %}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
{% with element as featuretype %}
    {% include 'wfs/containing_featuretypes_elements.html' %}
{% endwith %}
