{% load i18n static %}
<table class="detail-table">
    <tr>
        <th>{% trans 'Uuid' %}</th>
        <td>{{ element.uuid }}</td>
    </tr>
    <tr>
        <th>{% trans 'Identifier' %}</th>
        <td>{{ element.identifier }}</td>
    </tr>
    <tr>
        <th>{% trans 'Parent service' %}</th>
        <td>
            <a href="{% url 'service:detail' element.parent_service.metadata.id %}" title="{{ element.parent_service.metadata.uuid }}">
                {{ element.parent_service.metadata.title }}
            </a>
        </td>
    </tr>
    <tr>
        <th>{% trans 'Title' %}</th>
        <td>{{ element.metadata.title }}</td>
    </tr>
    <tr>
        <th>{% trans 'Abstract' %}</th>
        <td>{{ element.metadata.abstract }}</td>
    </tr>
    <tr>
        <th>{% trans 'Keywords' %}</th>
        <td class="listable-container">
            {% for kw in element.metadata.keywords.all %}
                    <span class="listable">{{ kw }}</span>
            {% empty %}
                {% trans 'No keywords provided' %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Is available' %}</th>
        <td>
            {% if element.is_available %}
            <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Yes' %}">
            {% else %}
            <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'No' %}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Is queryable' %}</th>
        <td>
            {% if element.is_queryable %}
            <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Yes' %}">
            {% else %}
            <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'No' %}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Is opaque' %}</th>
        <td>
            {% if element.is_opaque %}
            <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Yes' %}">
            {% else %}
            <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'No' %}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Is cascaded' %}</th>
        <td>
            {% if element.is_cascaded %}
            <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Yes' %}">
            {% else %}
            <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'No' %}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Access restricted' %}</th>
        <td>
            {% if element.metadata.is_secured %}
            <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Yes' %}">
            {% else %}
            <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'No' %}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Hits' %}</th>
        <td>{{ element.hits }}</td>
    </tr>
    <tr>
        <th>{% trans 'Scale range' %}</th>
        <td>[{{ element.scale_min }}, {{ element.scale_max }}]</td>
    </tr>
    <tr>
        <th>{% trans 'Bounding box' %}</th>
        <td>
            {% if element.bbox_lat_lon.area > 0.0 %}
            <div id="{{ element.id }}_map" class="lat-lon-preview">

            </div>
            <script>
                L.map('{{ element.id }}_map', {
                    center: [{{ element.bbox_lat_lon.centroid.y }}, {{ element.bbox_lat_lon.centroid.x }}],
                    zoom: {{ element.bbox_lat_lon.area }},
                    layers: [
                        new L.geoJSON({{ element.bbox_lat_lon.geojson|safe }}),
                        new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                        })
                    ],
                }).fitBounds(
                    [
                        [{{ element.bbox_lat_lon.boundary.extent.1 }}, {{ element.bbox_lat_lon.boundary.extent.0 }}],
                        [{{ element.bbox_lat_lon.boundary.extent.3 }}, {{ element.bbox_lat_lon.boundary.extent.2 }}],
                    ]
                    );
            </script>
            {% else %}
                {% trans 'No spatial data provided!' %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Reference systems:' %}</th>
        <td class="listable-container">
            {% for rs in element.metadata.reference_system.all %}
                    <span class="listable">{{ rs.prefix }}{{ rs.code }}</span>
            {% empty %}
                {% trans 'No additional reference systems provided' %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Mime types:' %}</th>
        <td>
            <table class="mime-type-table">
                {% for format in element.formats.all %}
                <tr>
                    <th>{{ format.operation }}</th>
                    <td>{{ format.mime_type }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
{% if element.child_layer.all|length > 0 %}
    {% with element.child_layer.all as layers %}
        {% include 'wms/containing_layers.html' %}
    {% endwith %}
{% endif %}
