{% load static i18n %}

<table class="detail-table">
    <tr>
        <th>{% trans 'Uuid' %}</th>
        <td>{{ element.uuid }}</td>
    </tr>
    <tr>
        <th>{% trans 'Title' %}</th>
        <td>{{ element.metadata.title }}</td>
    </tr>
    <tr>
        <th>{% trans 'Name' %}</th>
        <td>{{ element.metadata.identifier }}</td>
    </tr>
    <tr>
        <th>{% trans 'Abstract' %}</th>
        <td>{{ element.metadata.abstract }}</td>
    </tr>
    <tr>
        <th>{% trans 'Keywords' %}</th>
        <td class="listable-container">
            {% for kw in element.metadata.keywords.all %}
                    <span class="listable">{{ kw }}</span>
            {% empty %}
                {% trans 'No keywords provided' %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Is searchable' %}</th>
        <td>
            {% if element.searchable %}
            <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Yes' %}">
            {% else %}
            <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'No' %}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Bounding box (lat lon)' %}</th>
        <td>
            {{ element.bbox_lat_lon.geojson|safe }}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Default reference system' %}</th>
        <td class="listable-container">
            <span class="listable">{{ element.default_srs.prefix }}{{ element.default_srs.code }}</span>
        </td>
    </tr>
    <tr>
        <th>{% trans 'Additional reference systems:' %}</th>
        <td class="listable-container">
            {% for rs in element.metadata.reference_system.all %}
                    <span class="listable">{{ rs.prefix }}{{ rs.code }}</span>
            {% empty %}
                {% trans 'No additional reference systems provided' %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Mime types:' %}</th>
        <td>
            <table class="mime-type-table">
                {% for format in element.formats.all %}
                <tr>
                    <td>{{ format.mime_type }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>{% trans 'No mime types provided' %}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
{% with element as featuretype %}
    {% include 'wfs/containing_featuretypes_elements.html' %}
{% endwith %}
