{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
- {{ root_metadata.title }}
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static '/service/js/service.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/service/css/service.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static '/editor/css/editor.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static '/service/css/leaflet.css' %}" media="all" />

     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
      integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
      crossorigin=""></script>
{% endblock %}

{% block body %}
<a href="{% url 'service:index' %}">
    <h3 class="back-title">
        <img src="{% static 'service/images/icn_back.png' %}">
        {% trans 'Overview' %}
    </h3>
</a>
<hr>
<div class="container-row">
    <div class="container-left">
        {% if 'can_activate_service' in user_permissions %}
        <a href="{% url 'service:activate' root_service.id %}">
            {% if root_metadata.is_active %}
                <div class="deactivate-container button" data-parent="{{ root_service.id }}" title="{% trans 'Deactivate this service' %}">
                    <img src="{% static 'service/images/icn_false.png' %}">
                    <span>{% trans 'Deactivate service' %}</span>
                </div>
            {% else %}
                <div class="activate-container button" data-parent="{{ root_service.id }}" title="{% trans 'Activate this service' %}">
                    <img src="{% static 'service/images/icn_true.png' %}">
                    <span>{% trans 'Activate service' %}</span>
                </div>
            {% endif %}
        </a>
        {% endif %}
    </div>
    <div class="container-center">
        {% if 'can_update_service' in user_permissions %}
            <div id="service-update-button" class="button button-wrapper" typeof="service" datasrc="{{ root_service.id }}" title="{% trans 'Update service using a new url' %}">
                <span>{% trans 'Update service' %}</span>
            </div>
        {% endif %}
        {% if 'can_edit_metadata_service' in user_permissions %}
        <div class="collapsible-container">
            <div class="collapsible-toggler button button-wrapper" title="{% trans 'Edit service' %}">
                <span>{% trans 'Edit service' %}</span>
            </div>
            <div class="hide collapsible-list">
                <a href="{% url 'editor:edit' root_metadata.id %}" title="{% trans 'Edit the service metadata' %}">
                    <div class="button-wrapper button">{% trans 'Metadata' %}</div>
                </a>
                <a href="{% url 'editor:edit_access' root_metadata.id %}" title="{% trans 'Edit the service access' %}">
                    <div class="button-wrapper button">{% trans 'Access' %}</div>
                </a>
            </div>
        </div>
        {% endif %}
        <div class="collapsible-container">
            <div class="collapsible-toggler button button-wrapper" title="{% trans 'Get the capabilities document' %}">
                <span>{% trans 'Capabilities' %}</span>
            </div>
            <div class="hide collapsible-list">
                <a target="_blank" href="{{ root_metadata.capabilities_original_uri }}" title="{% trans 'Get the original document' %}">
                    <div class="button-wrapper button">{% trans 'Original' %}</div>
                </a>
                <a target="_blank" href="{% url 'service:metadata-proxy-operation' root_metadata.id %}?request=GetCapabilities" title="{% trans 'Get the current, maybe edited, document' %}">
                    <div class="button-wrapper button">{% trans 'Current' %}</div>
                </a>
            </div>
        </div>
        <div class="collapsible-container">
            <div class="collapsible-toggler button button-wrapper" title="{% trans 'Get different metadata documents' %}">
                <span>{% trans 'Metadata' %}</span>
            </div>
            <div class="hide collapsible-list">
                <a data-id="{{ root_service.id }}" href="{% url 'service:get-service-metadata' root_metadata.id %}" title="{% trans 'Get service metadata' %}" target="_blank">
                    <div class="button-wrapper button">
                        <span>{% trans 'Service' %}</span>
                    </div>
                </a>
                <a data-id="{{ root_service.id }}" href="{% url 'service:get-dataset-metadata' root_metadata.id %}" title="{% trans 'Get dataset metadata' %}" target="_blank">
                    <div class="button-wrapper button">
                        <span>{% trans 'Dataset' %}</span>
                    </div>
                </a>
            </div>
        </div>
        <!--
        <a href="{{ root_metadata.capabilities_original_uri }}" target="_blank" title="{% trans 'Open original metadata in new tab' %}">
        </a>
        -->
    </div>
    {% if 'can_remove_service' in user_permissions %}
        <div class="container-right">
            <div class="delete-container button" data-parent="{{ root_service.id }}" typeof="service">
                <img src="{% static 'service/images/icn_minus.png' %}">
                <span>{% trans 'Remove service' %}</span>
            </div>
        </div>
    {% endif %}
</div>

{% if root_service.is_root %}
<h2>{{ root_metadata.title }}</h2>
<table class="detail-table">
    <tr>
        <th>{% trans 'Uuid' %}</th>
        <td>{{ root_metadata.uuid }}</td>
    </tr>
    <tr>
        <th>{% trans 'Service type' %}</th>
        <td>{{ root_service.servicetype }}</td>
    </tr>
    <tr>
        <th>{% trans 'Service type version' %}</th>
        <td>{{ root_service.servicetype.version }}</td>
    </tr>
    <tr>
        <th>{% trans 'Last update on' %}</th>
        <td>{{ root_service.metadata.last_modified }}</td>
    </tr>
    <tr>
        <th>{% trans 'Hits' %}</th>
        <td>{{ root_service.metadata.hits }}</td>
    </tr>
    <tr>
        <th>{% trans 'Abstract' %}</th>
        <td>{{ root_metadata.abstract }}</td>
    </tr>
    <tr>
        <th>{% trans 'Online resource' %}</th>
        <td>
            <a href="{{ root_metadata.online_resource }}" target="_blank">{{ root_metadata.online_resource }}</a>
        </td>
    </tr>
    <tr>
        <th>{% trans 'Keywords' %}</th>
        <td class="listable-container">
            {% for kw in root_metadata.keywords.all %}
                    <span class="listable">{{ kw }}</span>
            {% empty %}
                {% trans 'No keywords provided' %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Access Constraints' %}</th>
        <td>{{ root_metadata.access_constraints }}</td>
    </tr>
    <tr>
        <th>{% trans 'Access secured' %}</th>
        <td>
            {% if root_metadata.is_secured %}
            <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Yes' %}">
            {% else %}
            <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'No' %}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Responsible Person' %}</th>
        <td>{{ root_metadata.contact.person_name }}</td>
    </tr>
    <tr>
        <th>{% trans 'Organization' %}</th>
        <td>{{ root_metadata.contact.organization_name }}</td>
    </tr>
    <tr>
        <th>{% trans 'Phone' %}</th>
        <td>{{ root_metadata.contact.phone }}</td>
    </tr>
    <tr>
        <th>{% trans 'Facsimile' %}</th>
        <td>{{ root_metadata.contact.facsimile }}</td>
    </tr>
    <tr>
        <th>{% trans 'E-Mail' %}</th>
        <td>{{ root_metadata.contact.email }}</td>
    </tr>
    <tr>
        <th>{% trans 'Address' %}</th>
        <td>{{ root_metadata.contact.address }}</td>
    </tr>
    <tr>
        <th>{% trans 'City' %}</th>
        <td>{{ root_metadata.contact.city }}</td>
    </tr>
    <tr>
        <th>{% trans 'Post code' %}</th>
        <td>{{ root_metadata.contact.postal_code }}</td>
    </tr>
    <tr>
        <th>{% trans 'State or province' %}</th>
        <td>{{ root_metadata.contact.state_or_province }}</td>
    </tr>
    <tr>
        <th>{% trans 'Country' %}</th>
        <td>{{ root_metadata.contact.country }}</td>
    </tr>
</table>
{% else %}
{% with root_service as element %}
{% include 'detail/service_detail_child_wms.html' %}
{% endwith %}
{% endif %}

<br>

{% if root_service.servicetype.name == 'wms' %}
    {% include 'wms/containing_layers.html' %}
{% elif root_service.servicetype.name == 'wfs' %}
    {% with root_service.featuretypes.all as featuretypes %}
        {% include 'wfs/containing_featuretypes.html' %}
    {% endwith %}
{% endif %}

{% endblock %}