{% load i18n static %}
<table class="detail-table">
    <tr>
        <th>{% trans 'Uuid' %}</th>
        <td>{{ element.uuid }}</td>
    </tr>
    <tr>
        <th>{% trans 'Identifier' %}</th>
        <td>{{ element.identifier }}</td>
    </tr>
    <tr>
        <th>{% trans 'Title' %}</th>
        <td>{{ element.metadata.title }}</td>
    </tr>
    <tr>
        <th>{% trans 'Abstract' %}</th>
        <td>{{ element.metadata.abstract }}</td>
    </tr>
    <tr>
        <th>{% trans 'Keywords' %}</th>
        <td>
            <table>
                {% for kw in element.metadata.keywords.all %}
                <tr>
                    <td>{{ kw }}</td>
                </tr>
                {% empty %}
                {% trans 'No keywords provided' %}
                {% endfor %}
            </table>
        </td>
    </tr>
    <tr>
        <th>{% trans 'Is available' %}</th>
        <td>
            {% if element.is_available %}
            <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Yes' %}">
            {% else %}
            <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'No' %}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Is queryable' %}</th>
        <td>
            {% if element.is_queryable %}
            <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Yes' %}">
            {% else %}
            <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'No' %}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Is opaque' %}</th>
        <td>
            {% if element.is_opaque %}
            <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Yes' %}">
            {% else %}
            <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'No' %}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Is cascaded' %}</th>
        <td>
            {% if element.is_cascaded %}
            <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Yes' %}">
            {% else %}
            <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'No' %}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Hits' %}</th>
        <td>{{ element.hits }}</td>
    </tr>
    <tr>
        <th>{% trans 'Scale range' %}</th>
        <td>[{{ element.scale_min }}, {{ element.scale_max }}]</td>
    </tr>
    <tr>
        <th>{% trans 'Bounding box (lat lon)' %}</th>
        <td>
            {{ element.bbox_lat_lon.geojson|safe }}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Reference systems:' %}</th>
        <td>
            <table>
                {% for rs in element.metadata.reference_system.all %}
                <tr>
                    <td>{{ rs.prefix }}{{ rs.code }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    <tr>
        <th>{% trans 'Mime types:' %}</th>
        <td>
            <table>
                {% for format in element.formats.all %}
                <tr>
                    <th>{{ format.action }}</th>
                    <td>{{ format.mime_type }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
{% if element.child_element.all|length > 0 %}
    {% with element.child_element.all as layers %}
        {% include 'wms/containing_layers.html' %}
    {% endwith %}
{% endif %}