{% extends 'sceletons/card.html' %}
{% load i18n %}
{% load django_tables2 %}
{% load fontawesome_5 %}
{% load bootstrap4 %}

{% block card-header-title-left %}
    <h4>{% autoescape off %}{{THEME.ICONS.ORGANIZATION}}{% endautoescape %} {% trans 'Organizations' %}</h4>
{% endblock %}

{% block card-header-title-right %}
    {% if 'can_create_organization' in user_permissions %}
        <a role="button" class="btn {{THEME.CARD.BTN_SUCCESS_COLOR}}" href="{% url 'structure:organizations_new' %}?current-view={{current_view}}"">
            {% autoescape off %}{{THEME.ICONS.ADD}}{% endautoescape %} {% trans 'New organization' %}
        </a>
    {% endif %}
{% endblock %}

{% block card-header-subtitle-left %}
{% if user.organization is not None %}
    <p class="{{THEME.CARD.TXT_SUBTITLE_COLOR}}">{% trans 'Your organization:' %} <a href="{% url 'structure:organization_details' user.organization.id%}" class="{{THEME.CARD.LINK_COLOR}}">{% autoescape off %}{{THEME.ICONS.HOME}}{% endautoescape %} {{user.organization}}</a></p>
{% endif %}
{% endblock %}

{% block card-body %}

{% render_table organizations %}

{% endblock %}