{% extends 'sceletons/card.html' %}
{% load i18n %}
{% load django_tables2 %}
{% load fontawesome_5 %}
{% load bootstrap4 %}

{% block card-header-title-left %}
    <h4>{% autoescape off %}{{THEME.ICONS.ORGANIZATION}}{% endautoescape %} {% trans 'Organizations' %}</h4>
{% endblock %}

{% block card-header-title-right %}
    {% if 'can_create_organization' in user_permissions %}
        <button type="button" class="btn {{THEME.CARD.BTN_SUCCESS_COLOR}}" data-toggle="modal" data-target="#id_modal_new_organization_modal">
                    {% autoescape off %}{{THEME.ICONS.ADD}}{% endautoescape %} {% trans 'New organization' %}
        </button>
        {% with form=new_organization_form %}
            {% with 'new_organization_modal' as id_modal %}
                {% with show_new_organization_form as show_modal %}
                    {% include 'modals/new_organization.html' %}
                {% endwith %}
            {% endwith %}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block card-body %}

{% render_table organizations %}

{% endblock %}