{% extends 'sceletons/card.html' %}
{% load i18n %}
{% load django_tables2 %}
{% load fontawesome_5 %}
{% load bootstrap4 %}

{% block card-header %}
<div class="d-flex w-100 justify-content-between">
    <h4>{% autoescape off %}{{THEME.ICONS.ORGANIZATION}}{% endautoescape %} {% trans 'Organizations' %}</h4>
    {% if 'can_create_organization' in user_permissions %}
        <button type="button" class="btn {{THEME.BTN_SUCCESS_COLOR}}" data-toggle="modal" data-target="#id_modal_new_organization_modal">
                    {% autoescape off %}{{THEME.ICONS.ADD}}{% endautoescape %} {% trans 'New organization' %}
        </button>
        {% with form=new_organization_form %}
            {% with 'new_organization_modal' as id_modal %}
                {% include 'modals/new_organization.html' %}
            {% endwith %}
        {% endwith %}
    {% endif %}
</div>
{% endblock %}
{% block card-body %}
<form action="" method="get" class="form form-inline">
    <div class="row">
        <div class="form-group col-auto">
            {% bootstrap_form organizations_filter.form layout='inline' %}
        </div>
        <div class="col-auto">
            <button type="submit" class="btn {{THEME.BTN_COLOR}}">{% autoescape off %}{{THEME.ICONS.SEARCH}}{% endautoescape %} Search</button>
        </div>
    </div>
</form>
<br>
<div class="row">
    <div class="col">
        <h5 class="card-title">{% trans 'You are member of the following organizations:' %}</h5>
    </div>
    <div class="col">
        <div class="float-right">
            {% if organizations_pagination.page_size %}
                <div class="dropdown d-inline-block">
                    {% trans 'Show' %}
                    <button class="btn {{THEME.BTN_COLOR}} dropdown-toggle" type="button" id="organizationsPagingButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ organizations_pagination.page_size }}
                    </button>
                    {% trans 'entries' %}
                    <div class="dropdown-menu" aria-labelledby="organizationsPagingButton">
                        {% for page_size in organizations_pagination.page_size_options %}
                        <a class="dropdown-item" href="{% querystring organizations_pagination.page_size_param=page_size%}">{{ page_size }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="mt-1">
    <div class="row">
        <div class="col">
            <div class="overflow-auto">
                {% render_table organizations %}
            </div>
        </div>
    </div>
</div>
{% endblock %}