{% load i18n %}
{% load bootstrap4 %}
<div class="modal-header" style="white-space: normal;">
    <h5 class="modal-title" id="id_modal_title">
        {{ action }} {{ object.title }}
    </h5>
</div>
<form action="{{ action_url }}" method="post" onsubmit="submitAsync(event, true);">
    {% csrf_token %}
    <div class="modal-body" style="white-space: normal;">
        {% bootstrap_form form %}
        {% if form.has_autocomplete_fields %}
            {% include 'sceletons/autocomplete_form_media.html' %}
        {% endif %}
    </div>
    <div class="modal-footer" style="white-space: normal;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <span class="submit_btn_txt">{% trans 'Close' %}</span>
            <div class="submit_btn_spinner d-none"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> {%trans 'Loading...' %}</div>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="submit_btn_txt">{% trans 'Save changes' %}</span>
            <div class="submit_btn_spinner d-none"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> {%trans 'Loading...' %}</div>
        </button>
    </div>
</form>