{% load bootstrap4 %}
{% load i18n %}

<div class="card bg-light my-3">
  <div class="card-header">
    {{ title }}
  </div>
  <form action="{{ action_url }}" method="post">
      <div class="card-body">
        {% csrf_token %}
        {{form.media}}
        {% bootstrap_form form %}
      </div>
      <div class="card-footer text-muted">
        <button type="submit" class="btn btn-primary">
            <span class="submit_btn_txt">{% trans 'Save' %}</span>
            <div class="submit_btn_spinner d-none"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> {%trans 'Loading...' %}</div>
        </button>
      </div>
  </form>
</div>