.tree-form-field-node  {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tree-form-field {
  border: 1px solid black;
  height:  20vh;
  max-height: 20vh;
  overflow-y: scroll;
}