.tree-form-field-node {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tree-form-field {
  border: 1px solid black;
  height:  100%;
  max-height: 100%;
  overflow: scroll;
}