
{% load static i18n %}

{% if layers|length > 0 %}
<div class="sublayer-container">
    <div class="sublayer-headline">
        <img src="{% static 'service/images/icn_plus.png' %}" data-toggle="{% static 'service/images/icn_minus.png' %}">
        {% trans 'Show sublayers' %} ({{ layers|length }})
    </div>
    <div class="sublayer hidden">
        {% for layer in layers %}
        <div class="collapsible-table">
            <h3 class="layer-title" title="{% trans 'Click to expand' %}" data-id="{{ layer.id }}">
                <img src="{% static 'service/images/icn_plus.png' %}" data-toggle="{% static 'service/images/icn_minus.png' %}">
                {{ layer.metadata.title }}
            </h3>
            <div class="subelements hidden">
                <div class="loading-spinner">
                    <i class="fas fa-circle-notch fa-spin primary-color"></i>
                    <span id="submit-text">{% trans 'Loading...' %}</span>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endif %}
