
{% load static i18n %}

{% if layers|length > 0 %}
<div class="sublayer-container">
    <div class="sublayer-headline">
        <img src="{% static 'service/images/icn_plus.png' %}" data-toggle="{% static 'service/images/icn_minus.png' %}">
        {% trans 'Show sublayers' %} ({{ layers|length }})
    </div>
    <div class="sublayer hidden">
        {% for layer in layers %}
        <div class="collapsible-table">
            <h3 class="layer-title" title="{% trans 'Click to expand' %}" data-id="{{ layer.id }}" data-type="wms">
                <img class="collapse-img" src="{% static 'service/images/icn_plus.png' %}" data-toggle="{% static 'service/images/icn_minus.png' %}">
                <span class="{% if layer.metadata.is_custom %}custom-metadata-headline{% endif %}">
                    {{ layer.metadata.title }}
                    {% if layer.metadata.is_custom %}
                    <img class="invert" src="{% static 'structure/images/icn_edit.png' %}" title="{% trans 'Custom Metadata' %}">
                    {% endif %}
                </span>
            </h3>
            <div class="subelements hidden">
                <div class="container-row">
                <div class="container-left">
                    {% if 'can_edit_metadata_service' in user_permissions %}
                        <a href="{% url 'editor:edit' layer.metadata.id %}" title="{% trans 'Edit layer' %}">
                            <div class="button-container">
                                <span>{% trans 'Edit layer' %}</span>
                            </div>
                        </a>
                    {% endif %}
                </div>
                <div class="container-center">
                    <a data-id="{{ layer.id }}" class="hide" href="{% url 'service:get-dataset-metadata' layer.metadata.id %}" title="{% trans 'Get dataset metadata' %}" target="_blank">
                        <div class="button-container">
                            <span>{% trans 'Dataset metadata' %}</span>
                        </div>
                    </a>

                </div>
                <div class="container-right">
                    {% if 'can_edit_metadata_service' in user_permissions %}
                        <a href="{% url 'editor:restore' layer.metadata.id %}">
                            <div class="button-container">
                                <span class="reset-icon large">&#8635;</span>
                                <span>{% trans 'Restore metadata' %}</span>
                            </div>
                        </a>
                    {% endif %}
                </div>

                </div>
                <div class="content">
                    <div class="loading-spinner">
                        <i class="fas fa-circle-notch fa-spin primary-color"></i>
                        <span id="submit-text">{% trans 'Loading...' %}</span>
                    </div>

                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endif %}
