{% load static i18n %}
{% if layers|length > 0 %}
<div class="accordion" id="accordionSubLayers">
  <div class="card">
    <div class="card-header" id="headingSubLayers">
      <h2 class="mb-0">
        <button class="btn {{THEME.BTN_SECONDARY_OUT_COLOR}} collapsed" type="button" data-toggle="collapse" data-target="#id_collapseSubLayers" aria-expanded="false" aria-controls="collapsePublishes">
            <i class="fa" aria-hidden="true"></i> {% trans 'Show sublayers' %} <span class="badge {{THEME.PILL_BADGE_INFO_COLOR}}">{{ layers|length }}</span>
        </button>
      </h2>
    </div>
    <div id="id_collapseSubLayers" class="collapse" aria-labelledby="headingSubLayers" data-parent="#accordionSubLayers">
      <div class="card-body">
          {% for layer in layers %}
            <div class="accordion" id="id_accordion_{{layer.id}}">
              <div class="card">
                <div class="card-header " id="id_heading_{{layer.id}}">
                  <h2 class="mb-0">
                    <button id="id_collapse_service_{{layer.metadata.id}}" class="btn {{THEME.BTN_SECONDARY_OUT_COLOR}} collapsed" type="button" data-toggle="collapse" data-target="#id_collapse_{{layer.id}}" aria-expanded="false" aria-controls="id_collapse_{{layer.id}}">
                        <i class="fa" aria-hidden="true"></i> {{ layer.metadata.title }} <span class="badge {{THEME.PILL_BADGE_INFO_COLOR}}">{{ layer.child_layer.all|length }}</span>
                    </button>
                  </h2>
                </div>
                <div id="id_collapse_{{layer.id}}" class="collapse" aria-labelledby="id_heading_{{layer.id}}" data-parent="#id_accordion_{{layer.id}}">
                  <div class="card-body">
                      <div class="row mb-2 ">
                        <div class="col-sm mb-2 text-center">
                            {% if 'can_edit_metadata_service' in user_permissions %}
                                <div class="dropdown">
                                  <button class="btn {{THEME.BTN_SECONDARY_OUT_COLOR}} dropdown-toggle" type="button" id="id_edit_service_{{layer.id}}_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% autoescape off %}{{THEME.ICONS.EDIT}}{% endautoescape %} {% trans 'Edit layer' %}
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="id_edit_service_{{layer.id}}_dropdown">
                                    <a class="dropdown-item" href="{% url 'editor:edit' layer.metadata.id %}">{% autoescape off %}{{THEME.ICONS.METADATA}}{% endautoescape %} {% trans 'Metadata' %}</a>
                                    <a class="dropdown-item" href="{% url 'editor:edit_access' layer.metadata.id %}">{% autoescape off %}{{THEME.ICONS.ACCESS}}{% endautoescape %} {% trans 'Access' %}</a>
                                  </div>
                                </div>
                            {% endif %}
                            </div><!--</col>-->
                            <div class="col-sm mb-2 text-center">
                                <!--TODO: Hide?-->
                                <a class="btn {{THEME.BTN_SECONDARY_OUT_COLOR}}" href="{% url 'service:get-dataset-metadata' layer.metadata.id %}">{% trans 'Dataset Metadata' %}</a>
                            </div><!--</col>-->
                            <div class="col-sm mb-2 text-center">
                            {% if 'can_edit_metadata_service' in user_permissions %}
                                <a class="btn {{THEME.BTN_WARNING_COLOR}}" href="{% url 'editor:restore' layer.metadata.id %}">{% autoescape off %}{{THEME.ICONS.UNDO}}{% endautoescape %} {% trans 'Restore metadata' %}</a>
                            {% endif %}
                            </div><!--</col>-->
                      </div><!--</row>-->
                      <div class="row mb-2 ">
                        <div class="col">
                            <div id="id_content_service_{{layer.metadata.id}}"></div>
                            <script type="text/javascript">
                                $('#id_collapse_service_{{layer.metadata.id}}').click(function() {
                                  if ( $('#id_collapse_service_{{layer.metadata.id}}').hasClass('collapsed') ) {
                                    $.get( '{% url 'service:detail' layer.metadata.id %}', function( data ) {
                                        $( "#id_content_service_{{layer.metadata.id}}" ).html( data );
                                    });
                                  }
                                });
                            </script>
                      </div><!--</col>-->
                      </div><!--</row>-->
                  </div><!--</card-body>-->
                </div>
              </div>
            </div>
        {% endfor %}
      </div><!--</card-body>-->
    </div>
  </div>
</div>

{% endif %}
