{% load i18n static tz %}

<div class="overview-title-actions-container">
    <div class="container-left">
        <h2>{% trans 'WMS' %}</h2>
        {% if 'can_register_service' in user_permissions %}
        <div class="overview-action">
            <span class="add-button" title="{% trans 'Register new' %}" datatype="wms" typeof="service">
                +
            </span>
        </div>
        {% endif %}
    </div>
    <div class="container-right">
        <select id="service-display-selector" title="Group elements">
            <option value="services" {% if select_default == 'services' %} selected {% endif %}>{% trans 'Show services' %}</option>
            <option value="layers" {% if select_default == 'layers' %} selected {% endif %}>{% trans 'Show layers' %}</option>
        </select>
    </div>
</div>
{% if metadata_list_wms|length > 0 %}
<div>
    <div>
        <label for="rpp-select-wms">{% trans 'Results per page' %}:</label>
        <select id="rpp-select-wms" class="rpp-select" title="{% trans 'Results per page' %}:">
            {% for option in rpp_select_options %}
            <option value="{{ option }}" {% if option == rpp %}selected="selected"{% endif %}>{{ option }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="filter-container">
    <div class="container-left">
        <input class="search-field" type="text" name="text-filter" data-type="wms" placeholder="{% trans 'Enter text to filter' %}">
    </div>
    <div class="container-center">
        {% if metadata_list_wms.paginator.num_pages > 1 %}
        <div>
            <div class="pagination-wrapper">
                {% if metadata_list_wms.number != 1 %}
                <a class="pagination-page" href="?wmsp=1&wfsp={{ metadata_list_wfs.number }}&rpp={{ rpp }}" title="{% trans 'First page' %}">
                    1
                </a>
                <span>...</span>
                {% endif %}
                <input class="pagination-input" data-type="wmsp" type="number" min="1" value="{{ metadata_list_wms.number }}" title="{% trans 'Enter page number' %}">
                {% if metadata_list_wms.number != metadata_list_wms.paginator.num_pages %}
                <span>...</span>
                <a class="pagination-page" href="?wmsp={{ metadata_list_wms.paginator.num_pages }}&wfsp={{ metadata_list_wfs.number }}&rpp={{ rpp }}" title="{% trans 'Last page' %}">
                    {{ metadata_list_wms.paginator.num_pages }}
                </a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="container-right">
    </div>
</div>
<table class="overview-table">
    <tr>
        <th class="table-header">
            {% trans 'Title' %}
        </th>
        {% if select_default == 'layers' %}
        <th class="table-header">
            {% trans 'Parent service' %}
        </th>
        {% endif %}
        <th class="table-header">
            {% trans 'Active' %}
        </th>
        <th class="table-header">
            {% trans 'Version' %}
        </th>
        <th class="table-header">
            {% trans 'Data provider' %}
        </th>
        <th class="table-header">
            {% trans 'Registered by group' %}
        </th>
        <th class="table-header">
            {% trans 'Registered for' %}
        </th>
        <th class="table-header">
            {% trans 'Created' %}
        </th>
    </tr>
    {% for md in metadata_list_wms %}
    <tr class="service" data-type="wms">
        <td class="table-cell" data-type="title">
            <a href="{% url 'service:detail' id=md.id %}" title="{% trans 'Open details' %}">{{ md.title }}</a>
        </td>
        {% if select_default == 'layers' %}
        <td class="table-cell">
            <a href="{% url 'service:detail' id=md.service.parent_service.metadata.id %}" title="{% trans 'Open details' %}">{{ md.service.parent_service.metadata.title }}</a>
        </td>
        {% endif %}
        <td class="table-cell">
            {% if md.is_active %}
            <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Active' %}">
            {% else %}
            <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'Not active' %}">
            {% endif %}
        </td>
        <td class="table-cell">
            {{ md.service.servicetype.version }}
        </td>
        <td class="table-cell" title="{{ md.contact.organization_name }}">
            <a href="{% url 'structure:detail-organization' md.contact.id %}">{{ md.contact.organization_name }}</a>
        </td>
        <td class="table-cell">
            <a href="{% url 'structure:detail-group' md.service.created_by.id %}">{{ md.service.created_by }}</a>
        </td>
        <td class="table-cell">
            {% if md.service.published_for is not None %}
            <a href="{% url 'structure:detail-organization' md.service.published_for.id %}">{{ md.service.published_for }}</a>
            {% else %}
            {{ md.service.published_for }}
            {% endif %}
        </td>
        <td class="table-cell">
            {{ md.created }}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
{% trans 'None ¯\_(ツ)_/¯' %}
{% endif %}