/*
Adds important css styling to set Model2SelectWidget in a single line.
*/

.select2-container{
    width: 100% !important;
}

.select2-selection{
    min-height: 3em !important;
    height: auto;
}