/* .layer-section {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

.steps-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
} */

.map-context {
  width:100%;
  height:100%;
  position: relative;
}