{% extends 'sceletons/card.html' %}
{% load i18n %}

{% block card-header-title-left %}
<h5 class="card-title">{% autoescape off %}{{ICONS.ORGANIZATION}}{% endautoescape %}</h5>
{% endblock %}

{% block card-header-title-center %}
<h5 class="card-title">{% trans 'Organizations' %}</h5>
{% endblock%}

{% block card-header-title-right %}
<h5><span class="badge badge-pill badge-light">{{ organizations.count }}</span></h5>
{% endblock %}

{% block card-body %}
<p class="card-text">
    {% trans 'All known organizations.' %}
</p>
<a class="btn btn-primary" href="{% url 'users:organization_list' %}" role="button">
    {% trans 'Show'%}
</a>
{% endblock %}

