{% extends 'sceletons/modal-form.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block modal-title %}
{{modal_title}}
{% endblock %}
{% block modal-header %}
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
{% endblock %}
{% block modal-footer %}
<button class="btn {{ THEME.MODAL.BTN_SECONDARY_COLOR }}" type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">{% trans 'Close' %}</span>
</button>
<button type="button submit" class="btn {{ THEME.MODAL.BTN_DANGER_COLOR }}">
    {{modal_submit_btn_content}}
</button>
{% endblock %}
