{% load i18n %}
<!-- Modal -->
{% load bootstrap4 %}
<div class="modal fade " id="id_modal_leaflet_client" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="id_modal_title_{{id_modal}}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content {{THEME.MODAL.BG_COLOR}} {{THEME.MODAL.TXT_COLOR}}">
            <div class="modal-header">
                <h5 class="modal-title" id="id_modal_title_{{id_modal}}">
                    {% trans 'Add a geometry, which defines the area where this group can acces the operation on this service.' %}
                </h5>
            </div><!--</modal-header-->

            <div id="id_modal_leaflet_client_body" class="modal-body">

            </div><!--</modal-body-->

            <div class="modal-footer">
                <button id="id_modal_leaflet_client_submit_btn" type="button submit" class="btn {{ THEME.BTN_SUCCESS_COLOR }}">
                    {% autoescape off %}{{THEME.ICONS.SAVE}}{% endautoescape %} {% trans 'Save' %}
                </button>
            </div><!--</modal-footer-->
        </div>
    </div>
</div><!--</modal-->
<script type="text/javascript">
    $('#id_modal_leaflet_client').on('shown.bs.modal', function () {
        $.get( '{% url 'editor:access_geometry_form' id %}', function( data ) {
            $( "#id_modal_leaflet_client_body" ).html( data );
        });
    })

    $("#id_modal_leaflet_client_submit_btn").click(function(event){
        // get session stored polygon data
        values = findSessionKeysLike("polygon_");

        // write current polygons to session
        var polygons = [];
        for(i = 0; i < values.length; i++){
            polygons.push(JSON.parse(getSessionValue(values[i], true)));
        }

        // find element where the polygons will be stored
        //var operationGroupPolygonElement = $("input[data-operation={{ operation }}][data-group={{ group_id }}]")
        var operationGroupPolygonElement = $("input[data-group={{ group_id }}]")

        // show 'listable' element, which indicates that polygons have been set
        if(polygons.length > 0){
            operationGroupPolygonElement.siblings(".listable").show();
            if(!operationGroupPolygonElement.is(":checked")){
                operationGroupPolygonElement.click();
            }
            // set data to element
            operationGroupPolygonElement.attr("data-polygons", JSON.stringify(polygons));
        }else{
            operationGroupPolygonElement.removeAttr("data-polygons");
            operationGroupPolygonElement.siblings(".listable").hide();
        }
        toggleOverlay("");
    });
</script>