# DJANGO
Django==3.1.2
django-extensions==3.0.9
django-simple-captcha==0.5.12
django-celery-beat==2.0.0
django_redis==4.12.1
djangorestframework==3.12.1
django-filter==2.4.0
django-bootstrap4==2.2.0
django-fontawesome-5==1.0.18
django-tables2==2.3.1
django-query-parameters==0.2.3
django-autocomplete-light==3.5.1
django-mathfilters==1.0.0
django-nose==1.4.7
django-debug-toolbar==3.1.1
django-formtools==2.2

# OTHER
certifi==2020.6.20
idna==2.10
lxml==4.5.2
psycopg2==2.8.6
pycurl==7.43.0.6
pytz==2020.1
requests==2.24.0
sqlparse==0.4.1
urllib3==1.25.10
argon2-cffi==20.1.0
celery==4.3.0
redis==3.5.3
Pillow==7.2.0
cryptography==3.1.1
coverage==5.3
model-bakery==1.2.0
python-dateutil==2.8.1
xmltodict==0.12.0

# For git revision rendering
dealer==2.1.0


# UNUSED PACKAGES
## Keep them until we can be sure they can be removed without problems
#chardet==3.0.4
#markdown
#pysxm
#six==1.12.0
