#aioredis==1.3.1
#alabaster==0.7.12
#amqp==5.0.6
argon2-cffi==21.1.0 
#asgiref==3.4.1
#async-timeout==3.0.1
#attrs==21.2.0
#autobahn==21.3.1
#Automat==20.2.0
#Babel==2.9.1
#beautifulsoup4==4.9.3
#billiard==3.6.4.0
celery==5.0.5
#certifi==2021.5.30
#cffi==1.14.5
channels==3.0.4
channels-redis==3.3.0
#chardet==4.0.0
#click==7.1.2
#click-didyoumean==0.0.3
#click-plugins==1.1.1
#click-repl==0.2.0
#constantly==15.1.0
#coverage==5.5
#cryptography==3.4.7
#daphne==3.0.2
Django==3.2.7
django-autocomplete-light==3.8.2
django-bootstrap4==3.0.1
django-celery-beat==2.2.0
django-celery-results==2.2.0
django-crum==0.7.9
django-debug-toolbar==3.2.2
django-extensions==3.1.3
django-extra-views==0.14.0
django-filter==2.4.0
django-fontawesome-5==1.0.18
django-formtools==2.3
django-guardian==2.4.0
django-js-asset==1.2.2
django-leaflet==0.28.1
django-mathfilters==1.0.0
django-mptt==0.13.3
django-nose==1.4.7
django-query-parameters==0.2.3
#django-ranged-response==0.2.0
django-redis==4.12.1
django-simple-captcha==0.5.14
django-tables2==2.4.0
django-timezone-field==4.1.2
djangorestframework==3.12.4
#docutils==0.16
eulxml==1.1.3
#hiredis==2.0.0
#hyperlink==21.0.0
#idna==2.10
#imagesize==1.2.0
#incremental==21.3.0
isodate==0.6.0
#Jinja2==3.0.1
#kombu==5.1.0
lxml==4.6.3
#MarkupSafe==2.0.1
model-bakery==1.3.2
#msgpack==1.0.2
nose==1.3.7
#packaging==20.9
Pillow==8.3.2
#ply==3.11
#prompt-toolkit==3.0.19
psycopg2-binary==2.9.1
#pyasn1==0.4.8
#pyasn1-modules==0.2.8
#pycparser==2.20
#pyepsg==0.4.0
#Pygments==2.9.0
#pyOpenSSL==20.0.1
#pyparsing==2.4.7
#python-crontab==2.5.1
python-dateutil==2.8.2
#pytz==2021.1
redis==3.5.3
requests==2.26.0
#service-identity==21.1.0
#six==1.16.0
#snowballstemmer==2.1.0
#soupsieve==2.2.1
#sqlparse==0.4.1
tablib==3.0.0
#Twisted==21.2.0
#txaio==21.2.1
#urllib3==1.26.5
#vine==5.0.0
#wcwidth==0.2.5
#xmltodict==0.12.0
#zope.interface==5.4.0
gunicorn==20.1.0
uvicorn==0.15.0
websockets==9.1