{% load i18n %}
{% load fontawesome_5 %}
{% load bootstrap4 %}
{% load django_tables2 %}
{% load render_table from django_tables2 %}
<table class="table">
    <tbody>
    <tr>
        <th scope="row">{% trans 'Title' %}</th>
        <td itemprop="about headline">
            {{ title }}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Kind of resource' %}</th>
        <td>
            {% autoescape off %}{{THEME.ICONS.WFS}}{% endautoescape %} - Web Feature Service
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Featuretypes' %}</th>
        <td>
            {% if featuretypes %}
                {% render_table featuretypes %}
            {% endif%}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Organization' %}</th>
        <td>
            <!-- TODO: Mapbender presents here a logo-->
            {{ contact.organization_name }}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Abstract' %}</th>
        <td itemprop="abstract">
            {{ abstract }}
        </td>
    </tr>
    </tbody>
</table>