{% extends 'MrMap/skeletons/card.html' %}
{% load static i18n %}
{% load bootstrap5 %}
{% load django_tables2 %}

{% block card-header-title-left %}
    <h4 class="mb-1 mr-3">{% autoescape off %}{{ICONS.SUBSCRIPTION}}{% endautoescape %} <strong>{% trans 'Subscriptions' %}</strong></h4>
{% endblock %}
{% block card-header-title-right %}

<a role="button" class="btn btn-success" href="{% url 'users:subscription_add'%}">
    {% autoescape off %}{{ICONS.ADD}}{% endautoescape %} {% trans 'New Subscription' %}
</a>

{% endblock %}
{% block card-body %}

{% render_table table %}

{% endblock %}