{% load i18n %}
{% load fontawesome_5 %}
{% load django_tables2 %}
{% load render_table from django_tables2 %}
<table class="table">
    <tbody>
    <tr>
        <th scope="row">{% trans 'Title' %}</th>
        <td itemprop="about headline">
            {{ title }}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Kind of resource' %}</th>
        <td>
            {% autoescape off %}{{THEME.ICONS.WMS_SOLID}}{% endautoescape %} - Web Map Service
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Child Layer' %}</th>
        <td>
            <div class="list-group">
                {% if children %}
                    {% render_table children %}
                {% endif%}
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Preview' %}</th>
        <td>
            <div>
                <!-- TODO: show "no preview" if no preview is available -->
                <a itemprop="exampleOfWork" itemtype="https://schema.org/CreativeWork"
                   href="{% url 'service:get-service-metadata-preview' md_id %}">
                    <img itemprop="thumbnailUrl"
                         src="{% url 'service:get-service-metadata-preview' md_id %}" alt="preview"
                         class="img-thumbnail">
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Organization' %}</th>
        <td>
            <!-- TODO: Mapbender presents here a logo-->
            {{ contact.organization_name }}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Abstract' %}</th>
        <td itemprop="abstract">
            {{ abstract }}
        </td>
    </tr>
    </tbody>
</table>