{% load static i18n %}
{% load fontawesome_5 %}
{% load bootstrap4 %}

{% block head %}
{% fontawesome_5_static %}
<link rel="stylesheet" type="text/css" href="{% static '/structure/css/bootstrap.min.css' %}" media="all" />
<script type="text/javascript" src="{% static '/structure/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static '/structure/js/jquery-3.3.1.min.js' %}"></script>
{% endblock %}

{% block body %}
<!-- TODO: have a look at django-tables2 and try to refactor all tables with it-->
<!-- TODO: is Map right for FeatureType?-->
<div class="card" itemscope itemtype="https://schema.org/Map">
    <!-- some other informations about this view-->
    <div class="d-none">
        <!-- TODO: this is mess, insert the data from view by dynamic object-->
        <div itemprop="sdPublisher" itemscope itemtype="https://schema.org/Organization">
            <p itemprop="legalName">Zentrale Stelle GDI-RP</p>
            <p itemprop="email">kontakt@geoportal.rlp.de</p>
            <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                <p itemprop="addressCountry">DE</p>
                <p itemprop="streetAddress">Von-Kuhl-Straße 49</p>
                <span itemprop="addressRegion">RLP</span>
                <span itemprop="postalCode">56070</span>
                <span itemprop="addressLocality">Koblenz</span>
            </div>
        </div>
    </div>
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs pull-right" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                   aria-controls="home"
                   aria-selected="true">{% trans 'Overview' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="properties-tab" data-toggle="tab" href="#properties" role="tab"
                   aria-controls="properties" aria-selected="false">{% trans 'Properties' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                   aria-controls="contact" aria-selected="false">{% trans 'Contact' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="terms-of-use-tab" data-toggle="tab" href="#terms-of-use" role="tab"
                   aria-controls="terms-of-use" aria-selected="false">{% trans 'Terms Of Use' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="quality-tab" data-toggle="tab" href="#quality" role="tab"
                   aria-controls="quality"
                   aria-selected="false">{% trans 'Quality' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="interfaces-tab" data-toggle="tab" href="#interfaces" role="tab"
                   aria-controls="interfaces" aria-selected="false">{% trans 'Interfaces' %}</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                {% include "metadata/tabs/wms/layer/metadata_overview_tab.html" %}
            </div>
            <div class="tab-pane fade" id="properties" role="tabpanel" aria-labelledby="properties-tab">
                {% include "metadata/tabs/wms/layer/metadata_properties_tab.html" %}
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                {% include "metadata/tabs/metadata_contact_tab.html" %}
            </div>
            <div class="tab-pane fade" id="terms-of-use" role="tabpanel" aria-labelledby="terms-of-use-tab">
                {% include "metadata/tabs/metadata_terms_of_use_tab.html" %}
            </div>
            <div class="tab-pane fade" id="quality" role="tabpanel" aria-labelledby="quality-tab">
                {% include "metadata/tabs/metadata_quality_tab.html" %}
            </div>
            <div class="tab-pane fade" id="interfaces" role="tabpanel" aria-labelledby="interfaces-tab">
                {% include "metadata/tabs/wms/layer/metadata_interfaces_tab.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}