{% extends 'sceletons/card.html' %}
{% load i18n static %}
{% load bootstrap4 %}
{% load django_tables2 %}


{% block card-header-title-left %}
<h4 class="mb-1 mr-3">{% autoescape off %}{{THEME.ICONS.ACCESS}}{% endautoescape %} {% trans 'Access Editor' %}</h4>
{% endblock %}

{% block card-header-subtitle-left %}
<h5 class="text-muted">
    {% if service_metadata.is_root %}
        {% trans 'Service:' %}
    {% elif service_metadata.is_featuretype_metadata %}
        {% trans 'Featuretype:' %}
    {% elif service_metadata.is_layer_metadata %}
        {% trans 'Layer:' %}
    {% endif %}
    {{ service_metadata.title }}
</h5>

{% endblock %}

{% block card-header-title-right %}
{% endblock %}

{% block card-header-subtitle-right %}
    <a class="{{THEME.CARD.LINK_COLOR}}" href="{% url 'resource:detail' service_metadata.id %}">
    <span style="white-space: nowrap;">{% autoescape off %}{{THEME.ICONS.RETURN}}{% endautoescape %} {% trans 'Service Detail View' %}</span>
    </a>
{% endblock %}


{% block card-body %}


<form action="{{ restrict_access_form.action_url }}" method="post">
    {% csrf_token %}

    {% bootstrap_form restrict_access_form  %}

    <button type="submit" class="btn {{THEME.CARD.BTN_PRIMARY_COLOR}} secured-operations submit-button" data-id="{{ service_metadata.id }}">
        {% autoescape off %}{{THEME.ICONS.SAVE}}{% endautoescape %} {% trans 'Save' %}
    </button>
</form>
<script type="application/javascript">
    $(':checkbox').change(function() {
        if ( $('#id_log_proxy').prop('checked') == true || $('#id_restrict_access').prop('checked') == true ) {
            $('#id_use_proxy').prop('checked', true);
        }

        if ( $('#id_restrict_access').prop('checked') == true ) {
            $('#id_div_restrict_access_table').css('pointer-events', '');
            $('#id_div_restrict_access_table').css('opacity', '');
        } else {
            $('#id_div_restrict_access_table').css('pointer-events', 'none');
            $('#id_div_restrict_access_table').css('opacity', '0.4');
        }
    });
</script>
<hr>
<div id="id_div_restrict_access_table" style="pointer-events: none; opacity: 0.4;">
    {% render_table restrict_access_table %}
</div>
{% endblock %}