{% extends 'sceletons/card.html' %}
{% load i18n static %}
{% load bootstrap4 %}
{% load django_tables2 %}


{% block card-header-title-left %}
<h4 class="mb-1 mr-3">{% autoescape off %}{{THEME.ICONS.ACCESS}}{% endautoescape %} {% trans 'Access Editor' %}</h4>
{% endblock %}

{% block card-header-subtitle-left %}
<h5 class="text-muted">
    {% if service_metadata.is_root %}
        {% trans 'Service:' %}
    {% elif service_metadata.is_featuretype_metadata %}
        {% trans 'Featuretype:' %}
    {% elif service_metadata.is_layer_metadata %}
        {% trans 'Layer:' %}
    {% endif %}
    {{ service_metadata.title }}
</h5>

{% endblock %}

{% block card-header-title-right %}
{% endblock %}

{% block card-header-subtitle-right %}
    <a class="{{THEME.CARD.LINK_COLOR}}" href="{% url 'resource:detail' service_metadata.id %}">
    <span style="white-space: nowrap;">{% autoescape off %}{{THEME.ICONS.RETURN}}{% endautoescape %} {% trans 'Service Detail View' %}</span>
    </a>
{% endblock %}


{% block card-body %}

<h5>
    {% trans 'General settings' %}
</h5>
    <form id="id_restrict_access_form" action="{{ restrict_access_form.action_url }}" method="post">
        {% csrf_token %}

        {% bootstrap_form restrict_access_form  %}
    </form>
    <hr>

<h5>
    {% trans 'Edit group access' %}
</h5>
<div id="id_div_restrict_access_table" {% if not restrict_access_form.restrict_access.value %} style="pointer-events: none; opacity: 0.4;" {% endif %}>
    {% render_table restrict_access_table %}
</div>

<script type="application/javascript">
    // disable submit buttons to prevent multi submitting by user
    var buttonClicked = "";
    $("#id_modal_{{id_modal}} form button, input").click(function(e){
        buttonClicked = $(this);
    });

    var use_proxy_checked = $('#id_use_proxy').prop('checked')
    var log_proxy_checked = $('#id_log_proxy').prop('checked')
    var restrict_access_checked = $('#id_restrict_access').prop('checked')

    $(':checkbox').change(function() {
        if ( use_proxy_checked && $('#id_use_proxy').prop('checked') == false ) {
            // disable all checkboxes, cause all depends on proxy usage
            $('#id_log_proxy').prop('checked', false);
            $('#id_restrict_access').prop('checked', false);
        } else if ( $('#id_log_proxy').prop('checked') == true ) {
            $('#id_use_proxy').prop('checked', true);
            $('#id_log_proxy').prop('checked', true);
        } else if ( $('#id_restrict_access').prop('checked') == true ) {
            $('#id_use_proxy').prop('checked', true);
        }

        if ( $('#id_restrict_access').prop('checked') == false ) {
            $('#id_div_restrict_access_table').css('pointer-events', 'none');
            $('#id_div_restrict_access_table').css('opacity', '0.4');
        }

        // show spinner to signal the user that something is going on
        if ( buttonClicked.is( ":button" ) ) {
            buttonClicked.html(`{% include "includes/loading_spinner.html" %}`);
        }

        if ( buttonClicked.is( ":input" ) ) {
            var label = $("label[for='" + buttonClicked.attr('id') + "']");
            label.html(`{% include "includes/loading_spinner.html" %}`);
        }

        buttonClicked="";

        $("#id_restrict_access_form").submit();


    });
</script>

{% endblock %}