<!--wfs_index.html -->
{% extends 'sceletons/card.html' %}
{% load i18n static tz %}
{% load django_tables2 %}
{% load fontawesome_5 %}
{% load query_parameters %}
{% load bootstrap4 %}

{% block card-header-title-left %}
    <h4 class="mb-1 mr-3">{% autoescape off %}{{THEME.ICONS.ACCESS}}{% endautoescape %} {% trans 'Access editor' %}</h4>
{% endblock %}
{% block card-header-title-right %}
    <a class="{{THEME.CARD.LINK_COLOR}}" href="{% url 'editor:index' %}">
        <span style="white-space: nowrap;">{% autoescape off %}{{THEME.ICONS.RETURN}}{% endautoescape %} {% trans 'Overview' %}</span>
    </a>
{% endblock %}
{% block card-header-subtitle-left %}
    <h5 class="text-muted">
        {% if service_metadata.is_root %}
            Service:
        {% elif service_metadata.metadata_type.type == 'featuretype' %}
            Featuretype:
        {% elif service_metadata.metadata_type.type == 'layer' %}
            Layer:
        {% endif %}
        {{ service_metadata.title }}
    </h5>
{% endblock %}
{% block card-header-subtitle-right %}
        <a class="{{THEME.CARD.LINK_COLOR}}" href="{% url 'service:detail' service_metadata.id %}">
            <span style="white-space: nowrap;">{% autoescape off %}{{THEME.ICONS.RETURN}}{% endautoescape %} {% trans 'Service detail view' %}</span>
        </a>
{% endblock %}


{% block card-body %}

<form id="metadata-form" action="{{ action_url }}" method="post" >
    {% csrf_token %}
    {% for form in forms %}
        {% bootstrap_form form %}
    {% endfor %}

    <div class="row">
        <div class="col-2">
            {% trans 'GetMap' %}
        </div>
        <div class="col-10">
            {% for form in geo_json_forms %}
            {% for field in form %}
                <div class="form-inline">
                    <div class="form-group mb-2">
                        {{ field.errors }}
                        {% for value in field %}
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="id_group_get_map{{form.group_id}}">
                                <label class="form-check-label" for="id_group_get_map{{form.group_id}}">{{form.group_name}}</label>
                            </div>
                            <div class="form-group mx-sm-3">
                            {{ value }}
                            </div>
                            <div class="form-group">
                                <button id="id_btn_get_map{{form.group_id}}" type="button" class="btn btn-sm {{THEME.BTN_COLOR}}" data-toggle="modal" data-target="#id_modal_leaflet_client">
                                    {% autoescape off %}{{THEME.ICONS.WFS}}{% endautoescape %} {% trans 'Add spatial restriction' %}
                                </button>
                            </div>
                        {% endfor %}

                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>


    <button type="button submit" class="btn {{ THEME.BTN_COLOR }}">
        {% autoescape off %}{{THEME.ICONS.SAVE}}{% endautoescape %} {% trans 'Save' %}
    </button>

</form>

{% include 'modals/edit_geo_json.html' %}

{% endblock %}