{% extends 'sceletons/card.html' %}
{% load i18n static tz %}
{% load django_tables2 %}
{% load fontawesome_5 %}
{% load query_parameters %}
{% load bootstrap4 %}


{% block card-header-title-left %}
    <h4 class="mb-1 mr-3">{% autoescape off %}{{THEME.ICONS.METADATA}}{% endautoescape %} {% trans 'Metadata editor' %}</h4>
{% endblock %}

{% block card-header-title-right %}
{% endblock %}

{% block card-header-subtitle-left %}
    <h5 class="text-muted">
        {% if service_metadata.is_root %}
            Service:
        {% elif service_metadata.is_featuretype_metadata %}
            Featuretype:
        {% elif service_metadata.is_layer_metadata %}
            Layer:
        {% elif service_metadata.metadata_type == 'dataset' %}
            Dataset:
        {% endif %}
        {{ service_metadata.title }}
    </h5>
{% endblock %}
{% block card-header-subtitle-right %}
    {% if service_metadata.metadata_type != 'dataset' %}
        <a class="{{THEME.CARD.LINK_COLOR}}" href="{% url 'resource:detail' service_metadata.id %}">
            <span style="white-space: nowrap;">{% autoescape off %}{{THEME.ICONS.RETURN}}{% endautoescape %} {% trans 'Service detail view' %}</span>
        </a>
    {% endif %}
{% endblock %}


{% block card-body %}

<div class="row">
   <div class="col">
       <a class="btn {{THEME.CARD.BTN_WARNING_COLOR}}" href="{% if service_metadata.metadata_type == 'dataset' %} {% url 'editor:restore-dataset-metadata' service_metadata.id %} {% else %} {% url 'editor:restore' service_metadata.id %} {% endif %}">{% autoescape off %}{{THEME.ICONS.UNDO}}{% endautoescape %} {% trans 'Restore metadata' %}</a>
   </div>
</div>

<div class="row mt-2">
   <div class="col">
       <form action={{form.action_url}} method="post" class="form">
           {% csrf_token %}
           <div class="row">
                <div class="col">
                    {% bootstrap_form form %}
                    {% include 'sceletons/autocomplete_form_media.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn {{THEME.CARD.BTN_PRIMARY_COLOR}}">{% autoescape off %}{{THEME.ICONS.SAVE}}{% endautoescape %} {% trans 'Save'%}</button>
                </div>
            </div>
       </form>
   </div>
</div>

{% endblock %}