{% load i18n static %}
<style>
    {% include 'overlay/modal-dialog-style.html' %}

    .progress-bar-wrapper{
        height: 1rem;
        position: relative;
    }

    .progress-bar{
        width: 100%;
        height: 1rem;
        position: absolute;
        top: 0;
    }

    .bg{
        background-color: var(--primary-color);
        opacity: 0.5;
    }

    .fg{
        background-color: var(--secondary-color);
        width: 1%;
    }
    .progress-bar.number{
        color: white;
        font-size: 0.8em;
        text-align: center;
    }
</style>

{% block body %}
<div class="modal-dialog">
    <div class="modal-close" title="{% trans 'Close' %}">
        x
    </div>
    <div class="modal-content">
        <h2>{% trans 'Registration ongoing' %}</h2>
        <article>
            {% trans 'Your service is currently processed. Please be patient!' %}
        </article>
        <article>
            '<span id="pending-service" data-id="{{ pending_task.task_id }}">{{ url_dict.service }}</span>'
            <span>{% trans 'in phase:' %}</span>
            <span id="phase"></span>
        </article>
        <div class="progress-bar-wrapper">
            <div class="progress-bar bg"></div>
            <div class="progress-bar fg"></div>
            <div class="progress-bar number"></div>
        </div>
        <button class="submit-button button">
            <span class="loading-spinner">
                <i class="fas fa-circle-notch fa-spin"></i>
            </span>
            <span id="button-text" class="hide">{% trans 'Finish' %}</span>
        </button>
    {% include 'overlay/modal-dialog-footer.html' %}
    </div>
</div>

<script>

    {% include 'overlay/modal-dialog-scripts.html' %}

    $(".submit-button").click(function(){
        toggleOverlay("");
        location.reload();
    });

    $(document).ready(function(){
        sessionStorage.setItem("reloadOnClose", true);
        // run delayed requests for task progress
        var interval = setInterval(function(){
            var taskId = $("#pending-service").attr("data-id");
            $.ajax({
                url: rootUrl + "/structure/task/" + taskId,
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                },
                data:{
                },
                type: 'get',
                dataType: 'json',
            })
            .done(function(data){
                var task = data["task"];
                var progress = task["info"];
                var description = JSON.parse(task["description"]);

                if(description.exception != null){
                    // the task failed!
                    clearInterval(interval);
                    $(".bg").addClass("aborted");
                    $(".loading-spinner").hide();
                    $("#button-text").show();
                }

                // set phase and service name
                if(description.service.length > 0){
                    $("#pending-service").html(description.service);
                }
                if(description.phase.length > 0){
                    $("#phase").html(description.phase);
                }
                if(progress != null){
                    progress = progress["current"];

                    // write new progress to bar
                    var pgNum = parseFloat(progress).toFixed(2) + "%";
                    $(".fg").css("width", progress + "%");
                    $(".number").html(pgNum)

                    if(progress == 100){
                        // we are done!
                        clearInterval(interval);
                        $(".loading-spinner").hide();
                        $("#button-text").show();
                    }
                }
            })
            .always(function(data){

            });
        }, 1000);
    });

</script>

{% endblock %}