
{% load i18n static %}

<style>

    {% include 'overlay/modal-dialog-style.html' %}

</style>

{% block body %}

<div class="modal-dialog">
    <div class="modal-close" title="{% trans 'Close' %}">
        x
    </div>
    <div class="modal-content">
        <article>{{ article }}</article>
        <form class="form-table" action="{{ action_url }}" method="post">
            {% csrf_token %}
            <div class="field">
                {% for field in form %}
                    <div class="field-label">{{ field.label_tag }}</div>
                    <div id="request-uri" class="field">{{ field }}</div>
                {% endfor %}
            </div>
            <button class="button submit-button">{{ button_text }}</button>
        </form>
    {% include 'overlay/modal-dialog-footer.html' %}
    </div>
</div>
<script>
    {% include 'overlay/modal-dialog-scripts.html' %}

    $(".submit-button").click(function(event){
        event.preventDefault();
        {% if service_id is not None %}
            checkServiceRequestURI(true, {{ service_id }});
        {% else %}
            checkServiceRequestURI(false);
        {% endif %}
    });

    $(document).ready(function(){
        $("#capabilities-uri").focus();
    });
</script>

{% endblock %}