<!DOCTYPE html>
{% load i18n static %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    {% include 'includes/default-head.html' %}
</head>
<body class="bg-light bg-img">
    {% include 'MrMap/includes/messages.html' %}
    {% include 'MrMap/includes/ee-overlay.html' %}
    <div class="container">
        <div class="card bg-light mt-3">
            <div class="card-header">
                <h1 class="card-title text-center">500 - {% trans 'Internal Server Error ' %}</h1>
            </div><!--</card-header-->
            <div class="card-body">
                <div class="media ">
                        <img class="align-self-start w-25 mr-3" src="{% static 'images/mr_map_500.png' %}" title="{% trans 'Mr. Map seems to be ill!' %}" alt="{% trans 'Ill Mr. Map' %}">
                        <div class="media-body w-75">
                            <article class="article-txt">
                            <h1>{% trans 'Oh dear!' %}</h1>
                            <div>{% trans 'Mr. Map seems to be ill and can`t work at the moment.' %}</div>
                            <hr>
                            <div>{% trans 'We are doing our best to get him healthy again!' %}</div>
                        </article>
                        </div>
                    </div>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'users:dashboard' %}">{% autoescape off %}{{ICONS.HOME}}{% endautoescape %} {% trans 'Back to home' %}</a><br>
            </div>
        </div> <!-- card-body.// -->
    </div>
{% include 'MrMap/includes/footer.html' %}
</body>
</html>