<!DOCTYPE html>
{% load i18n static %}
{% load fontawesome_5 %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>MapSkinner - Login</title>

    {% fontawesome_5_static %}
    <link rel="shortcut icon" href="{% static 'structure/images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'structure/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static '/structure/css/bootstrap.min.css' %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static '/structure/css/base_.css' %}" media="all"/>
    <script>var rootUrl = '{{ ROOT_URL }}'</script>
    <script type="text/javascript" src="{% static '/structure/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/structure/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/structure/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/structure/js/base_.js' %}"></script>

</head>

<header>
    {% include 'navbar-sign-out.html' %}
    {% include 'messages.html' %}
</header>

<body class="{{THEME.BACKGROUND}}">

    <div class="container">
    {% include 'includes/password_reset.html' %}
    </div>

    {% include 'footer.html' %}
</body>
</html>