<!DOCTYPE html>
{% load i18n static %}
{% load fontawesome_5 %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    {% include 'includes/default-head.html' %}

</head>

<header>
    {% include 'includes/navbar-sign-out.html' %}
    {% include 'includes/messages.html' %}
</header>

<body class="{{THEME.BACKGROUND}} {{THEME.BACKGROUND_IMG}}">

    <div id="body-content" class="mt-3">
        {% include 'includes/ee-overlay.html' %}
        <div class="container">
            {% include 'includes/register.html' %}
        </div>
    </div>

    {% include 'includes/footer.html' %}
</body>
</html>