{% extends 'sceletons/card.html' %}
{% load i18n %}
{% block card-header-title-left %}
<h5 class="card-title">{% autoescape off %}{{THEME.ICONS.ORGANIZATION}}{% endautoescape %} {% trans 'Organizations' %}</h5>
{% endblock %}
{% block card-body %}
<h6 class="card-subtitle mb-2 text-muted">
    {% trans 'count' %}
    <span class="badge badge-pill {{THEME.BADGE_COLOR}}">
        <!--TODO: count orgas-->
        0
    </span>
</h6>
<p class="card-text">Some quick example text to build on the card title and make up the bulk
    of the
    card's
    content.</p>
<a class="btn {{THEME.BTN_COLOR}}" href="{% url 'structure:organizations-index' %}" role="button">
    {% trans 'Show'%}
</a>
{% endblock %}

