{% load i18n static %}

<link rel="stylesheet" href="{% static 'editor/css/leaflet-geoman.css' %}" />
<script src="{% static 'editor/js/leaflet-geoman.min.js' %}"></script>

<style>

.field-label, .field{
    font-size: 1.2em;
}

.field input, .field textarea, .field select{
    color: gray;
    background-color: white;
    border: 1px solid gray;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
}

.field input:focus{
    -webkit-box-shadow: 0 0 10px var(--primary-color);
    -moz-box-shadow: 0 0 10px var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

.form-submit-area{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.modal-content{
    max-height: 75vh;
    overflow-y: auto;
}

.field{
    position: relative;
}

article{
    padding: 10px 0 10px 0;
}

</style>

{% block body %}
<div class="modal-dialog">
    <div class="modal-close" title="{% trans 'Close' %}">
        x
    </div>
    <div class="modal-content">
        <article>
            {{ article }}
        </article>
        <hr>
        <div id="map" class="map-view">
        </div>
        <script>
               var map = L.map('map', {
                   center: [{{ bbox.centroid.y }}, {{ bbox.centroid.x }}],
                   zoom: {{ bbox.area }},
                   layers: [
                       //new L.geoJSON({{ bbox.geojson|safe }}),
                       new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                           attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                       })
                   ],
               }).fitBounds(
                   [
                       [{{ bbox.boundary.extent.1 }}, {{ bbox.boundary.extent.0 }}],
                       [{{ bbox.boundary.extent.3 }}, {{ bbox.boundary.extent.2 }}],
                   ]
                   );

                // set which controls should be available in the toolbar
                map.pm.addControls({
                  position: 'topright',
                  drawCircle: false,
                  drawCircleMarker: false,
                  drawPolyline: false,
                  drawRectangle: false,
                  drawMarker: false,
                  removalMode: false,
                });

               // create a listener which is triggered when a polygon is finished
               map.on('pm:create', function(e){
                    // get the lat lon
                    var latLngs = JSON.stringify(e.layer._latlngs[0]);
                    var layerId = e.layer._leaflet_id;
                    setSessionValue("polygon_" + layerId ,latLngs);

                    // create a listener which is triggered when the polygon is edited
                    e.layer.on('pm:edit', e => {
                        latLngs = JSON.stringify(e.target._latlngs[0]);
                        layerId = e.target._leaflet_id;
                        setSessionValue("polygon_" + layerId ,latLngs);
                    });

               });

           </script>
        <form action="{{ action_url }}" method="post" >

            <input class="submit-button button" id="submit-text" type="submit" value="{% trans 'Save' %}"/>
        </form>
    </div>
</div>

<script>

    $(".modal-close, .close-button").click(function(){
        values = findSessionKeysLike("polygon_");
        for(i = 0; i < values.length; i++){
            getSessionValue(values[i], true);
        }
        toggleOverlay("");
    });

    $(".submit-button").click(function(event){
        event.preventDefault();
    });

</script>

{% endblock %}