{% load static i18n tz %}
    <h3>{% trans service_type %}</h3>
    <div>
        <table class="overview-table metadata-editor-table">
            <tr>
                <th class="table-header">
                    {% trans 'Title' %}
                </th>
                <th class="table-header">
                    {% trans 'Active' %}
                </th>
                <th class="table-header">
                    {% trans 'Data provider' %}
                </th>
                <th class="table-header">
                    {% trans 'Registered by group' %}
                </th>
                <th class="table-header">
                    {% trans 'Original metadata' %}
                </th>
                <th class="table-header">
                    {% trans 'Edit' %}
                </th>
            </tr>
            {% for metadata in services %}
                <tr>
                    <td class="table-cell">
                        <a href="{% url 'service:detail' id=metadata.root_metadata.id %}" title="{% trans 'Open details' %}">{{ metadata.root_metadata.title }}</a>
                    </td>
                    <td class="table-cell">
                        {% if metadata.root_metadata.is_active %}
                        <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Active' %}">
                        {% else %}
                        <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'Not active' %}">
                        {% endif %}
                    </td>
                    <td class="table-cell">
                        {{ metadata.root_metadata.contact.organization_name }}
                    </td>
                    <td class="table-cell">
                        <a href="{% url 'structure:detail-group' metadata.root_metadata.service.created_by.id %}">{{ metadata.root_metadata.service.created_by }}</a>
                    </td>
                    <td class="table-cell">
                        {% if not metadata.root_metadata.is_custom and metadata.custom_subelement_metadata|length == 0 %}
                        <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Original metadata' %}">
                        {% else %}
                        <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'Custom metadata' %}">
                        {% endif %}
                    </td>
                    <td class="table-cell">
                        <a href="{% url 'editor:edit' metadata.root_metadata.id %}">
                            <button class="button">
                                <img src="{% static 'structure/images/icn_edit.png' %}">
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>