global
    maxconn 64

defaults
    mode http
    timeout connect 1s
    timeout client 5s
    timeout server 2s

frontend docker_readonly
    bind :2375
    acl read_method method GET
    acl allowed_path path_reg ^/containers/json$ ^/containers/[a-f0-9]{64}/json$
    http-request deny unless read_method allowed_path
    default_backend docker_socket

backend docker_socket
    server docker /var/run/docker.sock
