{% extends 'sceletons/card.html' %}
{% load i18n %}

{% block card-header-title-left %}
<h5 class="card-title">{% autoescape off %}{{ICONS.WFS}}{% endautoescape %}</h5>
{% endblock %}

{% block card-header-title-center %}
<h5 class="card-title">{% trans 'WFS' %}</h5>
{% endblock%}

{% block card-header-title-right %}
<h5><span class="badge badge-pill badge-light">{{ wfs_count }}</span></h5>
{% endblock %}

{% block card-body %}
<p class="card-text">
    {% trans 'Your registered Web Feature Services' %}
</p>
<a class="btn btn-primary" href="{% url 'resource:wfs-index' %}" role="button">
    {% trans 'Show'%}
</a>
{% if 'can_register_resource' in user_permissions %}
<a class="btn btn-success" href="{% url 'resource:add' %}?current-view={{current_view}}" role="button">
    {% autoescape off %}{{ICONS.ADD}}{% endautoescape %} {% trans 'New'%}
</a>
{% endif %}
{% endblock %}