{% load bootstrap5 %}
{% load i18n %}
{% load custom_template_filters %}
<div class="card bg-light my-3">
  <div class="card-header">
    {{ title }}
  </div>
  <form action="{{ action_url }}" method="post">
      <div class="card-body">
        {% csrf_token %}
        {{form.media}}
        {% bootstrap_form form %}
          {% for formset in inlines %}
          <hr class="separator">
          {{ formset.model|model_to_title|safe }}
            {{formset.management_form}}
            {% for form in formset.forms %}

             {% bootstrap_form form %}
            {% endfor %}
          {% endfor %}
      </div>
      <div class="card-footer text-muted text-end">
        <button type="submit" class="btn btn-success">
            <span class="submit_btn_txt">{{ICONS.SAVE}} {% trans 'Save' %}</span>
            <div class="submit_btn_spinner d-none"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> {%trans 'Loading...' %}</div>
        </button>
      </div>
  </form>
</div>