{% load static i18n l10n %}
  {% include "django/forms/widgets/textarea.html" %}
  <div class="card mt-2">
            
          <div class="card-body">
                <link rel="stylesheet" href="{% static 'css/leaflet-geoman.min.css' %}" />
                <div id="id_map_{{ widget.leaflet_geometry_input_id }}" style="height: 60vh; min-height: 400px;"></div>
          </div>
            <div class="card-footer">
                <div class="row text-center">
                    {% if activate_upload %}
                    <div class="col">
                        <button id="id_geometry_upload_{{ widget.leaflet_geometry_input_id }}" type="button" class="btn {{ THEME.MODAL.BTN_INFO_COLOR }} " onclick="$('#id_geometry_upload_input_{{ widget.leaflet_geometry_input_id }}').click();">
                            <span>{% autoescape off %}{{THEME.ICONS.UPLOAD}}{% endautoescape %} </span>
                            <span class="ml-2">{% trans 'Import GML3 or GeoJSON' %}</span>
                        </button>
                        <input id="id_geometry_upload_input_{{ widget.leaflet_geometry_input_id }}" class="d-none" type="file" title="{% trans 'Load geometry' %}"/>
                    {% endif %}
                    </div>
                    {% if activate_download %}
                    <div class="col">
                        <button id="id_geometry_download_{{ widget.leaflet_geometry_input_id }}" type="button" class="btn {{ THEME.MODAL.BTN_INFO_COLOR }} geometry-download">
                            <span>{% autoescape off %}{{THEME.ICONS.DOWNLOAD}}{% endautoescape %} </span>
                            <span class="ml-2">{% trans 'Export as GeoJSON' %}</span>
                        </button>
                        <script type="application/javascript">
                            // export geojson as downloadable file
                            $("#id_geometry_download_{{ widget.leaflet_geometry_input_id }}").click(function(){
                                var file = new Blob([$('#{{widget.attrs.id}}').val()], {type: "geojson"});
                                if (window.navigator.msSaveOrOpenBlob) // IE10+
                                    window.navigator.msSaveOrOpenBlob(file, filename);
                                else { // Others
                                    var a = document.createElement("a"),
                                            url = URL.createObjectURL(file);
                                    a.href = url;
                                    a.download = "geometry.geojson";
                                    document.body.appendChild(a);
                                    a.click();
                                    setTimeout(function() {
                                        document.body.removeChild(a);
                                        window.URL.revokeObjectURL(url);
                                    }, 0);
                                }
                            });
                        </script>
                    </div>
                    {% endif %}
                </div>
                {% with id_map='id_map_'|add:widget.leaflet_geometry_input_id %}
                    <link rel="stylesheet" type="text/css" href="{% static '/css/leaflet.min.css' %}" media="all"/>
                    <script type="text/javascript" src="{% static '/js/leaflet.js' %}"></script>
                    <script type="application/javascript" src="{% static 'js/leaflet-geoman.min.js' %}"></script>
                {% localize off %}
                    <script type="application/javascript">
                    var map_{{ id_map }};       // the map instance
                    var initialized = false;    // the is_initialized flag

                    function setBounds( layers ){
                        // set bound to all inserted layers
                        var layer_group = L.featureGroup(layers);
                        var bounds = layer_group.getBounds();
                        map_{{ id_map }}.fitBounds(bounds);
                    }

                    function getAllPolygons(){
                        var polygons = [];
                        map_{{ id_map }}.eachLayer( function( layer ) {
                            if ( layer instanceof L.Polygon ) {
                                if ( layer._pmTempLayer != true ){
                                    polygons.push(layer);
                                }
                            }
                        });
                        return polygons;
                    }

                    function toGEOSPolygon( points ){
                        var geosPolygon = '((';
                        for ( point of points ) {
                            geosPolygon +=  point.lng + ' ' + point.lat + ', ';
                            if ( point == points[points.length - 1] ){
                                geosPolygon +=  points[0].lng + ' ' + points[0].lat;
                            }
                        }
                        geosPolygon += '))';
                        return geosPolygon;
                    }

                    function appendCommaToGEOSPolygon( polygonPoints, lastPolygonPoints ) {
                        console.log(polygonPoints, lastPolygonPoints);
                        if ( polygonPoints != lastPolygonPoints ){
                            console.log(', added');
                            return ', ';
                        }
                        return '';
                    }

                    function toGEOSMultiPolygon( lPolygons ){
                        if ( lPolygons.length == 0 ) {
                            return "";
                        } else {
                            var geosMultiPolygon = 'SRID=4326;MULTIPOLYGON (';
                             for (lPolygon of lPolygons){
                                var polygonsLatLngs = lPolygon.getLatLngs();
                                for ( polygonPoints of polygonsLatLngs){
                                    if ( polygonPoints[0] instanceof Array ) {
                                        // multi-dimensinal array for multi polygons
                                        for ( _polygonPoints of polygonPoints ){
                                            geosMultiPolygon += toGEOSPolygon( _polygonPoints );
                                        }
                                    } else {
                                        geosMultiPolygon += toGEOSPolygon( polygonPoints );
                                        
                                    }
                                    geosMultiPolygon += appendCommaToGEOSPolygon(polygonPoints, polygonsLatLngs[polygonsLatLngs.length - 1]);
                                }
                            }
                            return geosMultiPolygon + ')';
                        }
                    }

                    function updateGeoJsonInput( polygons ){
                        $('#{{widget.attrs.id}}').val( toGEOSMultiPolygon ( polygons ) );
                    }

                    function addEventListenersToLayer( layer ){
                        // create a listener which is triggered when the created polygon is edited
                        layer.on('pm:edit', e => {
                            updateGeoJsonInput( getAllPolygons() );
                        });

                        layer.on('pm:dragend', e => {
                            updateGeoJsonInput( getAllPolygons() );
                        });

                        layer.on('pm:cut', e => {
                            // first remove the original layer... otherwise this layer is still in the list of eachLayer iteration
                            map_{{ id_map }}.removeLayer(e.originalLayer);
                            updateGeoJsonInput( getAllPolygons() );
                        });
                    }

                    function initializeLeafletClient(){
                        if (!initialized) {
                            // create the map instance and save it to the var
                            map_{{ id_map }} = L.map('{{ id_map }}', {
                                center: [{{ bbox.centroid.y }}, {{ bbox.centroid.x }}],
                                zoom: {{ bbox.area }},
                                layers: [
                                    new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                                    })
                                ],
                            });

                            

                            // zoom in and fit the bound of all presented layers
                            {% if geojson %}

                                function addLayerToMap(feature, layer){
                                    map_{{ id_map }}.addLayer( layer );
                                    addEventListenersToLayer( layer );
                                }

                                var layer = new L.geoJSON({{ geojson.geojson|safe }}, 
                                                          {
                                                            style: {
                                                                fillColor: 'red', 
                                                                color: 'red'}, 
                                                            onEachFeature: function addLayerToMap(feature, layer){
                                                                map_{{ id_map }}.addLayer( layer );
                                                                addEventListenersToLayer( layer );
                                                            }
                                                          });
                                



                                //addEventListenersToLayer( layer );
                                var bounds = layer.getBounds();
                                //map_{{ id_map }}.addLayer( layer );
                                map_{{ id_map }}.fitBounds( bounds );
                            {% else %}
                                map_{{ id_map }}.fitBounds(
                                    [
                                        [{{ bbox.boundary.extent.1 }}, {{ bbox.boundary.extent.0 }}],
                                        [{{ bbox.boundary.extent.3 }}, {{ bbox.boundary.extent.2 }}],
                                    ]
                                    );
                            {% endif %}

                            // set which controls should be available in the toolbar
                            map_{{ id_map }}.pm.addControls({
                              {% autoescape off %}
                              {% for key,value in geoman_controls.items %}
                                    {{ key }}: {{ value }},
                              {% endfor %}
                              {% endautoescape %}
                            });

                            map_{{ id_map }}.on('pm:remove', e => {
                                updateGeoJsonInput( getAllPolygons() );
                            });

                            map_{{ id_map }}.on('pm:dragend', e => {
                                updateGeoJsonInput( getAllPolygons() );
                            });

                            map_{{ id_map }}.on('pm:create', e => {
                                updateGeoJsonInput( getAllPolygons() );
                                addEventListenersToLayer( e.layer );
                            });
                    
                            initialized = true;
                        }
                    }

                    // we have to observe if the map div is visible, cause if the map div is encapsulated by other div which is not
                    // visible by default, the initialization of the leaflet client failed, cause it depends on the current view port.
                    var observer = new IntersectionObserver(function(entries) {
                        if(entries[0].isIntersecting === true)
                            initializeLeafletClient();
                    }, { threshold: [0] });

                    observer.observe(document.querySelector("#id_map_{{ widget.leaflet_geometry_input_id }}"));

                    {% if activate_upload %}
                    $("#id_geometry_upload_input_{{ widget.leaflet_geometry_input_id }}").change(function(){
                        var elem = $(this)[0];
                        var file = elem.files[0];
                        var appType = file.type;

                        var fileReader = new FileReader();
                        fileReader.readAsText(file);

                        // wait until fileReader finished reading
                        fileReader.onload = function(e){
                            content = e.target.result;

                            // remove all old layers
                            map_{{ id_map }}.eachLayer(function (layer) {
                                if( layer instanceof L.TileLayer ){
                                }else{
                                    map_{{ id_map }}.removeLayer(layer);
                                }
                            });

                            if(appType == "application/geo+json"){
                                var geoJsonContent = JSON.parse(content);

                                // create GeoJsonLayer
                                tmpLayer = L.geoJSON(geoJsonContent, {style: {fillColor: 'red', color: 'red'}});

                                // edit input field
                                $('#{{widget.attrs.id}}').val(JSON.stringify(tmpLayer.toGeoJSON()));

                                var layers = []

                                for(key in tmpLayer._layers){
                                    var layer = tmpLayer._layers[key];
                                    layer.addTo(map_{{ id_map }});
                                    layers.push(layer)

                                    addEventListenersToLayer( layer );
                                    setBounds( layers );
                                }

                            }else if (appType == "application/gml+xml"){
                                parser = new DOMParser();
                                gmlDoc = parser.parseFromString(content, "text/xml");
                                gmlDocPolygons = gmlDoc.getElementsByTagName("gml:Polygon");

                                polygonsArray = []

                                for(l = 0; l < gmlDocPolygons.length; l++){
                                    poly = gmlDocPolygons[l];
                                    points = poly.getElementsByTagName("gml:posList");

                                    for(j = 0; j < points.length; j++){
                                        var tmp = []
                                        var point = points[j];
                                        var p = point.innerHTML.split(" ");

                                        for(i = 0; i < p.length; i+=2){
                                            // point pairs
                                            tmp.push([parseFloat(p[i+1]), parseFloat(p[i])]);
                                        }
                                        polygonsArray.push(tmp);
                                    }
                                }

                                var layers = []

                                // create own layer for each polygon
                                for(i = 0; i < polygonsArray.length; i++){
                                    polygon = polygonsArray[i];
                                    layer = L.polygon(polygon, {style: {fillColor: 'red', color: 'red'}}).addTo(map_{{ id_map }});
                                    layers.push(layer)

                                    // edit input field
                                    $('#{{widget.attrs.id}}').val(JSON.stringify(layer.toGeoJSON()));

                                    addEventListenersToLayer( layer );
                                }

                                setBounds( layers );

                            }else{
                                alert("Unsupported geometry file type detected : '" + appType + "'");
                            }
                        }
                    });
                    {% endif %}
                </script>
                {% endlocalize %}
                {% endwith %}

            </div>
        </div>

        
