{% extends 'sceletons/modal-form.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block modal-title %}
{% trans 'Update service' %}
{% endblock %}

{% block modal-footer %}
<a id="id_dismiss_update_service_btn" class="btn {{ THEME.MODAL.BTN_WARNING_COLOR }}" href="{% url 'service:detail' service.metadata.id %}" role="button">{% trans 'Dismiss' %}</a>
<button id="id_submit_update_service_btn" type="button submit" class="btn {{ THEME.MODAL.BTN_PRIMARY_COLOR }}">
    <div id="id_loading_spinner_div" class="d-none">
        {% include 'includes/loading_spinner.html' %}
    </div>
    <div id="id_next_div">
        {% trans 'Next' %}
    </div>
</button>
<script type="application/javascript">
    $( "#id_modal_form_update_service" ).submit(function() {
        $( "#id_loading_spinner_div" ).removeClass( "d-none" );
        $( "#id_next_div" ).addClass( "d-none" );
        $( "#id_dismiss_update_service_btn" ).addClass( "disabled" );
        $( "#id_submit_update_service_btn" ).prop( "disabled", true);
    });
</script>

{% endblock %}
