{% extends 'base.html' %}
{% load i18n %}
{% block head %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            {% include 'breadcrumb/breadcrumb.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group my-3">
                {% url 'password_change_done' as url %}
                <a href="{{url}}" class="list-group-item list-group-item-action {% if request.path == url %}active{% endif %}" {% if request.path == url %}aria-current="true"{% endif %}>{% trans 'Profile' %}</a>
                {% url 'password_change' as url %}
                <a href="{{url}}" class="list-group-item list-group-item-action {% if request.path == url %}active{% endif %}" {% if request.path == url %}aria-current="true"{% endif %}>{% trans 'Change password' %}</a>
                {% url 'edit_profile' as url %}
                <a href="{{url}}" class="list-group-item list-group-item-action {% if request.path == url %}active{% endif %}" {% if request.path == url %}aria-current="true"{% endif %}>{% trans 'Edit profile' %}</a>
                {% url 'subscription_list' as url %}
                <a href="{{url}}" class="list-group-item list-group-item-action {% if request.path == url %}active{% endif %}" {% if request.path == url %}aria-current="true"{% endif %}>{% trans 'Manage subscriptions' %}</a>
            </div>
        </div>
        <div class="col-md-9">
            {% block usercontent %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}