<div class="accordion" id="id_accordion_{{id_accordion}}_{{id_accordion_combined}}">
    <div class="card {{THEME.CARD.TXT_COLOR}} {{THEME.CARD.BG}} mt-3 {{THEME.CARD.BOARDER}}">
    <div class="card-header">
      <h2 class="mb-0">
        <button id="id_accordion_btn_{{id_accordion}}_{{id_accordion_combined}}" class="btn {% if button_type %}{{button_type}} {{THEME.CARD.LINK_COLOR}} {% else %} {{THEME.ACCORDION.BTN_PRIMARY_COLOR}} {% endif %} collapsed" type="button" data-toggle="collapse" data-target="#id_collapse_{{id_accordion}}_{{id_accordion_combined}}" aria-expanded="false" aria-controls="id_collapse_{{id_accordion}}_{{id_accordion_combined}}">
            {% block accordion-button-title %}
            {% endblock %}
        </button>
      </h2>
    </div><!--</card-header-->
    <div id="id_collapse_{{id_accordion}}_{{id_accordion_combined}}" class="collapse" aria-labelledby="id_heading_{{id_accordion}}_{{id_accordion_combined}}" data-parent="#id_accordion_{{id_accordion}}_{{id_accordion_combined}}">
          <div class="card-body">

          {% block accordion-body %}
          {% endblock %}
      </div><!--</card-body-->
</div><!--</card-->
    </div><!--</accordion-collapse-content>-->
</div><!--</accordion>-->