{% comment %}
we use BREADCRUMB from the DefaultContext class; see response.py
for right usage:
Use this sceleton only on detail views. The two last items of the breadcrum are disabled.
{% endcomment %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      {% for crumb in BREADCRUMB %}
        <li class="breadcrumb-item {% if crumb.is_last or crumb.is_penultimate %}active{% endif %}" {% if crumb.is_last %}aria-current="page"{% endif %}>
            {% if crumb.is_last or crumb.is_penultimate %}
                {{crumb.item}}
            {% else %}
                <a href="{{ROOT_URL}}/{{crumb.path}}">
                    {{crumb.item}}
                </a>
            {% endif %}
        </li>
      {% endfor %}
  </ol>
</nav>