<!-- Modal -->
{% load bootstrap4 %}
{% load i18n %}
{# Usage: use with parameter on expanding template to declare show_modal, id_modal and form variable  #}
<div class="modal {% if wizard.form.errors|length > 0  %} animated shake {% endif %} {% if fade_modal %} fade {% endif %}" id="id_modal_{{id_modal}}" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="id_modal_title_{{id_modal}}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content {{THEME.MODAL.BG_COLOR}} {{THEME.MODAL.TXT_COLOR}}">
            <div class="modal-header">
                <h5 class="modal-title" id="id_modal_title_{{id_modal}}">
                    {{ modal_title }}
                    {% block modal-title %}
                    {% endblock %}
                </h5>
                {% block modal-header %}
                {% endblock %}
            </div>
                <form action="{{action_url}}" method="post" id="id_form">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                                {% bootstrap_form form %}
                                {% if form.has_autocomplete_fields %}
                                    {% include 'sceletons/autocomplete_form_media.html' %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% bootstrap_form wizard.form %}
                            {% if wizard.form.has_autocomplete_fields %}
                                {% include 'sceletons/autocomplete_form_media.html' %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        {% if wizard.steps.prev %}
                            <button name="wizard_goto_step" type="submit" class="btn {{ THEME.MODAL.BTN_SECONDARY_COLOR }}" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                            <button name="wizard_goto_step" type="submit" class="btn {{ THEME.MODAL.BTN_SECONDARY_COLOR }}" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
                        {% endif %}
                            <button type="submit" class="btn {{ THEME.MODAL.BTN_PRIMARY_COLOR }}">
                                {% if wizard.steps.next %}
                                    {% trans 'Next' %}
                                {% else %}
                                    {% autoescape off %}{{THEME.ICONS.SAVE}}{% endautoescape %} {% trans 'Save' %}
                                {% endif %}
                            </button>
                        {% block modal-footer %}
                        {% endblock %}
                    </div>
                </form>
        </div>
    </div>
</div>

{% if show_modal %}
    <script type="application/javascript">
        $('#id_modal_{{id_modal}}').modal('show');
    </script>
{% endif %}