<!-- Modal -->
{% load bootstrap4 %}
{% load i18n %}
{# Usage: use with parameter on expanding template to declare show_modal, id_modal and form variable  #}
<div class="modal {% if wizard.form.errors|length > 0  %} animated shake {% endif %} {% if fade_modal %} fade {% endif %}" id="id_modal_{{id_modal}}" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="id_modal_title_{{id_modal}}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content {{THEME.MODAL.BG_COLOR}} {{THEME.MODAL.TXT_COLOR}}">
            <div class="modal-header">
                <h5 class="modal-title" id="id_modal_title_{{id_modal}}">
                    {{ modal_title }}
                    {% block modal-title %}
                    {% endblock %}
                </h5>
                {% block modal-header %}
                {% endblock %}
            </div>
                <form action="{{action_url}}" method="post" id="id_form">
                    {% csrf_token %}
                    <div class="modal-body">

                        <ul class="nav nav-tabs">
                            {% for step in wizard.steps.all %}
                              <li class="nav-item">
                                <a class="nav-link {% if step == wizard.steps.current %} active {% endif %}">{{ step|title }}</a>
                              </li>
                            {% endfor %}
                        </ul>
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                                {% bootstrap_form form %}
                                {% if form.has_autocomplete_fields %}
                                    {% include 'sceletons/autocomplete_form_media.html' %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% bootstrap_form wizard.form %}
                            {% if wizard.form.has_autocomplete_fields %}
                                {% include 'sceletons/autocomplete_form_media.html' %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm">
                                <div class="float-left">
                                {% if wizard.steps.prev %}
                                    <button name="wizard_goto_step" type="submit" class="btn {{ THEME.MODAL.BTN_SECONDARY_COLOR }}" value="{{ wizard.steps.first }}">
                                        {% autoescape off %}{{THEME.ICONS.FIRST}}{% endautoescape %} {% trans 'First' %}
                                    </button>
                                    <button name="wizard_goto_step" type="submit" class="btn {{ THEME.MODAL.BTN_SECONDARY_COLOR }}" value="{{ wizard.steps.prev }}">
                                        {% autoescape off %}{{THEME.ICONS.BACK}}{% endautoescape %} {% trans 'Back' %}
                                    </button>
                                {% endif %}
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mx-auto text-center">
                                    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="float-right">
                                    <a href="{% url current_view %}" class="btn {{THEME.CARD.BTN_WARNING_COLOR}}" role="button" aria-pressed="true">
                                        {% autoescape off %}{{THEME.ICONS.REMOVE}}{% endautoescape %} {% trans 'Dismiss'%}
                                    </a>
                                    <button type="submit" class="btn {{ THEME.MODAL.BTN_PRIMARY_COLOR }}">
                                        {% if wizard.steps.next %}
                                            {% autoescape off %}{{THEME.ICONS.NEXT}}{% endautoescape %} {% trans 'Next' %}
                                        {% else %}
                                            {% autoescape off %}{{THEME.ICONS.SAVE}}{% endautoescape %} {% trans 'Save' %}
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                            </div>
                    </div>
                </form>
        </div>
    </div>
</div>

{% if show_modal %}
    <script type="application/javascript">
        $('#id_modal_{{id_modal}}').modal('show');
    </script>
{% endif %}