{% if tooltip %}
<span class="d-inline-block" tabindex="0" data-html="true" data-toggle="tooltip" data-placement="{% if tooltip_placement %}{{tooltip_placement}}{% else %}top{% endif %}" data-html="true" title="{{tooltip}}">
    <a class="{{link_color}}" href="{{btn_url}}" {% if new_tab %}target="_blank"{%endif%} href="{{href}}">
        {{value}}
    </a>
</span>
{% else %}
<a class="{{link_color}}" href="{{btn_url}}" {% if new_tab %}target="_blank"{%endif%} href="{{href}}">
    {{value}}
</a>
{% endif %}