{% load i18n static %}
<link rel="stylesheet" href="{% static 'css/leaflet-geoman.min.css' %}" />

<div class="row">
    <div class="col">
        <div id="id_map" style="height: 60vh; min-height: 400px;"></div>
    </div>
</div>
<div class="row mt-4 text-center">
    <div class="col">
        <button id="geometry-upload" type="button" class="btn {{ THEME.MODAL.BTN_INFO_COLOR }} " onclick="$('.geometry-upload').click();">
            <span>{% autoescape off %}{{THEME.ICONS.UPLOAD}}{% endautoescape %} </span>
            <span class="ml-2">{% trans 'Import GML3 or GeoJSON' %}</span>
        </button>
        <input class="d-none geometry-upload" type="file" title="{% trans 'Load geometry' %}"/>

    </div>
    <div class="col">
        <button id="geometry-download" type="button" class="btn {{ THEME.MODAL.BTN_INFO_COLOR }} geometry-download">
            <span>{% autoescape off %}{{THEME.ICONS.DOWNLOAD}}{% endautoescape %} </span>
            <span class="ml-2">{% trans 'Export as GeoJSON' %}</span>
        </button>
    </div>
</div>

{% with id_map='id' bbox=bbox  %}
    {% include 'leaflet/leaflet-client.html' %}
    <script type="application/javascript" src="{% static 'js/leaflet-geoman.min.js' %}"></script>
    <script type="text/javascript">
        // TODO: since initialization function is implemented, we can use fading and after fading of modal is finished, we can run the initialization function.
        // example
        //$('#myModal').on('shown.bs.modal', function (e) {
        //        initializeLeafletClient();
        //})
        initializeLeafletClient();
    </script>
{% endwith %}


{% with id_map='id'  %}
    {% include 'leaflet-extentions/controls.html' %}
{% endwith %}