{% extends 'sceletons/accordion.html' %}

{% load static i18n %}
{% if service.elements.all|length > 0 %}
    {% block accordion-button-title %}
        <i class="fa" aria-hidden="true"></i> {% trans 'Show elements' %} <span class="badge {{THEME.PILL_BADGE_INFO_COLOR}}">{{  service.elements.all|length }}</span>
    {% endblock %}

    {% block accordion-body %}
        {% for element in service.elements.all %}
            {% with element.id as id_accordion %}
                {% include 'includes/wfs/element_accordion.html' %}
            {% endwith %}
        {% endfor %}
    {% endblock %}
{% endif %}
