{% extends 'sceletons/accordion.html' %}

{% load static i18n %}
{% if featuretypes|length > 0 %}
    {% block accordion-button-title %}
        <i class="fa" aria-hidden="true"></i> {% trans 'Show featuretypes' %} <span class="badge {{THEME.ACCORDION.PILL_BADGE_LIGHT_COLOR}}">{{ featuretypes|length }}</span>
    {% endblock %}

    {% block accordion-body %}
        {% for featuretype in featuretypes %}
            {% with featuretype.id as id_accordion %}

                    {% include 'includes/wfs/featuretype_accordion.html' %}

            {% endwith %}
        {% endfor %}
    {% endblock %}
{% endif %}
