{% load i18n static %}
<!--navbar-->
<nav id="id_menu_nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img class="navbar-logo" src="{% static '/images/mr_map.png' %}" width="30" height="30" alt=""
             title="Map your s*** together!" alt="{% trans 'Mr. Map logo' %}">
    </a>
    <button class="navbar-toggler accordion" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if PATH == '' %}active{% endif %}">
                <a class="nav-link" href="{% url 'users:login' %}">
                    {% autoescape off %}{{ICONS.SIGNIN}}{% endautoescape %} {% trans 'Login' %}
                </a>
            </li>
            <li class="nav-item {% if PATH == 'signup' %}active{% endif %}">
                <a class="nav-link" href="{% url 'users:signup' %}">
                    {% autoescape off %}{{ICONS.SIGNUP}}{% endautoescape %} {% trans 'Sign up' %}
                </a>
            </li>
            <li class="nav-item {% if PATH == 'password_reset' %}active{% endif %}">
                <a class="nav-link" href="{% url 'users:password_reset' %}">
                    {% autoescape off %}{{ICONS.UNDO}}{% endautoescape %} {% trans 'Reset password' %}
                </a>
            </li>
        </ul>

    </div>
</nav>
<!--/navbar-->