{% load i18n %}

{% include 'metadata/tabs/header/default_title_header.html' %}

{% block tab_header %}
<li class="nav-item">
    <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
       aria-controls="home"
       aria-selected="true">{% trans 'Overview' %}</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
       aria-controls="contact" aria-selected="false">{% trans 'Contact' %}</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="terms-of-use-tab" data-toggle="tab" href="#terms-of-use" role="tab"
       aria-controls="terms-of-use" aria-selected="false">{% trans 'Terms Of Use' %}</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="quality-tab" data-toggle="tab" href="#quality" role="tab"
       aria-controls="quality"
       aria-selected="false">{% trans 'Quality' %}</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="interfaces-tab" data-toggle="tab" href="#interfaces" role="tab"
       aria-controls="interfaces" aria-selected="false">{% trans 'Interfaces' %}</a>
</li>
{% endblock %}