<script type="application/javascript">
    function connect() {
        const ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        const hostname = window.location.hostname;
        const port = window.location.port;
        const query_string = window.location.search;
        const route = '{{ws_route}}';
        var pending_tasks_socket = new WebSocket(ws_scheme + '://' + hostname + ':' + port + route + query_string);


        pending_tasks_socket.onopen = function open() {
            // do nothing if the websocket is correctly opened
        };

        pending_tasks_socket.onmessage = function message(event) {
            var json_data = JSON.parse(JSON.parse(event.data));

            if (json_data.hasOwnProperty('rendered_table')){
                $('#id_table_div [data-toggle="tooltip"]').tooltip("hide");

                $( "#id_table_div" ).html( json_data.rendered_table );

                // insert csrf token hidden field, cause the rendered_table from websocket cant generate csrf token field (no request)
                var table_div = document.getElementById("id_table_div");
                var forms_collection = table_div.getElementsByTagName("form");
                for(var i=0;i<forms_collection.length;i++)
                {
                   var csrf_token_field = document.createElement("input");
                   csrf_token_field.type = "hidden";
                   csrf_token_field.name = "csrfmiddlewaretoken";
                   csrf_token_field.value = csrftoken;
                   forms_collection[i].appendChild(csrf_token_field);
                }

                $('#id_table_div [data-toggle="tooltip"]').tooltip();
            }
        };

        pending_tasks_socket.onclose = function(e) {
            if (e.code > 1000){
                console.error('pending tasks socket closed unexpectedly');
                console.error(e);
            }
            // start reconnecting every 5 secs
            setTimeout(function() {
              connect();
            }, 5000);
        };
    }
    connect();
</script>