{% load i18n static %}
<!--navbar-->
<nav class="navbar navbar-expand-lg {{THEME.NAV.ITEM_COLOR}} {{THEME.NAV.BG_COLOR}}">
    <a class="navbar-brand" href="/">
        <img class="navbar-logo" src="{% static '/images/mr_map.png' %}" width="30" height="30" alt=""
             title="Map your s*** together!" alt="{% trans 'Mr. Map logo' %}">
    </a>
    <button class="navbar-toggler accordion" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if PATH == 'home' %}active{% endif %}">
                <a class="nav-link" href="{% url 'home' %}" title="{% trans 'Dashboard' %}">
                    {% autoescape off %}{{THEME.ICONS.DASHBOARD}}{% endautoescape %} {% trans 'Dashboard' %}
                </a>
            </li>
            <li class="nav-item dropdown {% if PATH == 'structure' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="{% url 'structure:index' %}" id="navbarStructureDropdown"
                   role="button"
                    aria-haspopup="true" aria-expanded="false">
                    {% autoescape off %}{{THEME.ICONS.HIERARCHY}}{% endautoescape %} {% trans 'Structure' %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarStructureDropdown">
                    <a class="dropdown-item" href="{% url 'structure:groups-index' %}">{% autoescape off %}{{THEME.ICONS.GROUP}}{% endautoescape %} {% trans 'Groups' %}</a>
                    <a class="dropdown-item" href="{% url 'structure:organizations-index' %}">
                        {% autoescape off %}{{THEME.ICONS.ORGANIZATION}}{% endautoescape %} {% trans 'Organizations'%}
                    </a>
                    <a class="dropdown-item" href="{% url 'structure:users-index' %}">
                        {% autoescape off %}{{THEME.ICONS.USER}}{% endautoescape %} {% trans 'User search'%}
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown {% if PATH == 'service' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="{% url 'resource:index' %}" id="navbarServicesDropdown"
                   role="button"
                   aria-haspopup="true" aria-expanded="false">
                    {% autoescape off %}{{THEME.ICONS.RESOURCE}}{% endautoescape %} {% trans 'Resources' %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarServicesDropdown">
                    <a class="dropdown-item" href="{% url 'resource:wms-index' %}">{% autoescape off %}{{THEME.ICONS.WMS}}{% endautoescape %}  {% trans 'WMS' %}</a>
                    <a class="dropdown-item" href="{% url 'resource:wfs-index' %}">{% autoescape off %}{{THEME.ICONS.WFS}}{% endautoescape %} {% trans 'WFS' %}</a>
                    <a class="dropdown-item" href="{% url 'resource:csw-index' %}">{% autoescape off %}{{THEME.ICONS.CSW}}{% endautoescape %} {% trans 'CSW' %}</a>
                    <a class="dropdown-item" href="{% url 'resource:datasets-index' %}">{% autoescape off %}{{THEME.ICONS.DATASET}}{% endautoescape %} {% trans 'Datasets' %}</a>
                </div>
            </li>
            <li class="nav-item dropdown {% if PATH == 'api' %}active{% endif %}">
                <a class="nav-link" href="{% url 'api:menu' %}" title="{% trans 'API' %}">
                    {% autoescape off %}{{THEME.ICONS.API}}{% endautoescape %} {% trans 'API' %}
                </a>
            </li>
            <li class="nav-item dropdown {% if PATH == 'logs' %}active{% endif %}">
                <a class="nav-link" href="{% url 'resource:logs-view' %}" title="{% trans 'Logs' %}">
                    {% autoescape off %}{{THEME.ICONS.LOGS}}{% endautoescape %} {% trans 'Logs' %}
                </a>
            </li>
        </ul>
        <div>
            <a class="btn {{THEME.NAV.BTN_LIGHT}}" href="{% url 'account' %}" title="{% trans 'Account' %}" role="button">
                {% autoescape off %}{{THEME.ICONS.USER}}{% endautoescape %} {{ user.username }}
            </a>
            <a class="btn {{THEME.NAV.BTN_LIGHT}}" href="{% url 'logout' %}" title="{% trans 'Logout' %}" role="button">
                {% autoescape off %}{{THEME.ICONS.SIGNOUT}}{% endautoescape %}
            </a>
        </div>
    </div>
</nav>
<!--/navbar-->