.wms-security-layout {
  position: relative;
  display: flex;
  width: calc(100% + 48px); /* to override parent's padding defined in site-layout class */
  height: calc(100% + 48px); /* to override parent's padding defined in site-layout class */
  max-height: calc(100vh);
  margin-top: -24px; /* to override parent's padding defined in site-layout class */
  margin-bottom: -24px; /* to override parent's padding defined in site-layout class */
  margin-left: -24px; /* to override parent's padding defined in site-layout class */
}

#map {
  width: 100%;
  height: 100%;
}
