{% load fontawesome_5 %}
{% load static %}
{% load i18n %}

{% block head %}
{% fontawesome_5_static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}" media="all" />
<script type="text/javascript" src="{% static '/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/base.js' %}"></script>
{% endblock %}

{% block body %}
<div class="card" itemscope itemtype="https://schema.org/Map">
    <!-- some other information about this view-->
    <div class="d-none">
        {% comment %} TODO: this is mess, insert the data from view by dynamic object {% endcomment %}
        <div itemprop="sdPublisher" itemscope itemtype="https://schema.org/Organization">
            <p itemprop="legalName">{{ SEMANTIC_WEB_HTML_INFORMATION.legalName }}</p>
            <p itemprop="email">{{ SEMANTIC_WEB_HTML_INFORMATION.email }}</p>
            <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                <p itemprop="addressCountry">{{ SEMANTIC_WEB_HTML_INFORMATION.addressCountry }}</p>
                <p itemprop="streetAddress">{{ SEMANTIC_WEB_HTML_INFORMATION.streetAddress }}</p>
                <span itemprop="addressRegion">{{ SEMANTIC_WEB_HTML_INFORMATION.addressRegion }}</span>
                <span itemprop="postalCode">{{ SEMANTIC_WEB_HTML_INFORMATION.postalCode }}</span>
                <span itemprop="addressLocality">{{ SEMANTIC_WEB_HTML_INFORMATION.addressLocality }}</span>
            </div>
        </div>
    </div>
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs pull-right" role="tablist">
            {% block tab_header%}
            {% endblock %}
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="row justify-content-end">
                <div class="col-1">
                    {% include 'quality/includes/quality_dropdown.html' with show_status=True show_indicator=True drop_right=True  %}
                </div>
                <div class="col-1">
                    <a href="{% url 'resource:subscription-new' md_id %}" class="btn btn-primary" title="{% trans 'Subscribe to keep updated' %}">
                        {% autoescape off %}{{ICONS.SAVE}}{% endautoescape %} {% trans 'Subscribe'%}
                    </a>
                </div>
            </div>
            {% block tab_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
