{% extends 'sceletons/card-dash.html' %}
{% load i18n %}
{% block card-header %}

<div class="text-center">
    <h4 class="card-title">{% autoescape off %}{{ICONS.RESOURCE}}{% endautoescape %} {% trans 'Resources' %}</h4>
</div>
{% endblock %}
{% block card-body %}
<div class="row">
    <div class="col-sm-6">
        {% include 'cards/my_services/wms.html' %}
    </div>
    <div class="col-sm-6">
        {% include 'cards/my_services/wfs.html' %}
    </div>
    <div class="col-sm-6">
        {% include 'cards/my_services/datasets.html' %}
    </div>
    <div class="col-sm-6">
        {% include 'cards/my_services/map_contexts.html' %}
    </div>
    <div class="col-sm-6">
        {% include 'cards/my_services/all_services.html' %}
    </div>
</div>
{% endblock %}