{% extends 'sceletons/card-dash.html' %}
{% comment %} TODO: this element should only have 50% of current viewport height {% endcomment %}
{% load i18n %}
{% block card-header %}

<div class="text-center">
    <h3>{% autoescape off %}{{THEME.ICONS.PENDINGTASK}}{% endautoescape %} {% trans 'Pending requests' %}</h3>
</div>
{% endblock %}
{% block card-body %}
    {% if no_requests %}
        {% include 'cards/pending_requests/empty.html' %}
    {% else %}
        {% for request in publishing_requests %}
            {% include 'cards/pending_requests/publishing_request_elements.html' %}
        {% endfor %}
        {% for request in group_invitation_requests %}
            {% include 'cards/pending_requests/group_invitation_request_elements.html' %}
        {% endfor %}
    {% endif %}
{% endblock %}