
{% load i18n static %}

{% block body %}
<style>
    .form-table{
        color: gray;
        max-height: 30vh;
        overflow-y: auto;
    }

    .field-label, .field{
        font-size: 1.2em;
    }

    .field input{
        color: gray;
        background-color: white;
        border: 1px solid gray;
        border-radius: 0.25rem;
        padding: 0.375rem 0.75rem;
    }

    .field input:focus{
        -webkit-box-shadow: 0 0 10px var(--primary-color);
        -moz-box-shadow: 0 0 10px var(--primary-color);
        box-shadow: 0 0 10px var(--primary-color);
    }

    .form-submit-area{
        padding: 20px 0;
    }


    #capabilities-uri{
        width: 80%;
    }

    .form-table{
        font-size: 0.9em !important;
        color: black;
    }
    .form-table tbody{
        border: 1px solid var(--primary-color-light);
        border-radius: 10px;
        padding: 10px;
    }
    .form-table td{

    }
</style>
<div class="modal-dialog">
    <div class="modal-close" title="{% trans 'Close' %}">
        x
    </div>
    {% trans 'The service has been registered. The following is an extract from the metadata.' %} <br>
    <form class="form-table" action="/service/new/" method="post">
        {% csrf_token %}
        <h4>{% trans 'Service:' %}</h4>
        <table class="form-table">
            <tr>
                <td class="field-label">{% trans 'Title:' %}</td>
                <td class="field">{{ wms.service_identification_title }}</td>
            </tr>
            <tr>
                <td class="field-label">{% trans 'Abstract:' %}</td>
                <td class="field">{{ wms.service_identification_abstract }}</td>
            </tr>
            <tr>
                <td class="field-label">{% trans 'Fees:' %}</td>
                <td class="field">{{ wms.service_identification_fees }}</td>
            </tr>
            <tr>
                <td class="field-label">{% trans 'Number of layers:' %}</td>
                <td class="field">{{ wms.layers|length }}</td>
            </tr>
            {% for res in wms.service_provider_onlineresource_linkage %}
                <tr>
                    <td class="field-label">{% trans 'Online resources:' %}</td>
                    <td class="field">{{ res }}</td>
                </tr>
            {% endfor %}
        </table>
        <h4>{% trans 'Contact:' %}</h4>
        <table class="form-table">
            <tr>
                <td class="field-label">{% trans 'Data provider:' %}</td>
                <td class="field">{{ wms.service_provider_providername }}</td>
            </tr>
            <tr>
                <td class="field-label">{% trans 'Responsible person:' %}</td>
                <td class="field">{{ wms.service_provider_responsibleparty_individualname }}</td>
            </tr>
            <tr>
                <td class="field-label">{% trans 'E-Mail:' %}</td>
                <td class="field">{{ wms.service_provider_address_electronicmailaddress }}</td>
            </tr>
        </table>
    </form>
    <div class="submit-button button">{% trans 'Finish' %}</div>
</div>

<script>
    $(".modal-close, .close-button").click(function(){
        toggleOverlay("");
    });
    $(".submit-button").click(function(){
        toggleOverlay("");
        location.reload();
    });
</script>

{% endblock %}