{% extends 'base.html' %}
{% load i18n static %}

{% block head %}
    <script type="text/javascript" src="{% static '/service/js/service.js' %}"></script>
{% endblock %}

{% block body %}
<div class="overview">
    <h1>{% trans 'Overview services' %}</h1>
    <div class="overview-title-actions-container">
        <h2>{% trans 'WMS' %}</h2>
        <div class="overview-action">
            <span class="action-button" title="{% trans 'Register new' %}" datatype="wms">
                +
            </span>
        </div>
    </div>
    <table class="overview-table">
        <tr>
            <th class="table-header">
                {% trans 'Title' %}
            </th>
            <th class="table-header">
                {% trans 'Abstract' %}
            </th>
            <th class="table-header">
                {% trans 'Active' %}
            </th>
            <th class="table-header">
                {% trans 'Organization' %}
            </th>
            <th class="table-header">
                {% trans 'Created' %}
            </th>
        </tr>
        {% for md in metadata_list %}
            <tr>
                <td class="table-cell">
                    <a href="{% url 'service:detail-wms' id=md.id %}">{{ md.title }}</a>
                </td>
                <td class="table-cell">
                    {{ md.abstract }}
                </td>
                <td class="table-cell">
                    {{ wms.is_active }}
                </td>
                <td class="table-cell">
                    {{ md.contact_organization }}
                </td>
                <td class="table-cell">
                    {{ md.created }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="overview-title-actions-container">
        <h2>{% trans 'WFS' %}</h2>
        <div class="overview-action">
            <span class="action-button" title="{% trans 'Register new' %}" datatype="wfs">
                +
            </span>
        </div>
    </div>
    <table class="overview-table">
        <tr>
            <th class="table-header">
                {% trans 'Title' %}
            </th>
            <th class="table-header">
                {% trans 'Created' %}
            </th>
        </tr>{% for wfs in wfs_list %}
        <tr>
            <td class="table-cell">
                {{ wfs.title }}
            </td>
            <td class="table-cell">
                {{ wfs.createdOn }}
            </td>
        </tr>{% endfor %}
    </table>

</div>
{% endblock %}