{% extends 'base.html' %}
{% load i18n static tz %}

{% block head %}
    <script type="text/javascript" src="{% static '/service/js/service.js' %}"></script>
{% endblock %}

{% block body %}
<div class="overview">
    <!--
    <h1>{% trans 'Overview services' %}</h1>
    -->
    {% if only_type == 'wms' or only_type is None %}
    <div class="overview-title-actions-container">
        <div class="container-left">
            <h2>{% trans 'WMS' %}</h2>
            {% if 'can_register_service' in permissions %}
                <div class="overview-action">
                    <span class="add-button" title="{% trans 'Register new' %}" datatype="wms" typeof="service">
                        +
                    </span>
                </div>
            {% endif %}
        </div>
        <div class="container-right">
            <select id="service-display-selector" title="Group elements">
                <option value="services" {% if select_default == 'services' %} selected {% endif %}>{% trans 'Show services' %}</option>
                <option value="layers" {% if select_default == 'layers' %} selected {% endif %}>{% trans 'Show layers' %}</option>
            </select>
        </div>
    </div>
    {% if metadata_list_wms|length > 0 %}
    <table class="overview-table">
        <tr>
            <th class="table-header">
                {% trans 'Title' %}
            </th>
            {% if select_default == 'layers' %}
                <th class="table-header">
                    {% trans 'Parent service' %}
                </th>
            {% endif %}
            <th class="table-header">
                {% trans 'Active' %}
            </th>
            <th class="table-header">
                {% trans 'Version' %}
            </th>
            <th class="table-header">
                {% trans 'Data provider' %}
            </th>
            <th class="table-header">
                {% trans 'Registered by group' %}
            </th>
            <th class="table-header">
                {% trans 'Registered for' %}
            </th>
            <th class="table-header">
                {% trans 'Created' %}
            </th>
        </tr>
        {% for md in metadata_list_wms %}
            <tr>
                <td class="table-cell">
                    <a href="{% url 'service:detail-wms' id=md.id %}">{{ md.title }}</a>
                </td>
                {% if select_default == 'layers' %}
                    <td class="table-cell">
                        {{ md.service.parent_service.metadata.title }}
                    </td>
                {% endif %}
                <td class="table-cell">
                    {% if md.is_active %}
                    <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Active' %}">
                    {% else %}
                    <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'Not active' %}">
                    {% endif %}
                </td>
                <td class="table-cell">
                    {{ md.service.servicetype.version }}
                </td>
                <td class="table-cell" title="{{ md.contact.organization_name }}">
                    {{ md.contact.organization_name }}
                </td>
                <td class="table-cell">
                    <a href="{% url 'structure:detail-group' md.service.created_by.id %}">{{ md.service.created_by }}</a>
                </td>
                <td class="table-cell">
                    {% if md.service.published_for is not None %}
                        <a href="{% url 'structure:detail-organization' md.service.published_for.id %}">{{ md.service.published_for }}</a>
                    {% else %}
                        {{ md.service.published_for }}
                    {% endif %}
                </td>
                <td class="table-cell">
                    {{ md.created }}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        {% trans 'None ¯\_(ツ)_/¯' %}
    {% endif %}

    {% endif %}
    {% if only_type == 'wfs' or only_type is None %}

    <div class="overview-title-actions-container">
        <div class="container-left">
        <h2>{% trans 'WFS' %}</h2>
        {% if 'can_register_service' in permissions %}
            <div class="overview-action">
                <span class="add-button" title="{% trans 'Register new' %}" datatype="wfs" typeof="service">
                    +
                </span>
            </div>
        {% endif %}
        </div>
        <div class="container-right">

        </div>
    </div>
    {% if metadata_list_wfs|length > 0 %}
    <table class="overview-table">
        <tr>
            <th class="table-header">
                {% trans 'Title' %}
            </th>
            <th class="table-header">
                {% trans 'Active' %}
            </th>
            <th class="table-header">
                {% trans 'Version' %}
            </th>
            <th class="table-header">
                {% trans 'Data provider' %}
            </th>
            <th class="table-header">
                {% trans 'Registered by group' %}
            </th>
            <th class="table-header">
                {% trans 'Registered for' %}
            </th>
            <th class="table-header">
                {% trans 'Created' %}
            </th>
        </tr>
        {% for wfs in metadata_list_wfs %}
            <tr>
                <td class="table-cell">
                    <a href="{% url 'service:detail-wfs' id=wfs.id %}">{{ wfs.title }}</a>
                </td>
                <td class="table-cell">
                    {% if wfs.is_active %}
                    <img src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Active' %}">
                    {% else %}
                    <img src="{% static 'service/images/icn_false.png' %}" title="{% trans 'Not active' %}">
                    {% endif %}
                </td>
                <td class="table-cell">
                    {{ wfs.service.servicetype.version }}
                </td>
                <td class="table-cell">
                    {{ wfs.contact.organization_name }}
                </td>
                <td class="table-cell">
                    <a href="{% url 'structure:detail-group' wfs.service.created_by.id %}">{{ wfs.service.created_by }}</a>
                </td>
                <td class="table-cell">
                    {% if wfs.service.published_for is not None %}
                        <a href="{% url 'structure:detail-organization' wfs.service.published_for.id %}">{{ wfs.service.published_for }}</a>
                    {% else %}
                        {{ wfs.service.published_for }}
                    {% endif %}
                </td>
                <td class="table-cell">
                    {{ wfs.created | localtime }}
                </td>
            </tr>
        </tr>{% endfor %}
    </table>
    {% else %}
        {% trans 'None ¯\_(ツ)_/¯' %}
    {% endif %}
    {% endif %}

</div>
{% endblock %}