<div id="id_pending_tasks_div"></div>
<script type="application/javascript">
    var pending_task_count = 0;
    var timer;

    function get_pending_task_list() {

        fetch('{% url 'resource:pending-tasks' %}', {redirect: 'manual'})
        .then(function(response) {
            return response.text().then(function( text ) {
                $('#id_pending_tasks_div [data-toggle="tooltip"]').tooltip("hide");
                $( "#id_pending_tasks_div" ).html( text );
                $('#id_pending_tasks_div [data-toggle="tooltip"]').tooltip();

                // -1 for table header row
                rowCount = $('#id_pending_tasks_div table tr').length -1;

                if ( rowCount < 1 ){
                    // table is empty - stop interval
                    clearInterval( timer );
                    // delete content
                    $( "#id_pending_tasks_div" ).html( '' );
                    timer = setInterval(get_pending_task_list, 5000);
                }

                // todo: refresh resource tables if something become changed
            })
        });
    }

    timer = setInterval(get_pending_task_list, 1000);
</script>