{% load i18n static tz %}
{% load django_tables2 %}
{% load fontawesome_5 %}
{% load bootstrap4 %}
{% load query_parameters %}
<div class="card {{THEME.TXT_DEF_COLOR}} {{THEME.BG_COLOR}} mt-3">
    <div class="card-header">
        <div class="d-flex w-100 justify-content-between">
            <div class="row">
                <div class="col">
                    <h4 class="mb-1 mr-3">{% fa5_icon 'tasks' 'fas' %} {% trans 'Pending tasks' %}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="overflow-auto">
                    {% if pt_table.rows %}
                        {% render_table pt_table %}
                    {% else %}
                    <span id="id_pt_empty">{% trans 'None ¯\_(ツ)_/¯' %}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>