{% load i18n static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/structure/css/form.css' %}" media="all" />
<link rel="stylesheet" type="text/css" href="{% static '/structure/css/new_service_uri_form.css' %}" media="all" />
{% endblock %}

{% block body %}
<div class="modal-dialog">
    <div class="modal-close" title="{% trans 'Close' %}">
        x
    </div>
    {% if error %}
    <article>
        {% trans 'The URI is invalid.' %}<br>
        {% trans 'Please check and try again.' %}
        <div class="button close-button">{% trans 'Okay' %}</div>
    </article>
    {% else %}
    <article>
        {% trans 'You are about to register this service.' %}<br>
        {% trans 'Do you want to continue?' %}
    </article>
    <form action="/service/new/" method="post" >
        <table class="form-table">
            <tr>
                <td class="field-label">{% trans 'OGC Request:' %}</td>
                <td class="field">{{ request_action }}</td>
            </tr>
            <tr>
                <td class="field-label">{% trans 'OGC service:' %}</td>
                <td class="field">{{ service_type }}</td>
            </tr>
            <tr>
                <td class="field-label">{% trans 'OGC Version:' %}</td>
                <td class="field">{{ version }}</td>
            </tr>
            <tr>
                <td class="field-label">{% trans 'URI:' %}</td>
                <td class="field">{{ uri }}</td>
            </tr>
        </table>
        <div class="submit-button button">{% trans 'Continue' %}</div>
    </form>
    {% endif %}
</div>

<script>
    $(".modal-close, .close-button").click(function(){
        toggleOverlay("");
    });
    $(".submit-button").click(function(){
        replaceButtonWithSpinner($(this));
        startServiceRegistration('{{ full_uri }}');
    });
</script>

{% endblock %}