{% load i18n static %}
<style>

    .field-label, .field{
        font-size: 1.2em;
    }

    .field input{
        color: gray;
        background-color: white;
        border: 1px solid gray;
        border-radius: 0.25rem;
        padding: 0.375rem 0.75rem;
    }

    .field input:focus{
        -webkit-box-shadow: 0 0 10px var(--primary-color);
        -moz-box-shadow: 0 0 10px var(--primary-color);
        box-shadow: 0 0 10px var(--primary-color);
    }

    .form-submit-area{
        padding: 20px 0;
    }


    #capabilities-uri{
        width: 80%;
    }

    .form-table{
        font-size: 0.9em !important;
        color: black;
    }
    .form-table tbody{
        border: 1px solid var(--primary-color-light);
        border-radius: 10px;
        padding: 10px;
    }
    .form-table td{

    }

    .loading-spinner{
        border: none;
        color: white;
        padding: 0 10px 0 0;
    }

    .submit-button{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-advice{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--secondary-color);
        padding: 10px;
        margin-top: 10px;
    }

    .form-advice span{
        text-align: justify;
        color: white;
        font-weight: bold;
        max-width: 60vw;
    }
    .form-advice img{
    }

    .modal-content{
        max-height: 75vh;
        overflow-y: auto;
    }
</style>

{% block body %}
<div class="modal-dialog">
    <div class="modal-close" title="{% trans 'Close' %}">
        x
    </div>
    <div class="modal-content">
        {% if error %}
        <article>
            {% trans 'The URI is invalid.' %}<br>
            {% trans 'Please check and try again.' %}
            <div class="button close-button">{% trans 'Okay' %}</div>
        </article>
        {% else %}
        <article>
            {% trans 'You are about to register this service.' %}<br>
        </article>
        <form action="/service/new/" method="post" >
            <table class="form-table">
                <tr>
                    <td class="field-label">{% trans 'OGC Request:' %}</td>
                    <td class="field">{{ request_action }}</td>
                </tr>
                <tr>
                    <td class="field-label">{% trans 'OGC service:' %}</td>
                    <td class="field">{{ service_type }}</td>
                </tr>
                <tr>
                    <td class="field-label">{% trans 'OGC Version:' %}</td>
                    <td class="field">{{ version }}</td>
                </tr>
                <tr>
                    <td class="field-label">{% trans 'URI:' %}</td>
                    <td class="field">{{ uri }}</td>
                </tr>
                <tr>
                    <td class="field-label">{% trans 'Registering with group:' %}</td>
                    <td class="field">
                        <select id="user-groups-select">
                            {% for group in user.groups.all %}
                                <option value="{{ group.id }}">{{ group }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="field-label">{% trans 'Registering for other organization:' %}</td>
                    <td class="field">
                        <select id="publishable-organizations-select" data-links="{{ group_publishable_orgs }}">
                            <option value="None">{% trans 'No other' %}</option>
                            {% for group in user.groups.all %}
                                {% for org in group.publish_for_organizations.all %}
                                    <option value="{{ org.id }}">{{ org }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>


            <div class="form-advice">
                <img src="{% static 'structure/images/icn_mr_map_invert.png' %}">
                <span>
                    {% trans 'Please note:' %}
                    <br>
                    {% trans 'Depending on the numbers of layers or featuretypes provided by this service, the registration process can take up to a minute. Please be patient. Do not click around furiously.' %}
                </span>
            </div>

            <div class="submit-button button">
                <div class="loading-spinner hide">
                    <i class="fas fa-circle-notch fa-spin"></i>
                </div>
                <span id="submit-text">{% trans 'Continue' %}</span>
            </div>
        </form>
        {% endif %}
    </div>
</div>

<script>

    {% include 'modal-dialog-scripts.html' %}

    function checkGroupPublishableOrganizations(element){
        var selectedGroup = element.val();
        element = $("#publishable-organizations-select");
        var groupOrgs = JSON.parse(element.attr("data-links"))[selectedGroup];

        var options = element.find("option");
        var somethingEnabled = false;
        $.each(options, function(i){
            var val = parseInt($(options[i]).val());
            if($(options[i]).val() == "None"){
                // the default value for no other organization shall be used
                // skip in a jquery manner
                return;
            }

            if(groupOrgs.includes(val)){
                $(options[i]).attr("disabled", false);
                $(options[i]).attr("hidden", false);
                somethingEnabled = true;
            }else{
                $(options[i]).attr("disabled", true);
                $(options[i]).attr("hidden", true);
            }
        });
        //element.attr("disabled", !somethingEnabled);
        
    }

    $(".submit-button").click(function(){
        // check if the button was already pressed by checking if the spinner is visible
        var spinner = $(this).children(".loading-spinner");
        if(spinner.is(":visible")){
            alert("{% trans 'Mr. Map is doing his best. Please wait...' %}");
            return;
        }
        spinner.toggleClass("hide");
        var buttonText = $("#submit-text");
        replaceButtonWithSpinner($(this));

        var registerGroup = $("#user-groups-select").val();
        var registerForOrg = $("#publishable-organizations-select").val();

        startServiceRegistration('{{ full_uri }}', registerGroup, registerForOrg, buttonText);
    });

    $("#user-groups-select").change(function(){
        var element = $(this);
        checkGroupPublishableOrganizations(element);
    });

    $(document).ready(function(){
        checkGroupPublishableOrganizations($("#user-groups-select"));
    });

</script>

{% endblock %}