{% block body %}
{% load static i18n %}

<style>
    .submit-button:hover{
        background-color: red;
        border: 1px solid red;
    }

    .modal-content{
        max-height: 75vh;
        overflow-y: auto;
    }
</style>

<div class="modal-dialog">
    <div class="modal-close" title="{% trans 'Close' %}">
        x
    </div>
    <div class="modal-content">
        <article>
            {% trans 'You are about to remove this service.' %}<br>
            {% trans 'This will remove all related subelements and metadata.' %}<br>
            {% trans 'Do you want to continue?' %}
        </article>
        <table class="form-table">
            <tr>
                <th>{% trans 'ID:' %}</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>{% trans 'Title:' %}</th>
                <td>{{ metadata.title }}</td>
            </tr>
            <tr>
                <th>{% trans 'Abstract:' %}</th>
                <td>{{ metadata.abstract }}</td>
            </tr>
            <tr>
                <th>{% trans 'Number of subelements:' %}</th>
                <td>{{ sub_elements|length }}</td>
            </tr>
        </table>
        <div class="discard-button button">
            <div class="loading-spinner hide">
                <i class="fas fa-circle-notch fa-spin"></i>
            </div>
            <span id="button-text">
                {% trans 'Yes, remove!' %}
            </span>
        </div>
    </div>
</div>

<script>
    {% include 'modal-dialog-scripts.html' %}

    $(".button").click(function(){
        var spinner = $(this).children(".loading-spinner");
        if(spinner.is(":visible")){
            alert("{% trans 'Mr. Map is doing his best. Please wait...' %}");
            return;
        }
        // show loading symbol!
        var width = $(this).width();
        $("#button-text").hide();
        spinner.show();
        $(this).width(width);
        replaceButtonWithSpinner($(this));
        removeEntity({{ service.id }},true, 'service');
    });
</script>
{% endblock %}