
{% load i18n static %}

<style>

    .field-label, .field{
        font-size: 1.2em;
    }

    .field input{
        color: gray;
        background-color: white;
        border: 1px solid gray;
        border-radius: 0.25rem;
        padding: 0.375rem 0.75rem;
    }

    .field input:focus{
        -webkit-box-shadow: 0 0 10px var(--primary-color);
        -moz-box-shadow: 0 0 10px var(--primary-color);
        box-shadow: 0 0 10px var(--primary-color);
    }

    .form-submit-area{
        padding: 20px 0;
    }


    #capabilities-uri{
        width: 80%;
    }

    .form-table{
        font-size: 0.9em !important;
        color: black;
    }
    .form-table tbody{
        border: 1px solid var(--primary-color-light);
        border-radius: 10px;
        padding: 10px;
    }
    .form-table td{

    }
    .modal-content{
        max-height: 75vh;
        overflow-y: auto;
    }
</style>

{% block body %}

<div class="modal-dialog">
    <div class="modal-close" title="{% trans 'Close' %}">
        x
    </div>
    <div class="modal-content">
        <article>{{ article }}</article>
        <form class="form-table" action="{{ action_url }}" method="post">
            {% csrf_token %}
            <div class="field">
                {% for field in form %}
                    <div class="field-label">{{ field.label_tag }}</div>
                    <div id="request-uri" class="field">{{ field }}</div>
                {% endfor %}
            </div>
            <div id="service-register-button" class="button submit-button">{{ button_text }}</div>
        </form>
    </div>
</div>
<script>
    {% include 'modal-dialog-scripts.html' %}

    $(".submit-button").click(function(){
        {% if service_id is not None %}
            checkServiceRequestURI(true, {{ service_id }});
        {% else %}
            checkServiceRequestURI(false);
        {% endif %}
    });

    $(document).ready(function(){
        $("#capabilities-uri").focus();
    });
</script>

{% endblock %}