{% extends 'base.html' %}
{% load i18n %}
{% load menu %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            {% include 'breadcrumb/breadcrumb.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group my-3">
                {% generate_menu %}
                {% for item in menus.group_details %}
                <a href="{{item.url}}" class="list-group-item list-group-item-action {% if item.selected %}active{% endif %}" {% if item.selected %}aria-current="true"{% endif %}>{{item.title}}</a>
                {% for child in item.children %}
                <a href="{{child.url}}" class="pl-5 list-group-item list-group-item-action {% if child.selected %}active{% endif %}" {% if child.selected %}aria-current="true"{% endif %}>{{child.title}}</a>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}