{% extends 'structure/views/base.html' %}
{% load static i18n %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}

{% block page_title %}
<h2 class="card-title">{% autoescape off %}{{THEME.ICONS.GROUP}}{% endautoescape %} {{object}}</h2>
<h6 class="card-subtitle mb-2 text-muted">{% trans 'created by' %} {{object.created_by}}</h6>
{% endblock %}

{% block content %}
<div class="card my-3">
      <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'structure:group_details' object.pk %}">
                      {% trans 'Details' %}
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="{% url 'structure:group_members' object.pk %}">
                      {% trans 'Members' %} <span class="badge badge-secondary">{{members_count}}</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'structure:group_publisher_overview' object.pk %}">
                      {% trans 'Publishers' %} <span class="badge badge-secondary">{{publishers_count}}</span>
                  </a>
              </li>
          </ul>
      </div>
      <div class="card-body">
          {% render_table table %}
      </div>
</div>


{% endblock %}