{% extends 'base.html' %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            {% include 'breadcrumb/breadcrumb.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if object %}
            <h2 class="card-title">{{object.icon|safe}} {{object}}</h2>
            <h6 class="card-subtitle mb-2 text-muted">{% trans 'created by' %} <a href="{{object.created_by.get_absolute_url}}">{{object.created_by}}</a></h6>
            {% endif %}
        </div>
        {% if actions %}
        <div class="col">
            <div class="float-right">
                {% for action in actions %}
                {{ action|safe }}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}