{% load i18n %}
{% load fontawesome_5 %}
<table class="table">
    <caption class="d-none">{% trans 'Quality informations for ' %}{{title}}</caption>
    <tbody>
    <tr>
        <th scope="row">{% trans 'Status' %}</th>
        <td>
            {% comment %} TODO: add the right informations  {% endcomment %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Availability' %}</th>
        <td>
            {% comment %} TODO: add the right informations {% endcomment %}
        </td>
    </tr>
    </tbody>
</table>