/*

CONTAINS STYLE INFORMATION WHICH OVERWRITE DEFAULT BOOTSTRAP

Used for a more tree-like rendering of the service detail view
*/

.accordion-body{
    padding-right: 0;
    padding-bottom: 0;
}

.container-fluid{
    padding-right: 0;
}