@import "colour_schema.css";

html{
    font-family: 'Helvetica';
}

body{
    margin: 0;
}

a{
    text-decoration: none;
}

#body-content{
    padding: 0 1vw 0 1vw;
}

.modal-dialog{
    position: fixed;
    top: 20%;
    padding: 20px;
    width: 75vw;
    background-color: white;
    border-radius: 0.25rem;
}
.modal-close{
    float: right;
    position: relative;
    top: -20px;
    right: -20px;
    padding: 10px 15px 10px 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}
.modal-close:hover{
    color: white;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

#overlay{
    z-index: 10;
    opacity: 0;
	position: fixed;
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

#overlay.show{
    opacity: 1;
    pointer-events: auto;
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0 20px;
    height: 50px;
    background-color: var(--primary-color);
    font-size: 1.0em;
    z-index: 10;
    position: relative;
}

.navigation-bar-left{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.navigation-bar-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navigation-menu{
}

.navigation-title{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
    height: 100%;
    width: 100px;
    color: white;
    font-weight: bold;
    padding: 10px;
}
.navigation-title:hover{
    cursor: pointer;
    background-color: var(--primary-color-dark);
}

.navigation-element-list{
    display: none;
    background-color: var(--secondary-color);
}

.navigation-element{
    color: white;
    padding: 10px;
    border-top: 1px solid white;
    text-align: center;
}

.navigation-element:hover{
    cursor: pointer;
    background-color: var(--secondary-color-light);
}

#logout-button{
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

#logout-button:hover{
    background-color: var(--secondary-color);
    border-radius: 3px;
}

#logout-img{
    margin: 0 0 0 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th{
    text-align: left;
}

tr:nth-child(even){
    background-color: var(--primary-color-light);
}
tr:hover{
    cursor: pointer;
    background-color: var(--primary-color);
}

.table-header{
    font-weight: bold;
}

.button{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--secondary-color-light);
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    text-align: center;
}

.button:hover{
    cursor:pointer;
    background-color: var(--secondary-color-light);
}
