@import "colour_schema.css";

html{
    font-family: 'Helvetica';
    height: 100%;
}
h1,h2,h3,h4{
    margin: 0;
}

body{
    margin: 0;
    position:relative;
    min-height: 100vh;
}
.background{
    background-image: url("/static/structure/images/background.png");
    background-repeat: repeat;
}

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 3rem;
    background-color: white;
    border-top: 1px solid var(--primary-color-light);
    -webkit-display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 0 1em;
}

#current-lang{
    padding: 1em;
}

#current-lang:hover{
    cursor: pointer;
}

#lang-selector{
    background-color: white;
    color: gray;
    border: 1px solid lightgray;
    padding: 0.25em;
    border-radius: 0.25em;

    position: absolute;
    bottom: 40px;
}
.lang-item{
    padding: 1em;
}
.lang-item:hover{
    cursor: pointer;
    background-color: lightgray;
}

a{
    text-decoration: none;
    outline: 0;
}

.disabled{
    -webkit-filter: grayscale(1.0);
    filter: grayscale(1.0);
    opacity: 0.5;
}
.disabled:hover{
    opacity: 0.5;
}

.center{
    text-align: center;
}

.custom-metadata-headline{
    background-color: var(--message-error);
    padding: 10px;
    border: 0px solid;
    border-radius: 10px;
}

.invert{
    -webkit-filter: invert(1.0);
    filter: invert(1.0);
}

.hint{
    font-size: 0.9em;
    font-style: italic;
}

.hide{
    display: none;
}

.space-above{
    margin: 10px 0;
}

.space-below{
    margin: 0 0 10px 0;
}

.container-row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.messages{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    text-align: center;
}
.messages:hover{
    cursor:pointer;
    opacity: 0.75;
}
.message{
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.00em;
}
.message.error{
    background-color: var(--message-error);
    color: black;
}
.message.success{
    background-color: var(--message-success);
    color: black;
}
.message.info{
    background-color: var(--message-info);
    color: black;
}

#body-content{
    padding: 50px 1vw 5rem 1vw;
    position: relative;
    min-height: 100vh;
}


.layer-title, .back-title{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.layer-title img, .back-title img{
    padding: 0 10px 0 10px;
    /*filter: opacity(0.5);*/
}
.collapse-img, .back-title img{
    filter: opacity(0.5);
}

.layer-title:hover, .back-title:hover{
    opacity: 0.75;
    cursor: pointer;
}


.modal-dialog{
    position: fixed;
    max-height: 75vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 75vw;
    background-color: white;
    border-radius: 0.25rem;
}
.modal-close{
    float: right;
    position: relative;
    top: -2em;
    right: -2em;
    padding: 10px 15px 10px 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 100%;
    background-color: white;
}
.modal-close:hover{
    color: white;
    font-weight: bold;
    border: 1px solid white;
    background-color: var(--secondary-color);
    cursor: pointer;
}

#overlay{
    z-index: 10;
    opacity: 0;
	position: fixed;
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

#overlay.show{
    opacity: 1;
    pointer-events: auto;
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    height: 50px;
    background-color: var(--primary-color);
    font-size: 1.0em;
    z-index: 10;
    position: fixed;
    width: 100%;

    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
}

.navbar-logo{
    padding: 1em;
    max-height: 2.5em;
    max-width: 2.5em;
}

.navigation-bar-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navigation-bar-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pagination-wrapper{
    -webkit-display: flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination-input{
    margin: 0 0.25em;
    width: 6em;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    color: white;
    text-align: center;
}

#rpp-select{
    background-color: unset;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.default-select{
    color: black;
    background-color: unset;
    border: 1px solid gray;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    width: 100%;
}

.pagination-page{
    border-radius: 5px;
    text-align: center;
    padding: 0 0.3em 0 0.3em;
    color: white;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    margin: 0 0.25em;
    display: inline-block;
}

.pagination-page.current, .pagination-page:hover{
    color: var(--secondary-color);
    background-color: white;
}
.pagination-page:hover{
    cursor:pointer;
}

.account-name{
    font-weight: bold;
}

.primary-color{
    color: var(--secondary-color);
}

.navigation-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 100%;
    border-right: 1px solid white;
}
.navigation-menu:hover{
    cursor: pointer;
    background-color: var(--primary-color-dark);
}

.active-menu{
    background-color: var(--primary-color-dark);
}

.navigation-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 10em;
    height: 100%;
}

.navigation-element-list{
    display: none;
    position: absolute;
    top: 50px;
    width: 10em;
    background-color: var(--secondary-color);
}

.navigation-element{
    color: white;
    padding: 10px;
    border-top: 1px solid white;
    text-align: center;

}

.navigation-element:hover{
    cursor: pointer;
    background-color: var(--secondary-color-light);
}

.navigation-button{
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.navigation-button:hover{
    background-color: var(--secondary-color);
    border-radius: 3px;
}

.navigation-button img{
    margin: 0 5px 0 5px;
    max-height: 30px;
}

@keyframes pulse{
    0% {
        background-color: var(--secondary-color);
    }
    5% {
        background-color: var(--secondary-color-dark);
    }
    10% {
        background-color: var(--secondary-color);
    }
}

.notification-badge{
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    margin: 0 5px 0 5px;
    border-radius: 5px;
}

.unread{
	-webkit-animation: pulse 3s linear infinite;
	-moz-animation: pulse 3s linear infinite;
	-ms-animation: pulse 3s linear infinite;
	animation: pulse 3s linear infinite;
}

.notification-badge:hover{
    cursor: pointer;
    background-color: var(--secondary-color-light);
}

table{
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

th, td{
    padding: 5px;
}
td{
    border-right: 1px solid var(--primary-color);
}

th{
    text-align: center;
    border-right: 1px solid var(--primary-color);
}

tr:nth-child(even){
    background-color: var(--primary-color-light);
    border-right: 1px solid white;
}

tr:nth-child(odd){
}

.filter-container{
    margin: 1em 0;
    -webkit-display: flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: space-between;
}

.search-field{
    border: 1px solid var(--primary-color);
    line-height: 1.5em;
    padding: 10px;
    background-color: white;
    color: var(--secondary-color);
    border-radius: 1em;
}

.search-field:focus{
    -webkit-box-shadow: 0 0 10px var(--primary-color);
    -moz-box-shadow: 0 0 10px var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

.search-field::placeholder{
    color: var(--secondary-color);

}

.listable-container{
    display: flex;
    -webkit-display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    min-width: 100%;
}

.listable{
    margin: 0.25em 1em 0 0;
    padding:  5px;
    border: 0px solid;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: white;
    -webkit-display: flex;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
a.listable:hover{
    background-color: var(--secondary-color-light);
}

.overview-table{
    margin: 0 0 40px 0;
}

.overview-table-cell{
    max-width: 33vw;
}

.subelements{
    border: 1px solid var(--primary-color);
    padding: 5px;
    margin: 0 0 0 2em;
}

.hidden{
    display: none;
}

.table-header{
    font-weight: bold;
}

.detail-table th{
    text-align: unset;
    width: 20%;
}

.button{
    margin-right: 10px;
    padding: 10px;
    border: 0px solid var(--secondary-color-light);
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1.05em;
}

.button:hover{
    cursor:pointer;
}

.discard-button{
    background-color: red;
    border: 1px solid red;
    margin-top: 0.5rem;
}
.discard-button:hover{
    cursor: pointer;
    background-color: white;
    color: red;
}

.delete-container, .deactivate-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.delete-container:hover, .deactivate-container:hover, .activate-container:hover, .button-container:hover{
    cursor: pointer;
    opacity: 0.75;
}

.delete-container img{
    padding: 0 10px 0 0;
    -webkit-filter: invert(1.0);
    filter: invert(1.0);
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
    margin: 0 5px 0 5px;
}

.button-container img{
    padding: 0 10px 0 0;
}

.advice{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    padding: 10px;
    margin-top: 10px;
}

.advice span{
    text-align: justify;
    color: white;
    font-weight: bold;
    max-width: 60vw;
}

@-webkit-keyframes animate-rotate{
    from {
         -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
    }
    to {
         -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
    }
}
@-keyframes animate-rotate{
    from {
         -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
    }
    to {
         -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
    }
}
.rotating-image
{
    -webkit-animation: animate-rotate 4.5s infinite;
    animation: animate-rotate 4.5s infinite;
}

.progress-bar-wrapper{
    height: 1rem;
    position: relative;
    border: 1px solid var(--secondary-color);
}
.progress-bar{
    width: 100%;
    height: 1rem;
    position: absolute;
    top: 0;
}
.bg{
    background-color: var(--primary-color);
    opacity: 0.5;
}
.fg{
    background-color: var(--secondary-color);
    width: 1%;
}
.progress-bar.number{
    color: white;
    font-size: 0.8em;
    text-align: center;

}

.pending-task-table .task-title, .pending-task-table .task-phase{
    width: 15rem;
}
.pending-task-table .task-phase{
    text-align: center;
}
