@import "colour_schema.css";

html{
    font-family: 'Helvetica';
}
h1,h2,h3,h4{
    margin: 0;
}

body{
    margin: 0;
    padding: 0 0 5vh 0;
}
body.background{
    background-image: url("/static/structure/images/background.png");
    background-repeat: repeat;
}

a{
    text-decoration: none;
    outline: 0;
}

.hide{
    display: none;
}

.space-above{
    margin: 10px 0;
}

.space-below{
    margin: 0 0 10px 0;
}

.container-row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.messages{
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100vw;
    text-align: center;
}
.messages:hover{
    cursor:pointer;
    opacity: 0.75;
}
.message{
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.00em;
}
.message.error{
    background-color: var(--message-error);
    color: black;
}
.message.success{
    background-color: var(--message-success);
    color: black;
}
.message.info{
    background-color: var(--message-info);
    color: black;
}

#body-content{
    padding: 50px 1vw 0 1vw;
}


.layer-title, .back-title{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.layer-title img, .back-title img{
    padding: 0 10px 0 0;
    filter: opacity(0.5);
}

.layer-title:hover, .back-title:hover{
    opacity: 0.75;
    cursor: pointer;
}


.modal-dialog{
    position: fixed;
    max-height: 75vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 75vw;
    background-color: white;
    border-radius: 0.25rem;
}
.modal-close{
    float: right;
    position: relative;
    top: -20px;
    right: -20px;
    padding: 10px 15px 10px 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}
.modal-close:hover{
    color: white;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

#overlay{
    z-index: 10;
    opacity: 0;
	position: fixed;
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

#overlay.show{
    opacity: 1;
    pointer-events: auto;
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    height: 50px;
    background-color: var(--primary-color);
    font-size: 1.0em;
    z-index: 10;
    position: fixed;
    width: 100%;
}

#navbar-logo{
    padding: 10px;
    max-height: 40px;
    max-width: 40px;
}

.navigation-bar-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navigation-bar-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navigation-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100%;
    border-right: 1px solid white;
}
.navigation-menu:hover{
    cursor: pointer;
    background-color: var(--primary-color-dark);
}

.navigation-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 100%;
}

.navigation-element-list{
    display: none;
    position: absolute;
    top: 50px;
    width: 120px;
    background-color: var(--secondary-color);
}

.navigation-element{
    color: white;
    padding: 10px;
    border-top: 1px solid white;
    text-align: center;
}

.navigation-element:hover{
    cursor: pointer;
    background-color: var(--secondary-color-light);
}

.navigation-button{
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.navigation-button:hover{
    background-color: var(--secondary-color);
    border-radius: 3px;
}

.navigation-button img{
    margin: 0 5px 0 5px;
    max-height: 30px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 5px;
}

th{
    text-align: left;
    border-right: 1px solid var(--primary-color);
}

tr:nth-child(even){
    background-color: var(--primary-color-light);
}

tr:nth-child(odd){
    background-color: white;
}

.overview-table{
    margin: 0 0 40px 0;
}

.overview-table-cell{
    max-width: 33vw;
}

.subelements{
    border: 1px solid var(--primary-color);
    padding: 5px;
    margin: 0 0 0 5vw;
}

.hidden{
    display: none;
}

.table-header{
    font-weight: bold;
}

.detail-table th{
    width: 200px;
}

.button{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--secondary-color-light);
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1.05em;
}

.button:hover{
    cursor:pointer;
    background-color: var(--secondary-color-light);
}

.discard-button{
    background-color: red;
    border: 1px solid red;
}
.discard-button:hover{
    cursor: pointer;
    background-color: white;
    color: red;
}

.delete-container, .deactivate-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.delete-container:hover, .deactivate-container:hover, .activate-container:hover, .button-container:hover{
    cursor: pointer;
    opacity: 0.75;
}

.delete-container img{
    padding: 0 10px 0 0;
    -webkit-filter: invert(1.0);
    filter: invert(1.0);
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
    margin: 0 5px 0 5px;
}

.button-container img{
    padding: 0 10px 0 0;
}

.advice{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    padding: 10px;
    margin-top: 10px;
}

.advice span{
    text-align: justify;
    color: white;
    font-weight: bold;
    max-width: 60vw;
}