
/*
Declaration of used colours.
For best harmonizing colours use https://htmlcolorcodes.com/color-picker/
*/

:root{
    --primary-color: #91a3ff;
    --primary-color-light: #c8d1ff;
    --primary-color-dark: #6572b2;

    --secondary-color: #454d7a;
    --secondary-color-light: #576199;

    --background-color: white;

    /*
    https://www.color-hex.com/color/91a3ff

    These message colours are picked after the colour ergonomic suggestion.
    The info colour is the complementary colour of --primary-color.
    Success, error and the primary color create the triadic colors of #91a3ff
    */
    --message-info: #ffed91;
    --message-success: #a3ff91;
    --message-error: #ff91a3;
}