
/*
Declaration of used colours.
For best harmonizing colours use https://htmlcolorcodes.com/color-picker/
*/

:root{
    --primary-color: #91a3ff;
    --primary-color-light: #c8d1ff;
    --primary-color-dark: #6572b2;

    --secondary-color: #576199;
    --secondary-color-light: #454d7a;

    --background-color: white;
}