
body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 100px;
}

.frame-article{
    max-width: 30%;
}
.frame-article article, .frame article{
    color: gray;
    padding: 0 50px 0 0;
}

.frame{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    width: 40vw;
    max-width: 400px;
    box-shadow: 0 0 0 1px #e5e5e5;
}

.registration-frame{
    width: 60vw;
    max-width: none;
}

.frame-logo{
    max-width: 150px;
    height: 150px;
}

.login-form{
    margin: 0 0 0 20px;
}
.login-form-tr{
    background-color: white !important;
}

.registration-form{
    width: 25vw;
    min-width: 200px;
}
.registration-sidebar{
    width: 30vw;
    min-width: 100px;
}