
.frame-article{
    max-width: 30%;
}
article{
    color: gray;
}

.frame-wrapper{
    display: flex;
    padding: 10vh;
    justify-content: center;
}

.frame{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    width: 40vw;
    max-width: 400px;
    box-shadow: 0 0 0 1px #e5e5e5;
}

.registration-frame{
    width: 60vw;
    max-width: none;
}

.frame-logo{
    max-width: 150px;
    height: 150px;
}

.activation-frame{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-text: justify;
}
.activation-article{
    padding: 0;
}

.login-form{
    margin: 0 0 0 20px;
}
.login-form-tr{
    background-color: white !important;
}
.login-article, .registration-article{
    padding: 0 50px 0 0;
}

.registration-form{
    width: 25vw;
    min-width: 200px;
}
.registration-sidebar{
    width: 30vw;
    min-width: 100px;
    text-align: center;
}