@import "colour_schema.css";


.overview-title-actions-container{
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.add-button{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 5px 10px 5px 10px;
    margin: 0 0 0 10px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
.add-button:hover{
    background-color: var(--primary-color-dark);
    cursor: pointer;
}

.container-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.container-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


#show-all-organizations img{
    padding: 0 10px 0 0;
    -webkit-filter: invert(1.0);
    filter: invert(1.0);
}

#show-all-organizations{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
    font-size: 1.2em;
}


#show-all-organizations:hover{
    cursor: pointer;
    background-color: var(--secondary-color-light);
}