.action-cell{
    display: flex;
    justify-content: space-around;
}

.message-cell{
    width: 40vw;
    max-height: 300px;
    overflow: auto;
    font-style: italic;
}

.delete-container{
    max-width: 250px;
}