{% if tooltip %}
<span class='d-inline-block' tabindex='0' data-html='true' data-toggle='tooltip' data-placement='{% if tooltip_placement %}{{tooltip_placement}}{% else %}top{% endif %}' data-html='true' title='{{tooltip}}'>

    <div class="dropdown">
        <button class="btn {{btn_size}} {{btn_color}} dropdown-toggle {% if btn_disabled %}disabled{% endif %}" type="button" id="id_dropdown_tooltip" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if btn_loading %}{% include 'includes/loading_spinner.html' with no_text=True %}{% endif %}
            {{btn_value}}
        </button>
        <div class="dropdown-menu" aria-labelledby="id_dropdown_tooltip">
            {% for opt in btn_options %}
            <a class="dropdown-item" href="{{ opt.href }}">{{ opt.label }}</a>
            {% endfor %}
        </div>
    </div>

</span>
{% else %}
<div class="dropdown">
    <button class="btn {{btn_size}} {{btn_color}} dropdown-toggle {% if btn_disabled %}disabled{% endif %}" type="button" id="id_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if btn_loading %}{% include 'includes/loading_spinner.html' with no_text=True %}{% endif %}
        {{btn_value}}
    </button>
    <div class="dropdown-menu" aria-labelledby="id_dropdown">
        {% for opt in btn_options %}
        <a class="dropdown-item" href="{{ opt.href }}">{{ opt.label }}</a>
        {% endfor %}
    </div>
</div>
{% endif %}
