{% load bootstrap5 %}
<hr class="separator">
{{ form.media }}
{% bootstrap_form_errors form %}
{% bootstrap_field form.id %}
{% bootstrap_field form.parent %}
{% bootstrap_field form.parent_form_idx %}
{% bootstrap_field form.map_context %}
<div class="field-group my-5">
    <div class="row mb-2">
        <h5>Metainformation of MapContextLayer</h5>
    </div>
    {% bootstrap_field form.name %}
    {% bootstrap_field form.title %}
</div>
<div class="field-group my-5">
    <div class="row mb-2">
        <h5>Offerings for rendering of MapContextLayer</h5>
    </div>
    {% bootstrap_field form.dataset_metadata %}
    {% bootstrap_field form.layer %}
    {% bootstrap_field form.layer_scale_min %}
    {% bootstrap_field form.layer_scale_max %}
</div>