{% extends 'sceletons/table.html' %}
{% load static i18n %}
<div class="row mb-2 ">
    <div class="col">
        {% block table %}
            <tr>
                <th scope="row">{% trans 'Uuid' %}</th>
                <td>{{ service_md.uuid }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Service type' %}</th>
                <td>{{ service.servicetype }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Service type version' %}</th>
                <td>{{ service.servicetype.version }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Last update on' %}</th>
                <td>{{ service.metadata.last_modified }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Hits' %}</th>
                <td>{{ service.metadata.hits }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Abstract' %}</th>
                <td>{{ service_md.abstract }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Online resource' %}</th>
                <td>
                    <a class="{{THEME.TABLE.LINK_COLOR}}" href="{{ service_md.online_resource }}" target="_blank">{{ service_md.online_resource }}</a>
                </td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Keywords' %}</th>
                <td>
                    {% for kw in service_md.keywords.all %}
                        <span class="badge {{THEME.TABLE.PILL_BADGE_INFO_COLOR}}">{{ kw }}</span>
                    {% empty %}
                        {% trans 'No keywords provided' %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Access Constraints' %}</th>
                <td>{{ service_md.access_constraints }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Access secured' %}</th>
                <td>
                    {% if service_md.is_secured %}
                    <i class='fas fa-check text-success'></i>
                    {% else %}
                    <i class='fas fa-times text-danger'></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Responsible Person' %}</th>
                <td>{{ service_md.contact.person_name }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Organization' %}</th>
                <td>{{ service_md.contact.organization_name }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Phone' %}</th>
                <td>{{ service_md.contact.phone }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Facsimile' %}</th>
                <td>{{ service_md.contact.facsimile }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'E-Mail' %}</th>
                <td>{{ service_md.contact.email }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Address' %}</th>
                <td>{{ service_md.contact.address }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'City' %}</th>
                <td>{{ service_md.contact.city }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Post code' %}</th>
                <td>{{ service_md.contact.postal_code }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'State or province' %}</th>
                <td>{{ service_md.contact.state_or_province }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Country' %}</th>
                <td>{{ service_md.contact.country }}</td>
            </tr>
        {% endblock %}
    </div><!--</col-->
</div><!--row-->