.wms-security-layout {
  display: flex;
  width: calc(
    100% + 48px
  ); /* to override parent's padding defined in site-layout class */
  height: calc(
    100% + 48px
  ); /* to override parent's padding defined in site-layout class */
  position: relative;
  margin-left: -24px; /* to override parent's padding defined in site-layout class */
  margin-top: -24px; /* to override parent's padding defined in site-layout class */
  margin-bottom: -24px; /* to override parent's padding defined in site-layout class */
  max-height: calc(100vh);
}

#map {
  height: 100%;
  width: 100%;
}
