{% extends 'metadata/base/base.html' %}

{% block tab_header %}
{% include "metadata/tabs/header/default_header.html" %}
{% endblock %}

{% block tab_content %}
<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
    {% include "metadata/tabs/content/wms/root/overview_tab.html" %}
</div>
<div class="tab-pane fade" id="properties" role="tabpanel" aria-labelledby="properties-tab">
    {% include "metadata/tabs/content/wms/root/properties_tab.html" %}
</div>
<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    {% include "metadata/tabs/content/contact_tab.html" %}
</div>
<div class="tab-pane fade" id="terms-of-use" role="tabpanel" aria-labelledby="terms-of-use-tab">
    {% include "metadata/tabs/content/terms_of_use_tab.html" %}
</div>
<div class="tab-pane fade" id="quality" role="tabpanel" aria-labelledby="quality-tab">
    {% include "metadata/tabs/content/quality_tab.html" %}
</div>
<div class="tab-pane fade" id="interfaces" role="tabpanel" aria-labelledby="interfaces-tab">
    {% include "metadata/tabs/content/interfaces_tab.html" %}
</div>
{% endblock %}