.drawer-toggle-btn {
  position: absolute;
  top: 20px;
  z-index: 1001;
  height: 60px;
  width: 30px;
  padding: 0;
  border-radius: 5px 0 0 5px;
  border: solid 2px white;
  border-right: none;

  /* same transition timing as drawer */
  transition: right 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.drawer-toggle-btn.collapsed {
  right: 0px;
}

.drawer-toggle-btn.expanded {
  right: 1000px;
}
