{% extends 'sceletons/card.html' %}
{% load i18n static %}
{% load bootstrap4 %}
{% load django_tables2 %}


{% block card-header-title-left %}
<h4 class="mb-1 mr-3">{% autoescape off %}{{ICONS.ACCESS}}{% endautoescape %} {% trans 'Access Editor' %}</h4>
{% endblock %}

{% block card-header-subtitle-left %}
<h5 class="text-muted">
    {% if object.is_root %}
        {% trans 'Service:' %}
    {% elif object.is_featuretype_metadata %}
        {% trans 'Featuretype:' %}
    {% elif object.is_layer_metadata %}
        {% trans 'Layer:' %}
    {% endif %}
    {{ object.title }}
</h5>

{% endblock %}

{% block card-header-title-right %}
{% endblock %}

{% block card-header-subtitle-right %}
    <a href="{% url 'resource:detail' object.id %}">
    <span style="white-space: nowrap;">{% autoescape off %}{{ICONS.RETURN}}{% endautoescape %} {% trans 'Service Detail View' %}</span>
    </a>
{% endblock %}


{% block card-body %}

<h5>
    {% trans 'General settings' %}
</h5>
    {{ form.rendered_content }}
    <hr>

<h5>
    {% trans 'Edit group access' %}
</h5>
<div id="id_div_restrict_access_table">
    {{ table.rendered_content }}
</div>

<script type="application/javascript">
    var use_proxy_checked = $('#id_use_proxy_uri').prop('checked')
    var log_proxy_checked = $('#id_log_proxy_access').prop('checked')
    var restrict_access_checked = $('#id_is_secured').prop('checked')

    if ( $('#id_is_secured').prop('checked') == true ) {
        $('#id_div_restrict_access_table').css('pointer-events', '');
        $('#id_div_restrict_access_table').css('opacity', '');
    } else {
        $('#id_div_restrict_access_table').css('pointer-events', 'none');
        $('#id_div_restrict_access_table').css('opacity', '0.4');
    }

</script>

{% endblock %}