{% extends 'base.html' %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            {% include 'breadcrumb/breadcrumb.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% block page_title %}
            {% endblock %}
        </div>
        <div class="col">
            <div class="float-right">
                {% for action in object.get_actions %}
                {{ action|safe }}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}