{% load static i18n %}
{% load fontawesome_5 %}
<table class="table d-flex">
    <tbody>
    <tr>
        <th scope="row">{% trans 'is Queryable' %}</th>
        <td>
            {% if layer.is_queryable %}
            <h3>
                                <span class="badge badge-success" data-toggle="tooltip" data-placement="top"
                                      title="Layer is queryable">
                                    {% fa5_icon 'check-circle' 'far' %}
                                </span>
            </h3>
            {% else %}
            <h3>
                                <span class="badge badge-danger" data-toggle="tooltip" data-placement="top"
                                      title="Layer not queryable">
                                    {% fa5_icon 'times-circle' 'far' %}
                                </span>
            </h3>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Coordinate Reference System' %}</th>
        <td>
            <!-- TODO: is reference_system.all right? check it -->
            {% for rs in md.service.layer.metadata.reference_system.all %}
            <span class="listable">{{ rs.prefix }}{{ rs.code }}</span>
            {% empty %}
            {% trans 'No additional reference systems provided' %}
            {% endfor %}
        </td>
    </tr>
    <tr itemprop="spatialCoverage" itemscope itemtype="https://schema.org/Place">
        <th scope="row">{% trans 'Corner in geographic Coordinates' %}</th>
        <td itemprop="geo" itemscope itemtype="https://schema.org/GeoShape">
            <!-- TODO: test the box that the google testtool will find ==> https://search.google.com/structured-data/testing-tool -->
            <p itemprop="box">{{md.service.layer.bbox_lat_lon.boundary.extent.0}}
                {{md.service.layer.bbox_lat_lon.boundary.extent.1}}
                {{md.service.layer.bbox_lat_lon.boundary.extent.2}}
                {{md.service.layer.bbox_lat_lon.boundary.extent.3}}</p>
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Spatial extent' %}</th>
        <td itemprop="geo" itemscope itemtype="https://schema.org/GeoShape">
            <!-- TODO: insert here a dynamic generated preview of the spatial extent -->
        </td>
    </tr>
    </tbody>
</table>