{% extends 'sceletons/card.html' %}
{% load static i18n %}
{% load fontawesome_5 %}

{% block card-header-title-left %}
    <h4 class="mb-1 mr-3">{% autoescape off %}{{THEME.ICONS.GROUP}}{% endautoescape %} <strong>{{ group.name }}</strong></h4>
{% endblock %}
{% block card-header-title-right %}

{% endblock %}
{% block card-body %}
<div class="row mb-2 ">
    <div class="col">
        <div class="d-flex justify-content-between">
            {% if 'can_edit_group' in user_permissions and group.created_by == user %}
            <div>
                <button type="button" class="btn {{THEME.CARD.BTN_WARNING_COLOR}}" data-toggle="modal" data-target="#id_modal_edit_group_modal">
                    {% autoescape off %}{{THEME.ICONS.EDIT}}{% endautoescape %} {% trans 'Edit group' %}
                </button>
            </div>
            {% with form=edit_group_form %}
                {% with 'edit_group_modal' as id_modal %}
                    {% include 'modals/edit_group.html' %}
                {% endwith %}
            {% endwith %}
            {% endif %}
            {% if 'can_delete_group' in user_permissions and group.created_by == user %}
            <div class="ml-auto">
                <button type="button" class="btn {{THEME.CARD.BTN_DANGER_COLOR}}" data-toggle="modal" data-target="#id_modal_delete_group_modal">
                    {% autoescape off %}{{THEME.ICONS.REMOVE}}{% endautoescape %} {% trans 'Delete group' %}
                </button>
            </div>
            {% with form=delete_group_form %}
                {% with 'delete_group_modal' as id_modal %}
                    {% include 'modals/delete_group.html' %}
                {% endwith %}
            {% endwith %}
            {% endif %}
        </div>
    </div>
</div>

<div class="row mb-2 ">
    <div class="col">
        {% include 'includes/detail/groups_table.html' %}
    </div>
</div>

{% if user in members %}
<div class="row mb-2 ">
    <div class="col">
        {% with group.id as id_accordion %}
            {% include 'includes/detail/groups_publishes_for_accordion.html' %}
        {% endwith %}
    </div>
</div>
{% endif %}

{% endblock %}