{% extends 'sceletons/table.html' %}
{% load i18n %}
{% block table %}
<tr>
    <th scope="row">{% trans 'Organization' %}</th>
    <td>{{ group.organization }}</td>
</tr>
<tr>
    <th scope="row">{% trans 'Description' %}</th>
    <td>{{ group.description }}</td>
</tr>
<tr>
    <th scope="row">{% trans 'Members' %}</th>
    <td>
        {% for member in members %}
            {{ member.username }}<br>
        {% endfor %}
    </td>
</tr>
<tr>
    <th scope="row">{% trans 'Parent' %}</th>
    <td>{% if group.parent_group %}<a href="{% url 'structure:detail-group' group.parent_group.id %}">{{ group.parent_group }}</a>{% else %} None {% endif %}</td>
</tr>
<tr>
    <th scope="row">{% trans 'Permissions' %}</th>
    <td>
        {% for perm in group_permissions %}
            {{ perm }} <br>
        {% endfor %}
    </td>
</tr>
{% endblock %}