{% extends 'sceletons/card.html' %}
{% load static i18n %}
{% load fontawesome_5 %}
{% block card-header-title-left %}
    <h4 class="mb-1 mr-3">{% autoescape off %}{{THEME.ICONS.ORGANIZATION}}{% endautoescape %} <strong>{{ organization.organization_name }}</strong></h4>
{% endblock %}
{% block card-header-title-right %}

{% endblock %}
{% block card-body %}
<div class="row mb-2 ">
    <div class="col">
        <div class="row">
            {% if 'can_edit_organization' in user_permissions %}
                <div class="col-sm mb-2 text-center">
                    <button type="button" class="btn {{THEME.CARD.BTN_WARNING_COLOR}}" data-toggle="modal" data-target="#id_modal_edit_organization_modal">
                        {% autoescape off %}{{THEME.ICONS.EDIT}}{% endautoescape %}   {% trans 'Edit organization' %}
                    </button>
                </div>
                {% with form=edit_organization_form %}
                    {% with 'edit_organization_modal' as id_modal %}
                        {% with show_edit_organization_form as show_modal %}
                            {% include 'modals/edit_organization.html' %}
                        {% endwith %}
                    {% endwith %}
                {% endwith %}
            {% endif %}

            {% if 'can_request_to_become_publisher' in user_permissions %}
                <div class="col-sm mb-2 text-center">
                    <button type="button" class="btn {{THEME.CARD.BTN_SECONDARY_COLOR}}" data-toggle="modal" data-target="#id_modal_request_publishing_modal">
                        {% autoescape off %}{{THEME.ICONS.PUBLISHER}}{% endautoescape %}   {% trans 'Become publisher' %}
                    </button>
                </div>
                {% with form=publisher_form %}
                    {% with 'request_publishing_modal' as id_modal %}
                        {% with show_publisher_form as show_modal %}
                            {% include 'modals/request_publishing_for_organization.html' %}
                        {% endwith %}
                    {% endwith %}
                {% endwith %}
            {% endif %}

            {% if 'can_delete_organization' in user_permissions %}
                <div class="col-sm mb-2 text-center">
                    <button type="button" class="btn {{THEME.CARD.BTN_DANGER_COLOR}}" data-toggle="modal" data-target="#id_modal_delete_organization_modal">
                        {% autoescape off %}{{THEME.ICONS.REMOVE}}{% endautoescape %}   {% trans 'Delete organization' %}
                    </button>
                </div>
                {% with form=delete_organization_form %}
                    {% with 'delete_organization_modal' as id_modal %}
                        {% with show_delete_organization_form as show_modal %}
                            {% include 'modals/delete_organization.html' %}
                        {% endwith %}
                    {% endwith %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
</div>
<div class="row mb-2 ">
    <div class="col">
        {% include 'includes/detail/organizations_table.html' %}
    </div>
</div><!--row-->
{% if user in members %}
    <div class="row mb-2 ">
        <div class="col">
            {% with organization.id as id_accordion %}
                {% include 'includes/detail/organizations_publishes_for_accordion.html' %}
            {% endwith %}
        </div><!--col-->
    </div><!--row-->
{% endif %}
{% endblock %}