
{% load i18n static %}

{% block body %}
<style>
    {% include 'overlay/modal-dialog-style.html' %}
</style>
<div class="modal-dialog">
    <div class="modal-close" title="{% trans 'Close' %}">
        x
    </div>
    <div class="modal-content">
        {% if error is not None %}
            <h2 class="error">{% trans 'An error occured' %}</h2>
            <article>
                {% blocktrans %}
                Service could not be loaded. <br>
                The following HTTP error was raised during connection: <b>{{ error }}</b> <br>
                Please make sure the service is publicly available.
                {% endblocktrans %}
            </article>
            <div class="close-button button">{% trans 'Okay' %}</div>
        {% elif unknown_error is not None %}
            <h2 class="error">{% trans 'An error occured' %}</h2>
            <article>
                {% blocktrans %}
                Service could not be loaded. <br>
                The following error occured: <b>{{ unknown_error }}</b> <br>
                Please contact an administrator to inform about this issue.
                {% endblocktrans %}
            </article>
            <div class="close-button button submit-button">{% trans 'Okay' %}</div>
        {% else %}
        {% trans 'The service has been registered. The following is an extract from the metadata.' %} <br>
        <form class="form-table" action="/service/new/" method="post">
            {% csrf_token %}
            <h4>{% trans 'Service:' %}</h4>
            <table class="form-table">
                <tr>
                    <td class="field-label">{% trans 'Title' %}:</td>
                    <td class="field">{{ service.service_identification_title }}</td>
                </tr>
                <tr>
                    <td class="field-label">{% trans 'Type' %}:</td>
                    <td class="field">{{ service.service_type.value }}</td>
                </tr>
                <tr>
                    <td class="field-label">{% trans 'Abstract' %}:</td>
                    <td class="field">{{ service.service_identification_abstract }}</td>
                </tr>
                <tr>
                    <td class="field-label">{% trans 'Fees' %}:</td>
                    <td class="field">{{ service.service_identification_fees }}</td>
                </tr>
                {% if service.service_type.value == "wms" %}
                <tr>
                    <td class="field-label">{% trans 'Number of layers' %}:</td>
                    <td class="field">{{ service.layers|length }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td class="field-label">{% trans 'Online resources' %}:</td>
                    <td class="field">{{ service.service_provider_onlineresource_linkage }}</td>
                </tr>
            </table>
            <h4>{% trans 'Contact:' %}</h4>
            <table class="form-table">
                <tr>
                    <td class="field-label">{% trans 'Data provider' %}:</td>
                    <td class="field">{{ service.service_provider_providername }}</td>
                </tr>
                <tr>
                    <td class="field-label">{% trans 'Responsible person' %}:</td>
                    <td class="field">{{ service.service_provider_responsibleparty_individualname }}</td>
                </tr>
                <tr>
                    <td class="field-label">{% trans 'E-Mail' %}:</td>
                    <td class="field">{{ service.service_provider_address_electronicmailaddress }}</td>
                </tr>
            </table>
        </form>
        <div class="submit-button button">{% trans 'Finish' %}</div>
        {% endif %}

    {% include 'overlay/modal-dialog-footer.html' %}
    </div>
</div>

<script>
    {% include 'overlay/modal-dialog-scripts.html' %}

    $(".submit-button").click(function(){
        toggleOverlay("");
        location.reload();
    });
</script>

{% endblock %}