
    $(".modal-close, .close-button").click(function(){
        toggleOverlay("");
        if(sessionStorage.getItem("reloadOnClose")){
            sessionStorage.removeItem("reloadOnClose")
            location.reload();
        }
    });

    $(document).on("keydown, keypress", function(event){
        if (event.keyCode == 13){
            event.preventDefault();
        }
    });

    $(document).keyup(function(event){
        if (event.which == '13'){
            // Supress default form behaviour for enter pressing
            event.preventDefault();
            $(".submit-button").click();
            $(this).unbind();
        }
    });

    $(document).keyup(function(event){
        if (event.which == '27'){
            // Esc key pressed
            event.preventDefault();
            $(".modal-close").click();
            $(this).unbind();
        }
    });