{% extends 'sceletons/card.html' %}
{% load i18n %}

{% block card-header-title-left %}
<h5 class="card-title">{% autoescape off %}{{THEME.ICONS.WFS}}{% endautoescape %} {% trans 'WFS' %}</h5>
{% endblock %}

{% block card-header-title-right %}
<h5><span class="badge badge-pill {{THEME.CARD.BADGE_LIGHT}}">{{ wfs_count }}</span></h5>
{% endblock %}

{% block card-body %}
<p class="card-text">Some quick example text to build on the card title and make up the bulk
    of the
    card's
    content.</p>
<a class="btn {{THEME.CARD.BTN_PRIMARY_COLOR}}" href="{% url 'service:wfs-index' %}" role="button">
    {% trans 'Show'%}
</a>
{% endblock %}