{% extends 'sceletons/card.html' %}
{% load i18n %}

{% block card-header-title-left %}
<h5 class="card-title">{% autoescape off %}{{THEME.ICONS.WMS}}{% endautoescape %}</h5>
{% endblock %}

{% block card-header-title-center %}
<h5 class="card-title">{% trans 'WMS' %}</h5>
{% endblock%}

{% block card-header-title-right %}
<h5><span class="badge badge-pill {{THEME.CARD.BADGE_LIGHT}}">{{ wms_count }}</span></h5>
{% endblock %}

{% block card-body %}
<p class="card-text">
    {% trans 'Your registered Web Map Services.' %}
</p>
<a class="btn {{THEME.CARD.BTN_PRIMARY_COLOR}}" href="{% url 'service:wms-index' %}" role="button">
    {% trans 'Show'%}
</a>
{% endblock %}