

#capabilities-uri{
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.form-table{
    font-size: 0.9em !important;
    color: black;
}
.form-table tbody{
    border: 1px solid var(--primary-color-light);
    border-radius: 10px;
    padding: 10px;
}
.form-table td{

}