.collapsible-container{
    position: relative;
}

.collapsible-list{
    position: absolute;
    width: 100%;
}


.collapsible-table{
    padding: 0 0 0 1vw;
}

.lat-lon-preview{
    height: 300px;
    z-index: 1;
}

.mime-type-table{
    display: block;
    max-height: 250px;
    overflow: auto;
}

.mime-type-table tr:nth-child(even){
    background-color: white;
}

.mime-type-table tr:nth-child(odd){
    background-color: var(--primary-color-light);
}

.activate-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: green;
    color: white;
    font-weight: bold;

}

.deactivate-container img, .activate-container img{
    padding: 0 10px 0 0;
    -webkit-filter: brightness(0.0) invert(1.0);
    filter: brightness(0.0) invert(1.0);
}

.sublayer-container{
    padding: 0 0 0 0;
}

.sublayer-headline img{
    padding: 0 10px 0 0;
    -webkit-filter: invert(1.0);
    filter: invert(1.0);
}

.sublayer-headline{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
    font-size: 1.2em;
}


.sublayer-headline:hover{
    cursor: pointer;
    background-color: var(--secondary-color-light);
}

.update{
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.update.removed{
    background-color: red;
}
.update.new{
    background-color: green;
}

.update.new:hover{
    cursor: grab;
    opacity: 0.8;
}
.update.removed:hover{
    cursor: default;
    opacity: 0.8;
}


