{% load l10n static %}
<div id="id_{{ map_id }}_div" class="map-view" style="height: {{height}}; min-height: {{min_height}};"></div>
<link rel="stylesheet" type="text/css" href="{% static '/css/leaflet.min.css' %}" media="all"/>
<script type="text/javascript" src="{% static '/js/leaflet.js' %}"></script>
{% localize off %}
<script type="application/javascript">
var map_{{ map_id }};
var initialized = false;
function initializeLeafletClient{{ map_id }}(){
    if (!initialized) {
        map_{{ map_id }} = L.map('id_{{ map_id }}_div', {
            center: [{{ polygon.centroid.y }}, {{ polygon.centroid.x }}],
            zoom: {{ polygon.area }},
            layers: [
                new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                })
            ],
        }).fitBounds(
            [
                [{{ polygon.boundary.extent.1 }}, {{ polygon.boundary.extent.0 }}],
                [{{ polygon.boundary.extent.3 }}, {{ polygon.boundary.extent.2 }}],
            ]
            );

        {% if add_polygon_as_layer %}
            map_{{ map_id }}.addLayer(new L.geoJSON({{ polygon.geojson|safe }}));
        {% endif %}
        initialized = true;
    }
}
// we have to observe if the map div is visible, cause if the map div is encapsulated by other div which is not
// visible by default, the initialization of the leaflet client failed, cause it depends on the current view port.
var observer = new IntersectionObserver(function(entries) {
	if(entries[0].isIntersecting === true)
		initializeLeafletClient{{ map_id }}();
}, { threshold: [0] });

observer.observe(document.querySelector("#id_{{ map_id }}_div"));
</script>
{% endlocalize %}