<li class="list-group-item">
    <div class="row">
        <div class="col-sm">
            <div class="text-left">
            {{left|safe}}
            </div>
        </div>
        {% if center %}
        <div class="col-sm">
            <div class="mx-auto text-center">
            {{center|safe}}
            </div>
        </div>
        {% endif %}
        <div class="col-sm">
            <div class="float-right">
            {{right|safe}}
            </div>
        </div>
    </div>
</li>