{% extends 'sceletons/card.html' %}
{% load i18n static tz %}
{% load django_tables2 %}
{% load fontawesome_5 %}
{% load bootstrap4 %}

{% block card-header-title-left %}
    <h4 class="mb-1 mr-3">{% autoescape off %}{{THEME.ICONS.LOGS}}{% endautoescape %} {% trans 'Logs' %}</h4>
{% endblock %}

{% block card-header-title-center%}
{% endblock %}

{% block card-header-title-right %}
    {% if 'can_download_logs' in user_permissions %}
    <div class="dropdown">
      <button class="btn {{THEME.CARD.BTN_SUCCESS_COLOR}} dropdown-toggle" type="button" id="id_logs_download_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% autoescape off %}{{THEME.ICONS.DOWNLOAD}}{% endautoescape %} {% trans 'Download' %}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'resource:logs-download' %}?{{ request.GET.urlencode }}" data-toggle="tooltip" title="{% trans 'Download the current table as csv file.' %}" aria-labelledby="id_logs_download_dropdown">
            {% autoescape off %}{{THEME.ICONS.CSV}}{% endautoescape %} {% trans 'CSV' %}
        </a>
      </div>
    </div>
    {% endif %}
{% endblock %}
{% block card-body %}

{% render_table log_table %}

{% endblock %}
