{% extends 'sceletons/card.html' %}
{% load i18n static tz %}
{% load django_tables2 %}
{% load fontawesome_5 %}
{% load bootstrap4 %}

{% block card-header-title-left %}
    <h4 class="mb-1 mr-3">{% autoescape off %}{{THEME.ICONS.WMS}}{% endautoescape %} {% trans 'WMS' %}</h4>
{% endblock %}

{% block card-header-title-center%}
{% endblock %}

{% block card-header-title-right %}
    {% if 'can_register_service' in user_permissions %}
        <a role="button" class="btn {{THEME.CARD.BTN_SUCCESS_COLOR}}" href="{% url 'service:add' %}?current-view={{current_view}} ">
            {% autoescape off %}{{THEME.ICONS.ADD}}{% endautoescape %} {% trans 'New Service' %}
        </a>
    {% endif %}
{% endblock %}
{% block card-body %}

{% render_table wms_table %}

{% endblock %}
