{% extends 'sceletons/card.html' %}
{% load i18n static tz %}
{% load django_tables2 %}
{% load fontawesome_5 %}
{% load bootstrap4 %}

{% block card-header-title-left %}
<h4 class="mb-1 mr-3">{% autoescape off %}{{THEME.ICONS.HEARTBEAT}}{% endautoescape %} {% trans 'General health state' %}</h4>
{% endblock %}

{% block card-header-title-center%}
{% endblock %}

{% block card-header-title-right %}
{% endblock %}
{% block card-body %}

{% include 'includes/general_health_state_table.html' %}


{% endblock %}
