.drawer-toggle-tabs {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* flex: 1 0 auto; */
  top: 20px;
  z-index: 1001;
  /* same transition timing as drawer */
  transition: right 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.drawer-toggle-btn {
  height: 60px;
  width: 30px;
  padding: 0;
  border-radius: 5px 0 0 5px;
  border: none;
}

.drawer-toggle-btn--active {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}

.drawer-toggle-btn:focus,
.drawer-toggle-btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 5px 0 0 5px;
  border: solid 2px white;
  border-right: none;
}

.drawer-toggle-tabs.collapsed {
  right: 0px;
}

.drawer-toggle-tabs.expanded {
  right: 1000px;
}
