.tree-manager{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto;
  width: 500px;
  height: 100%;
}

.tree-manager-node {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.tree-manager-tree {
  overflow: auto;
  background: rgb(255, 255, 255);
}

.tree-manager-title {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color:rgba(255, 255, 255, 0.65);
  line-height: 25px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}

.tree-node-title-group1,
.tree-node-title-group2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tree-node-title-symbols svg{
  margin: 0 5px 0 5px;
}

.tree-manager .ant-tree .ant-tree-treenode {
  width: 100%;
}

.tree-manager .ant-tree .ant-tree-node-content-wrapper {
  width: 100%;
}