{% extends 'sceletons/table.html' %}
{% load i18n static %}
{% block table %}
    <tr>
        <th scope="row">{% trans 'Easy ID' %}</th>
        <td>{{ object.public_id }}</td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Identifier' %}</th>
        <td>{{ object.service.layer.identifier }}</td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Parent service' %}</th>
        <td>
            <a class="{{THEME.TABLE.LINK_COLOR}}" href="{% url 'resource:detail' object.service.parent_service.metadata.id %}" title="{{ object.service.parent_service.metadata.uuid }}">
                {{ object.service.parent_service.metadata.title }}
            </a>
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Title' %}</th>
        <td>{{ object.title }}</td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Abstract' %}</th>
        <td>{{ object.abstract }}</td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Keywords' %}</th>
        <td class="listable-container">
            {% for kw in object.keywords.all %}
                    <span class="badge {{THEME.TABLE.PILL_BADGE_INFO_COLOR}}">{{ kw }}</span>
            {% empty %}
                {% trans 'No keywords provided' %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Is available' %}</th>
        <td>
            {% if object.service.layer.is_available %}
            <em class='fas fa-check text-success'></em>
            {% else %}
            <em class='fas fa-times text-danger'></em>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Is queryable' %}</th>
        <td>
            {% if object.service.layer.is_queryable %}
            <em class='fas fa-check text-success'></em>
            {% else %}
            <em class='fas fa-times text-danger'></em>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Is opaque' %}</th>
        <td>
            {% if object.service.layer.is_opaque %}
            <em class='fas fa-check text-success'></em>
            {% else %}
            <em class='fas fa-times text-danger'></em>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Is cascaded' %}</th>
        <td>
            {% if object.service.layer.is_cascaded %}
            <em class='fas fa-check text-success'></em>
            {% else %}
            <em class='fas fa-times text-danger'></em>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Access secured' %}</th>
        <td>
            {% if object.is_secured %}
            <em class='fas fa-check text-success'></em>
            {% else %}
            <em class='fas fa-times text-danger'></em>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Hits' %}</th>
        <td>{{ object.hits }}</td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Scale range' %}</th>
        <td>[{{ object.service.layer.scale_min }}, {{ object.service.layer.scale_max }}]</td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Bounding box' %}</th>
        <td>
            {% if object.service.layer.bbox_lat_lon.area > 0.0 %}
            <div id="{{ object.service.layer.id.hex }}_map" class="map-view" style="height: 50vh; min-height: 200px;"></div>
                {% with id_map=object.service.layer.id.hex bbox=object.service.layer.bbox_lat_lon  %}
                    {% include 'leaflet/leaflet-client.html' %}
                    <script type="text/javascript">
                          initializeLeafletClient();
                    </script>
                {% endwith %}
            {% else %}
                {% trans 'No spatial data provided!' %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Reference systems:' %}</th>
        <td class="listable-container">
            {% for rs in object.reference_system.all %}
                <span class="badge {{THEME.TABLE.PILL_BADGE_INFO_COLOR}}">{{ rs.prefix }}{{ rs.code }}</span>
            {% empty %}
                {% trans 'No additional reference systems provided' %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Mime types:' %}</th>
        <td class="col-sm-10">
            {% with object.service.layer.id as id_accordion %}
                {% for key, values in mime_types.items %}
                {% with key as id_accordion_combined %}

                    {% include 'includes/wms/sublayer_mime_type_table.html' %}

                {% endwith %}
                {% endfor %}

            {% endwith %}
        </td>
    </tr>
{% endblock %}
