{% extends 'sceletons/table.html' %}
{% load i18n static %}
{% block table %}
    <tr>
        <th scope="row">{% trans 'Identifier' %}</th>
        <td>{{ service.identifier }}</td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Parent service' %}</th>
        <td>
            <a class="{{THEME.TABLE.LINK_COLOR}}" href="{% url 'service:detail' service.parent_service.metadata.id %}" title="{{ service.parent_service.metadata.uuid }}">
                {{ service.parent_service.metadata.title }}
            </a>
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Title' %}</th>
        <td>{{ service.metadata.title }}</td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Abstract' %}</th>
        <td>{{ service.metadata.abstract }}</td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Keywords' %}</th>
        <td class="listable-container">
            {% for kw in service.metadata.keywords.all %}
                    <span class="badge {{THEME.TABLE.PILL_BADGE_INFO_COLOR}}">{{ kw }}</span>
            {% empty %}
                {% trans 'No keywords provided' %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Is available' %}</th>
        <td>
            {% if service.is_available %}
            <em class='fas fa-check text-success'></em>
            {% else %}
            <em class='fas fa-times text-danger'></em>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Is queryable' %}</th>
        <td>
            {% if service.is_queryable %}
            <em class='fas fa-check text-success'></em>
            {% else %}
            <em class='fas fa-times text-danger'></em>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Is opaque' %}</th>
        <td>
            {% if service.is_opaque %}
            <em class='fas fa-check text-success'></em>
            {% else %}
            <em class='fas fa-times text-danger'></em>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Is cascaded' %}</th>
        <td>
            {% if service.is_cascaded %}
            <em class='fas fa-check text-success'></em>
            {% else %}
            <em class='fas fa-times text-danger'></em>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Access secured' %}</th>
        <td>
            {% if service.metadata.is_secured %}
            <em class='fas fa-check text-success'></em>
            {% else %}
            <em class='fas fa-times text-danger'></em>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Hits' %}</th>
        <td>{{ service.metadata.hits }}</td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Scale range' %}</th>
        <td>[{{ service.scale_min }}, {{ service.scale_max }}]</td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Bounding box' %}</th>
        <td>
            {% if service.bbox_lat_lon.area > 0.0 %}
            <div id="{{ service.id.hex }}_map" class="map-view" style="height: 50vh; min-height: 200px;"></div>
                {% with id_map=service.id.hex bbox=service.bbox_lat_lon  %}
                    {% include 'leaflet/leaflet-client.html' %}
                    <script type="text/javascript">
                          initializeLeafletClient();
                    </script>
                {% endwith %}
            {% else %}
                {% trans 'No spatial data provided!' %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Reference systems:' %}</th>
        <td class="listable-container">
            {% for rs in service.metadata.reference_system.all %}
                <span class="badge {{THEME.TABLE.PILL_BADGE_INFO_COLOR}}">{{ rs.prefix }}{{ rs.code }}</span>
            {% empty %}
                {% trans 'No additional reference systems provided' %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans 'Mime types:' %}</th>
        <td>
            {% with service.id as id_accordion %}
                {% for key, values in mime_types.items %}
                {% with key as id_accordion_combined %}

                    {% include 'includes/wms/sublayer_mime_type_table.html' %}

                {% endwith %}
                {% endfor %}

            {% endwith %}
        </td>
    </tr>
{% endblock %}
