{% extends 'sceletons/accordion.html' %}
{% load static i18n %}

{% block accordion-button-title %}
<i class="fa" aria-hidden="true"></i> {{ layer.metadata.title }} <span class="badge {{THEME.PILL_BADGE_INFO_COLOR}}">{{ layer.child_layer.all|length }}</span>
{% endblock %}

{% block accordion-body %}

    <div id="id_content_service_{{layer.metadata.id}}">
    </div>
    <script type="text/javascript">
        $('#id_accordion_btn_{{id_accordion}}_{{id_accordion_combined}}').click(function() {
            console.log('clicked');
          if ( $('#id_accordion_btn_{{id_accordion}}_{{id_accordion_combined}}').hasClass('collapsed') ) {
            $.get( '{% url 'service:detail' layer.metadata.id %}?no-base', function( data ) {
                $( "#id_content_service_{{layer.metadata.id}}" ).html( data );
            });
          }
        });
    </script>

{% endblock %}
