<div class="accordion" id="{{accordion_id}}" >
    <div class="card {{THEME.CARD.TXT_COLOR}} {{THEME.CARD.BG}} mt-1" style="overflow: inherit;">
        <div class="card-header" id="{{accordion_id}}_heading">
            <div class="row">
                <div class="col-sm">
                    <div class="text-left">
                        <h2 class="mb-0">
                            <button class="btn collapsed accordion text-left" type="button" data-toggle="collapse" data-target="#{{accordion_id}}_collapsible" aria-expanded="false" aria-controls="{{accordion_id}}_collapsible">
                                <i class="fa" aria-hidden="true"></i>
                                {% block accordion-button-title %}
                                    {{ accordion_title|safe }}
                                {% endblock %}
                            </button>
                        </h2>
                    </div>
                </div>
                {% if accordion_title_center %}
                <div class="col-sm">
                    <div class="mx-auto text-center">
                    {% block accordion-title-center %}
                        {{ accordion_title_center|safe }}
                    {% endblock %}
                    </div>
                </div>
                {% endif %}
                {% if accordion_title_right %}
                <div class="col-sm">
                    <div class="float-right">
                        {% block accordion-title-right %}
                            {{ accordion_title_right|safe }}
                        {% endblock %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div><!--</card-header-->
        <div id="{{accordion_id}}_collapsible" class="collapse" aria-labelledby="{{accordion_id}}_heading" data-parent="#{{accordion_id}}">
              <div id="{{accordion_id}}_body" class="card-body">
                {% block accordion-body %}
                  {% if accordion_body %}
                   {{ accordion_body|safe }}
                  {% endif %}
                {% endblock %}
              </div><!--</card-body-->
        </div><!--</card-->
    </div><!--</accordion-collapse-content>-->
</div><!--</accordion>-->
{% block ajax_script %}
{% endblock %}