{% if tooltip %}
<span class='d-inline-block' tabindex='0' data-html='true' data-toggle='tooltip' data-placement='{% if tooltip_placement %}{{tooltip_placement}}{% else %}top{% endif %}' data-html='true' title='{{tooltip}}'>
    <button class="btn {{ color.value }}" type="button" {% if data_toggle %}data-toggle="{{data_toggle}}"{% endif %} {% if data_target %}data-target="#{{data_target}}"{% endif %} {% if aria_expanded %}aria-expanded="{{aria_expanded}}"{% endif %} {% if aria_controls %}aria-controls="{{aria_controls}}"{% endif %}>
        {{ value|safe }}
    </button>
</span>
{% else %}
<button class="btn {{ color.value }}" type="button" {% if data_toggle %}data-toggle="{{data_toggle}}"{% endif %} {% if data_target %}data-target="#{{data_target}}"{% endif %} {% if aria_expanded %}aria-expanded="{{aria_expanded}}"{% endif %} {% if aria_controls %}aria-controls="{{aria_controls}}"{% endif %}>
    {{ value|safe }}
</button>
{% endif %}