{% extends 'base.html' %}
{% load i18n static tz %}

{% block body %}
<div class="container-fluid px-5">
    {% if pt_table.rows %}
        <div id="id_pending_tasks_div">
            {% include 'includes/pending_tasks.html' %}
        </div>
        {% include 'includes/pending_task_table_refresh_script.html' %}

    {% endif %}
    <div id="id_resource_wms_div">
        {% include 'includes/index/wms.html' %}
    </div>
    <div id="id_resource_wfs_div">
        {% include 'includes/index/wfs.html' %}
    </div>
    <div id="id_resource_csw_div">
        {% include 'includes/index/csw.html' %}
    </div>

    {% with 'Datasets' as service_type %}
        {% with dataset_table as table %}
            <div id="id_resource_dataset_div">
                {% include 'includes/index/datasets.html' %}
            </div>
        {% endwith %}
    {% endwith %}


</div>
{% endblock %}