{% extends 'base.html' %}
{% load i18n static tz %}

{% block body %}
<div class="container-fluid px-5">
    {% if pt_table.rows %}
        <div id="id_pending_tasks_div">
            {% include 'includes/pending_tasks.html' %}
        </div>
        {% include 'includes/pending_task_table_refresh_script.html' %}

    {% endif %}

    {% include 'includes/index/wms.html' %}

    {% include 'includes/index/wfs.html' %}

    {% include 'includes/index/csw.html' %}

    {% with 'Datasets' as service_type %}
        {% with dataset_table as table %}
                {% include 'includes/index/datasets.html' %}
        {% endwith %}
    {% endwith %}

</div>
{% endblock %}