{% extends 'base.html' %}
{% load i18n static tz %}

{% block body %}
<div class="container-fluid px-5">
    {% if pt_table.rows %}
        <div id="id_pending_tasks_div">
            {% include 'includes/pending_tasks.html' %}
        </div>
        <script type="application/javascript">
            interval = setInterval(function(){
                $.get( '{% url 'service:pending-tasks' %}', function( data ) {
                    $( "#id_pending_tasks_div" ).html( data );
                    $(function () {
                      $('[data-toggle="tooltip"]').tooltip()
                    })
                });
                // stop interval if table is empty and delete the pt_table
                if( $("#id_pt_empty").length ) {
                    clearInterval(interval);
                    setTimeout(function() {
                        $("#id_pending_tasks_div").remove();

                        // reload current page
                        location.reload();
                    }, 1000);
                };
            }, 1000);
        </script>
    {% endif %}

    {% if only_type == 'wms' or only_type is None %}
        {% include 'includes/index/wms.html' %}
    {% endif %}

    {% if only_type == 'wfs' or only_type is None %}
        {% include 'includes/index/wfs.html' %}
    {% endif %}

    {% with 'Datasets' as service_type %}
        {% with dataset_table as table %}
                {% include 'includes/index/datasets.html' %}
        {% endwith %}
    {% endwith %}

</div>
{% endblock %}