<!DOCTYPE html>
{% load i18n static %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>MapSkinner - 404</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/frame.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/form.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/server_error.css' %}" media="all" />
        <script>
            var rootUrl = '{{ ROOT_URL }}'
        </script>
    <script type="text/javascript" src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/base.js' %}"></script>
</head>
<body class="background">

    <audio id="ee-audio">
        <source src="{% static 'audio/ee_audio.mp3' %}" type="audio/mpeg">
    </audio>
    <div id="overlay">
    </div>

    <div class="server-error-content">
        <h1 class="server-error-title">404</h1>
        <div class="server-error-article">
            <img class="server-error-img" src="{% static 'MapSkinner/images/mr_map_404.png' %}" title="{% trans 'Mr. Map can`t find the page you are looking for' %}">
            <article class="article-txt">
                <h1>{% trans 'Oh no!' %}</h1>
                <div>{% trans 'The page you are looking for does not exit.' %}</div>
                <div>{% trans 'Mr. Map can`t find it!' %}</div>
            </article>
        </div>

    </div>
{% include 'messages.html' %}
{% include 'footer.html' %}

</body>
</html>