<!DOCTYPE html>
{% load i18n static %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    {% include 'includes/default-head.html' %}

    {% block head %}
    {% endblock %}
</head>
<header>
    {% block header%}
    {% endblock %}

    {% include 'includes/navbar.html' %}
</header>

<body class="{{THEME.BACKGROUND}} {{THEME.BACKGROUND_IMG}}">
    {% include 'includes/messages.html' %}
    <div id="body-content" class="mt-3">
        {% include 'includes/ee-overlay.html' %}
        {% block body %}
        {% endblock %}
    </div>
    <div id="id_django_bootstrap_swt_container">
        {{rendered_modal}}
    </div>
</body>

{% include 'includes/footer.html' %}

</html>
