{% load i18n static %}

<footer>
    <div class="container-left">
    </div>
    <div class="container-center">
        <div id="current-lang">
            <span>{{ LANGUAGE_CODE|upper }}</span>
        </div>
        <div id="lang-selector" class="hide">
            <div class="lang-item" data-value="en" title="{% trans 'English' %}">EN</div>
            <div class="lang-item" data-value="de" title="{% trans 'Deutsch' %}">DE</div>
        </div>
    </div>
    <div class="container-right">
        <div>
            <div id="ee-trggr">Mr. Map</div>
            <a href="{{ GIT_REPO_URI }}" target="_blank">v{{ VERSION }}</a>
        </div>

    </div>
</footer>