.left-drawer-toggle-button {
  position: absolute;
  top: 50%;
  z-index: 1000;
  width: 30px;
  height: 60px;
  padding: 0;
  background-color: #002140;
  border: unset;
  border-radius: 0 5px 5px 0;
  /* same transition timing as drawer */
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.left-drawer-toggle-button:active,
.left-drawer-toggle-button:focus,
.left-drawer-toggle-button:hover {
  background-color: #002140;
}
