{% extends 'sceletons/card.html' %}
{% load i18n %}
{% block card-header %}
<div class="text-center">
    <h4 class="card-title">{% autoescape off %}{{THEME.ICONS.SERVICE}}{% endautoescape %} {% trans 'My services' %}</h4>
</div>
{% endblock %}
{% block card-body %}
<div class="row">
<div class="col-sm">
{% include 'cards/my_services/wms.html' %}
</div>
<div class="col-sm">
{% include 'cards/my_services/wfs.html' %}
</div>
<div class="col-sm">
{% include 'cards/my_services/all_services.html' %}
</div>
</div>
{% endblock %}