@import "~antd/dist/antd.css";

.logo {
  margin: 16px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.site-layout-background {
  position: relative;
  width: 100%;
  height: 100%;
}

.ant-layout-content {
  /* override element-style from antd layout, so drawer buttons can be placed without gap */
  margin: 0px 0px !important;
}
