{% load i18n static %}

<style>

.field-label, .field{
    font-size: 1.2em;
}

.field input, .field textarea, .field select{
    color: gray;
    background-color: white;
    border: 1px solid gray;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
}

.field input:focus{
    -webkit-box-shadow: 0 0 10px var(--primary-color);
    -moz-box-shadow: 0 0 10px var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

.form-submit-area{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
</style>

{% block body %}
<div class="modal-dialog">
    <div class="modal-close" title="{% trans 'Close' %}">
        x
    </div>
    <article>
        {{ article }}
    </article>
    <form action="{{ action_url }}" method="post" >
        {% csrf_token %}
        <table class="form-table">
            {% for field in form %}
                <tr>
                    <td class="field-label">{% trans field.label %}</td>
                    <td class="field">{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input class="submit-button button" id="submit-text" type="submit" value="{% trans 'Save' %}"/>
    </form>
</div>

<script>
    $(".modal-close, .close-button").click(function(){
        toggleOverlay("");
    });
    $(".submit-button").click(function(){
        editGroup();
    });
</script>

{% endblock %}