{% extends 'base.html' %}
{% load static i18n %}

{% block head %}
    <script type="text/javascript" src="{% static '/structure/js/structure.js' %}"></script>

{% endblock %}

{% block body %}
<a href="{% url 'structure:index' %}">
    <h3 class="back-title">
        <img src="{% static 'service/images/icn_back.png' %}">
        {% trans 'Overview' %}
    </h3>
</a>
<hr>
<div class="container-row">
    <div class="container-left">
        {% if 'can_edit_group' in user_permissions %}
            <div id="edit-button" class="button-container" data-parent="{{ group.id }}" typeof="structure/groups">
                <img src="{% static 'structure/images/icn_edit.png' %}">
                <span>{% trans 'Edit group' %}</span>
            </div>
        {% endif %}
    </div>
    {% if 'can_delete_group' in user_permissions %}
        <div class="container-right">
            <div class="delete-container" data-parent="{{ group.id }}" typeof="structure">
                <img src="{% static 'service/images/icn_minus.png' %}">
                <span>{% trans 'Delete group' %}</span>
            </div>
        </div>
    {% endif %}
</div>

<h2>{{ group.name }}</h2>
<table class="detail-table">
    <tr>
        <th>{% trans 'Organization' %}</th>
        <td>{{ group.organization }}</td>
    </tr>
    <tr>
        <th>{% trans 'Description' %}</th>
        <td>{{ group.description }}</td>
    </tr>
    <tr>
        <th>{% trans 'Members' %}</th>
        <td>
            {% for member in members %}
                {{ member.username }}<br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Parent' %}</th>
        <td>{{ group.parent }}</td>
    </tr>
    <tr>
        <th>{% trans 'Permissions' %}</th>
        <td>
            {% for perm in group_permissions %}
                {{ perm }} <br>
            {% endfor %}
        </td>
    </tr>
</table>
<div class="collapsible-wrapper">
    <div class="collapsible-title">
        <img src="{% static 'service/images/icn_plus.png' %}" data-toggle="{% static 'service/images/icn_minus.png' %}">
        {% trans 'Publishers' %}
    </div>
    <div class="subelements hidden">
         {% include 'index_publish_requests.html' %}
    </div>
</div>

{% endblock %}