{% extends 'base.html' %}
{% load static i18n %}
{% load fontawesome_5 %}

{% block body %}
<div class="container">
    <div class="card {{THEME.TXT_DEF_COLOR}} {{THEME.BG_COLOR}} mt-3">
        <div class="card-header">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1 mr-3">{% fa5_icon 'users' 'fas' %} <b>{{ group.name }}</b></h4>
                <a href="{% url 'structure:index' %}">
                    <span style="white-space: nowrap;">{% fa5_icon 'arrow-circle-left' 'fas' %} {% trans 'Overview' %}</span>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row mb-2 ">
                <div class="col">
                    <div class="d-flex justify-content-between">
                        {% if 'can_edit_group' in user_permissions %}
                        <div>
                            <button type="button" class="btn {{THEME.BTN_WARNING_COLOR}}" data-toggle="modal" data-target="#edit_group">
                                {% fa5_icon 'edit' 'fas' %} {% trans 'Edit group' %}
                            </button>
                        </div>
                        {% include 'modals/edit_group.html' %}
                        {% endif %}
                        {% if 'can_delete_group' in user_permissions %}
                        <div class="ml-auto">
                            <button type="button" class="btn {{THEME.BTN_DANGER_COLOR}}" data-toggle="modal" data-target="#delete_group">
                                {% fa5_icon 'trash' 'fas' %} {% trans 'Delete group' %}
                            </button>
                        </div>
                        {% include 'modals/delete_group.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row mb-2 ">
                <div class="col">
                    <table class="table table-hover">
                        <tr>
                            <th>{% trans 'Organization' %}</th>
                            <td>{{ group.organization }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Description' %}</th>
                            <td>{{ group.description }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Members' %}</th>
                            <td>
                                {% for member in members %}
                                    {{ member.username }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans 'Parent' %}</th>
                            <td>{{ group.parent }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Permissions' %}</th>
                            <td>
                                {% for perm in group_permissions %}
                                    {{ perm }} <br>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div><!--row-->
            <div class="row mb-2 ">
                <div class="col">
                    <div class="accordion" id="accordionPublishes">
                      <div class="card">
                        <div class="card-header " id="headingPublishes">
                          <h2 class="mb-0">
                            <button class="btn {{THEME.BTN_SECONDARY_COLOR}} collapsed" type="button" data-toggle="collapse" data-target="#collapsePublishes" aria-expanded="false" aria-controls="collapsePublishes">
                                <i class="fa" aria-hidden="true"></i> Publishes for
                            </button>
                          </h2>
                        </div>
                        <div id="collapsePublishes" class="collapse" aria-labelledby="headingPublishes" data-parent="#accordionPublishes">
                          <div class="card-body">
                            {% include 'index_publish_requests.html' %}
                          </div>
                        </div>
                      </div>
                    </div>
                </div><!--col-->
            </div><!--row-->
        </div>
    </div>
</div>
{% endblock %}