{% load static i18n %}
{% block body %}
{% if pub_requests.count > 0 %}
    {% if user in members %}
    <h2>{% trans 'Publishing Requests' %}</h2>
    <table class="overview-table">
        <tr>
            <th class="table-header">{% trans 'Requesting group' %}</th>
            <th class="table-header">{% trans 'Group organization' %}</th>
            <th class="table-header">{% trans 'Message' %}</th>
            <th class="table-header">{% trans 'Activation until' %}</th>
            <th class="table-header">{% trans 'Action' %}</th>
        </tr>
        {% for request in pub_requests %}
            <tr data-id="{{ request.id }}" data-parent="{{ organization.id }}">
                <td class="table-cell">
                    <a href="{% url 'structure:detail-organization' request.group.id %}">{{ request.group }}</a>
                </td>
                <td class="table-cell">
                    {% if request.group.organization is not None %}
                        <a href="{% url 'structure:detail-organization' request.group.organization.id %}">{{ request.group.organization }}</a>
                    {% else %}
                        {{ request.group.organization }}
                    {% endif %}
                </td>
                <td class="table-cell message-cell">
                    {{ request.message }}
                </td>
                <td class="table-cell">
                    {{ request.activation_until }}
                </td>
                <td class="table-cell action-cell">
                    {% if 'can_toggle_publish_requests' in user_permissions and user in members %}
                        <img class="img-interactive" src="{% static 'service/images/icn_true.png' %}" title="{% trans 'Accept' %}" id="accept-request">
                        <img class="img-interactive" src="{% static 'service/images/icn_false.png' %}" title="{% trans 'Decline' %}" id="decline-request">
                    {% else %}
                        {% trans 'You have no permission to change this!' %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endif %}

{% if show_registering_for %}
        <table class="table table-hover">
            <tr>
                <th>{% trans 'Organization' %}</th>
                <th>{% trans 'Action' %}</th>
            </tr>
            {% for org in group.publish_for_organizations.all %}
                <tr>
                    <td>
                        <a href="{% url 'structure:detail-organization' org.id %}">{{ org }}</a>
                    </td>
                    <td>
                        {% if 'can_toggle_publish_requests' in user_permissions and user in group.users.all %}
                        <button class="button delete-container" data-id="{{ org.id }}" data-parent="{{ group.id }}" title="{% trans 'Stop being publisher' %}">
                            <img src="{% static 'service/images/icn_minus.png' %}">
                            <span>{% trans 'Stop being publisher' %}</span>
                        </button>
                        {% else %}
                        {% trans 'You have no permission to change this!' %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
{% else %}
<h2>{{ organization.organization_name }}</h2>
<h2>{% trans 'Publishers' %}</h2>
<table class="table table-hover">
    <tr>
        <th>{% trans 'Group' %}</th>
        <th>{% trans 'Group organization' %}</th>
        <th>{% trans 'Action' %}</th>
    </tr>
    {% for publisher in all_publisher %}
        <tr>
            <td class="table-cell">
                <a href="{% url 'structure:detail-group' publisher.id %}">{{ publisher }}</a>
            </td>
            <td class="table-cell">
                {% if publisher.organization is not None %}
                    <a href="{% url 'structure:detail-organization' publisher.organization.id %}">{{ publisher.organization }}</a>
                {% else %}
                    {{ publisher.organization }}
                {% endif %}
            </td>
            <td class="table-cell">
                {% if 'can_remove_publisher' in user_permissions and user in members%}
                <button class="button delete-container publisher" data-parent="{{ publisher.id }}" data-id="{{ organization.id }}" title="{% trans 'Remove publisher' %}">
                    <img src="{% static 'service/images/icn_minus.png' %}">
                    <span>{% trans 'Remove publisher' %}</span>
                </button>
                {% else %}
                {% trans 'You have no permission to change this!' %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

{% endif %}
{% endblock %}