
{% load i18n %}
{% block body %}
<div class="overview">
    <div class="overview-title-actions-container">
        <div class="container-left">
            <h2>{% trans 'Groups' %}</h2>
            {% if 'can_create_group' in permissions %}
            <div class="overview-action">
                <span class="add-button" title="{% trans 'Create new' %}" typeof="structure/groups">
                    +
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    {% if groups|length > 0 %}
    <h3>{% trans 'You are member of the following groups:' %}</h3>
    <table class="overview-table">
        <tr>
            <th class="overview-table-header">
                {% trans 'Name' %}
            </th>
            <th class="overview-table-header">
                {% trans 'Description' %}
            </th>
            <th class="overview-table-header">
                {% trans 'Parent' %}
            </th>
            <th class="overview-table-header">
                {% trans 'Created by' %}
            </th>
        </tr>
        {% for group in groups %}
            <tr>
                <td class="overview-table-cell">
                    <a href="{% url 'structure:detail-group' id=group.id %}">{{ group.name }}</a>
                </td>
                <td class="overview-table-cell">
                    {{ group.description }}
                </td>
                <td class="overview-table-cell">
                    {{ group.parent }}
                </td>
                <td class="overview-table-cell">
                    {{ group.created_by }}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>
{% endblock %}