{% load i18n %}
{% load django_tables2 %}
{% load fontawesome_5 %}
{% load bootstrap4 %}

{% block body %}
<div class="card {{THEME.TXT_DEF_COLOR}} {{THEME.BG_COLOR}} mt-3 mb-5">
    <div class="card-header">
        <h4>{% fa5_icon 'building' 'fas' %} {% trans 'Organizations' %}</h4>
    </div>
    <div class="card-body">
        <form action="" method="get" class="form form-inline">
            <div class="row">
                <div class="form-group col-auto">
                    {% bootstrap_form all_organizations_filter.form layout='inline' %}
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn {{THEME.BTN_COLOR}}">{% fa5_icon 'search' 'fas' %} Search</button>
                </div>
            </div>
        </form>
        <br>
        <div class="row">
            <div class="col">
                <h5 class="card-title">{% trans 'You are member of the following organizations:' %}</h5>
            </div>
            <div class="col">
                <div class="float-right">
                    {% if pagination.page_size %}
                        {% include 'django_tables2_show_x_entries.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mt-1">
        {% render_table all_organizations %}
        </div>
    </div>
</div>
{% endblock %}