{% load i18n %}
{% load django_tables2 %}
{% load fontawesome_5 %}
{% load bootstrap4 %}

{% block body %}
<div class="card {{THEME.TXT_DEF_COLOR}} {{THEME.BG_COLOR}} mt-3 mb-5">
    <div class="card-header">
        <div class="d-flex w-100 justify-content-between">
            <h4>{% fa5_icon 'building' 'fas' %} {% trans 'Organizations' %}</h4>
            {% if 'can_create_organization' in user_permissions %}
                <button type="button" class="btn {{THEME.BTN_SUCCESS_COLOR}}" data-toggle="modal" data-target="#new_organization">
                            {% fa5_icon 'plus-circle' 'fas' %} {% trans 'New organization' %}
                </button>
                {% include 'modals/new_organization.html' %}
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <form action="" method="get" class="form form-inline">
            <div class="row">
                <div class="form-group col-auto">
                    {% bootstrap_form organizations_filter.form layout='inline' %}
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn {{THEME.BTN_COLOR}}">{% fa5_icon 'search' 'fas' %} Search</button>
                </div>
            </div>
        </form>
        <br>
        <div class="row">
            <div class="col">
                <h5 class="card-title">{% trans 'You are member of the following organizations:' %}</h5>
            </div>
            <div class="col">
                <div class="float-right">
                    {% if organizations_pagination.page_size %}
                        <div class="dropdown d-inline-block">
                            {% trans 'Show' %}
                            <button class="btn {{THEME.BTN_COLOR}} dropdown-toggle" type="button" id="organizationsPagingButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ organizations_pagination.page_size }}
                            </button>
                            {% trans 'entries' %}
                            <div class="dropdown-menu" aria-labelledby="organizationsPagingButton">
                                {% for page_size in organizations_pagination.page_size_options %}
                                <a class="dropdown-item" href="{% querystring organizations_pagination.page_size_param=page_size%}">{{ page_size }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mt-1">
            <div class="row">
                <div class="col">
                    <div class="overflow-auto">
                        {% render_table organizations %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}