{% extends 'base.html' %}
{% load static i18n %}

{% block head %}

{% endblock %}

{% block body %}
<a href="{% url 'structure:index' %}">
    <h3 class="back-title">
        <img src="{% static 'service/images/icn_back.png' %}">
        {% trans 'Back' %}
    </h3>
</a>
<hr>
<div class="container-row">
    <div class="container-left">
        {% if 'can_edit_organization' in permissions %}
            <div id="edit-button" class="button-container" data-parent="{{ organization.id }}" typeof="structure/organizations">
                <img src="{% static 'structure/images/icn_edit.png' %}">
                <span>{% trans 'Edit organization' %}</span>
            </div>
        {% endif %}
    </div>
    {% if 'can_delete_organization' in permissions %}
        <div class="container-right">
            <div class="delete-container" data-parent="{{ organization.id }}" typeof="structure/organizations">
                <img src="{% static 'service/images/icn_minus.png' %}">
                <span>{% trans 'Delete organization' %}</span>
            </div>
        </div>
    {% endif %}
</div>

<h2>{{ organization.name }}</h2>
<table>
    <tr>
        <th>{% trans 'Description' %}</th>
        <td>{{ organization.description }}</td>
    </tr>
    <tr>
        <th>{% trans 'Members' %}</th>
        <td>
            {% for member in members %}
                {{ member.username }}<br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Parent' %}</th>
        <td>{{ organization.parent }}</td>
    </tr>
</table>

{% endblock %}