{% extends 'base.html' %}
{% load static i18n %}
{% load fontawesome_5 %}
{% block body %}
<div class="container">
    <div class="card {{THEME.TXT_DEF_COLOR}} {{THEME.BG_COLOR}} mt-3">
        <div class="card-header">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1 mr-3">{% fa5_icon 'building' 'fas' %} <b>{{ organization.organization_name }}</b></h4>
                <a href="{% url 'structure:index' %}">
                    <span style="white-space: nowrap;">{% fa5_icon 'arrow-circle-left' 'fas' %} {% trans 'Overview' %}</span>
                </a>
            </div>
        </div><!--card-header-->
        <div class="card-body">
            <div class="row mb-2 ">
                <div class="col">
                    <div class="d-flex justify-content-between">
                        {% if 'can_edit_organization' in user_permissions %}
                        
                        <div>
                            <button type="button" class="btn {{THEME.BTN_WARNING_COLOR}}" data-toggle="modal" data-target="#edit_organization">
                                {% fa5_icon 'edit' 'fas' %} {% trans 'Edit organization' %}
                            </button>
                        </div>
                        {% include 'modals/edit_organization.html' %}
                        {% endif %}
                        {% if 'can_delete_organization' in user_permissions %}
                        <div class="ml-auto">
                            <button type="button" class="btn {{THEME.BTN_DANGER_COLOR}}" data-toggle="modal" data-target="#delete_organization">
                                {% fa5_icon 'trash' 'fas' %} {% trans 'Delete organization' %}
                            </button>
                        </div>
                        {% include 'modals/delete_organization.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row mb-2 ">
                <div class="col">
                    <table class="table table-hover">
                        <tr>
                            <th>{% trans 'Person' %}</th>
                            <td>{{ organization.person_name }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'E-Mail' %}</th>
                            <td>{{ organization.email }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Phone' %}</th>
                            <td>{{ organization.phone }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Facsimile' %}</th>
                            <td>{{ organization.facsimile }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Address' %}</th>
                            <td>{{ organization.address }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Postal code' %}</th>
                            <td>{{ organization.postal_code }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'City' %}</th>
                            <td>{{ organization.city }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'State or province' %}</th>
                            <td>{{ organization.state_or_province }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Country' %}</th>
                            <td>{{ organization.country }}</td>
                        </tr>
                    </table>
                </div>
            </div><!--row-->
            {% if services.count > 0 %}
            <div class="row mb-2 ">
                <div class="col">
                    <div class="accordion" id="accordionPublishes">
                      <div class="card">
                        <div class="card-header " id="headingPublishes">
                          <h2 class="mb-0">
                            <button class="btn {{THEME.BTN_SECONDARY_COLOR}} collapsed" type="button" data-toggle="collapse" data-target="#collapsePublishes" aria-expanded="false" aria-controls="collapsePublishes">
                                <i class="fa" aria-hidden="true"></i> {% trans 'Show all services' %} <span class="badge badge-pill badge-info">{{ services|length }}</span>
                            </button>
                          </h2>
                        </div>
                        <div id="collapsePublishes" class="collapse" aria-labelledby="headingPublishes" data-parent="#accordionPublishes">
                          <div class="card-body">
                            {% include 'index_publish_requests.html' %}
                          </div>
                        </div>
                      </div>
                    </div>
                </div><!--col-->
            </div><!--row-->
            {% endif %}
        </div><!--card-body-->
    </div><!--card-->
</div><!--container-->

{% endblock %}