{% extends 'base.html' %}
{% load static i18n %}

{% block head %}
    <script type="text/javascript" src="{% static '/structure/js/structure.js' %}"></script>
{% endblock %}

{% block body %}
<a href="{% url 'structure:index' %}">
    <h3 class="back-title">
        <img src="{% static 'service/images/icn_back.png' %}">
        {% trans 'Overview' %}
    </h3>
</a>
<hr>
<div class="container-row">
    <div class="container-left">
        {% if 'can_edit_organization' in user_permissions and user in members %}
            <div id="edit-button" class="button button-wrapper" data-parent="{{ organization.id }}" typeof="structure/organizations">
                <img src="{% static 'structure/images/icn_edit.png' %}">
                <span>{% trans 'Edit organization' %}</span>
            </div>
        {% endif %}
    </div>
    <div class="container-center">
        <div id="request-publish-button" class="button button-wrapper" typeof="structure" datasrc="{{ organization.id }}" title="{% trans 'Request the permission to publish for this organization' %}">
            <span>{% trans 'Become a publisher' %}</span>
        </div>
    </div>
    {% if user.id is organization.created_by.id or 'can_delete_organization' in user_permissions and user in members %}
        <div class="container-right">
            <div class="delete-container button" data-parent="{{ organization.id }}" typeof="structure/organizations">
                <img src="{% static 'service/images/icn_minus.png' %}">
                <span>{% trans 'Delete organization' %}</span>
            </div>
        </div>
    {% endif %}
</div>

<h2>{{ organization.organization_name }}</h2>
<table class="detail-table">
    <tr>
        <th>{% trans 'Description' %}</th>
        <td>{{ organization.description }}</td>
    </tr>
    <tr>
        <th>{% trans 'Members' %}</th>
        <td class="listable-container">
            {% for member in members %}
                <span class="listable">{{ member.username }}</span>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>{% trans 'Parent' %}</th>
        <td>{{ organization.parent }}</td>
    </tr>
    <tr>
        <th>{% trans 'Suborganizations' %}</th>
        <td class="listable-container">
            {% for sub_org in sub_organizations %}
                <a class="listable" href="{% url 'structure:detail-organization' sub_org.id %}">{{ sub_org }}</a><br>
            {% endfor %}
        </td>
    </tr>
</table>
<h2>{% trans 'Contact' %}</h2>
<table class="detail-table">
    <tr>
        <th>{% trans 'Person' %}</th>
        <td>{{ organization.person_name }}</td>
    </tr>
    <tr>
        <th>{% trans 'E-Mail' %}</th>
        <td>{{ organization.email }}</td>
    </tr>
    <tr>
        <th>{% trans 'Phone' %}</th>
        <td>{{ organization.phone }}</td>
    </tr>
    <tr>
        <th>{% trans 'Facsimile' %}</th>
        <td>{{ organization.facsimile }}</td>
    </tr>
    <tr>
        <th>{% trans 'Address' %}</th>
        <td>{{ organization.address }}</td>
    </tr>
    <tr>
        <th>{% trans 'Postal code' %}</th>
        <td>{{ organization.postal_code }}</td>
    </tr>
    <tr>
        <th>{% trans 'City' %}</th>
        <td>{{ organization.city }}</td>
    </tr>
    <tr>
        <th>{% trans 'State or province' %}</th>
        <td>{{ organization.state_or_province }}</td>
    </tr>
    <tr>
        <th>{% trans 'Country' %}</th>
        <td>{{ organization.country }}</td>
    </tr>
</table>


<div class="collapsible-wrapper">
    <div id="all-org-services" class="collapsible-title">
        <img src="{% static 'service/images/icn_plus.png' %}" data-toggle="{% static 'service/images/icn_minus.png' %}">
        {% trans 'Show all services' %} ({{ services|length }})
    </div>
    <div class="subelements hidden">
    <table class="detail-table">
        <tr>
            <th>
                {% trans 'Name' %}
            </th>
            <th>
                {% trans 'Description' %}
            </th>
            <th>
                {% trans 'Service type' %}
            </th>
            <th>
                {% trans 'Registered by' %}
            </th>
        </tr>
        {% for service in services %}
        <tr>
            <td>
                <a href="{% url 'service:detail' service.metadata.id %}" title="{% trans 'Open details' %}">{{ service.metadata.title }}</a>
            </td>
            <td>
                <div class="abstract-table-field">{{ service.metadata.abstract }}</div>
            </td>
            <td>
                {{ service.servicetype }} ({{ service.servicetype.version }})
            </td>
            <td>
                <a href="{% url 'structure:detail-group' service.created_by.id %}">{{ service.created_by }}</a>
            </td>
        </tr>

        {% endfor %}
    </table>
</div>
</div>

<div class="collapsible-wrapper">
    <div id="publish-wrapper" class="collapsible-title {% if pub_requests_count > 0 %} unread {% endif %}">
        <img src="{% static 'service/images/icn_plus.png' %}" data-toggle="{% static 'service/images/icn_minus.png' %}">
        {% trans 'Publishers and requests' %}
    </div>
    <div class="subelements hidden">
         {% include 'index_publish_requests.html' %}
    </div>
</div>

{% endblock %}