{% block body %}
{% load static i18n %}

<style>
    .submit-button:hover{
        background-color: red;
        border: 1px solid red;
    }
</style>

<div class="modal-dialog">
    <div class="modal-close" title="{% trans 'Close' %}">
        x
    </div>
    <article>
        {% trans 'You are about to remove this group.' %}<br>
        {% trans 'Do you want to continue?' %}
    </article>
    <table class="form-table">
        <tr>
            <th>{% trans 'Name:' %}</th>
            <td>{{ group.name }}</td>
        </tr>
        <tr>
            <th>{% trans 'Description:' %}</th>
            <td>{{ group.description }}</td>
        </tr>
        <tr>
            <th>{% trans 'Members' %}</th>
            <td>
                {% for member in members %}
                    {{ member.username }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{% trans 'Parent' %}</th>
            <td>{{ group.parent }}</td>
        </tr>
        <tr>
            <th>{% trans 'Permissions' %}</th>
            <td>
                {% for perm in group_permissions %}
                    {{ perm }} <br>
                {% endfor %}
            </td>
        </tr>
    </table>
    <div class="submit-button button">{% trans 'Yes, remove!' %}</div>
</div>

<script>
    $(".modal-close, .close-button").click(function(){
        toggleOverlay("");
    });
    $(".submit-button").click(function(){
        removeEntity({{ group.id }},true, 'structure/groups');
    });
</script>
{% endblock %}