{% block body %}
{% load static i18n %}

<style>
    .submit-button:hover{
        background-color: red;
    }
</style>

<div class="modal-dialog">
    <div class="modal-close" title="{% trans 'Close' %}">
        x
    </div>
    <article>
        {% trans 'You are about to remove this organization.' %}<br>
        {% trans 'Do you want to continue?' %}
    </article>
    <table class="form-table">
        <tr>
            <th>{% trans 'Name:' %}</th>
            <td>{{ organization.organization_name }}</td>
        </tr>
        <tr>
            <th>{% trans 'Description:' %}</th>
            <td>{{ organization.description }}</td>
        </tr>
        <tr>
            <th>{% trans 'Groups' %}</th>
            <td>
                {% for group in organization.groups.all %}
                    {{ group.name }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{% trans 'Parent' %}</th>
            <td>{{ organization.parent }}</td>
        </tr>
    </table>
    <div class="submit-button button">{% trans 'Yes, remove!' %}</div>
</div>

<script>
    $(".modal-close, .close-button").click(function(){
        toggleOverlay("");
    });

    $(".submit-button").click(function(){
        removeEntity({{ organization.id }},true, 'structure/organizations');
    });
</script>
{% endblock %}