{% extends 'sceletons/card.html' %}
{% load i18n static %}
{% load fontawesome_5 %}
{% load bootstrap4 %}


{% block card-header-title-left %}
    <h4 class="mb-1 mr-3">
        {% if current_service.servicetype.name == 'wms' %}
            {% autoescape off %}{{THEME.ICONS.WMS}}{% endautoescape %}
        {% else %}
            {% autoescape off %}{{THEME.ICONS.WFS}}{% endautoescape %}
        {% endif %} <strong>{{ current_service.metadata.title }}</strong>
    </h4>
{% endblock %}

{% block card-body %}
<div class="container-fluid">
    <form>
        <div class="alert alert-info" role="alert">
            {% trans 'You are about to update this service.' %}
            <br>
            {% trans 'Please read the info and help texts on this page very carefully and only proceed if you know what you are doing.' %}
        </div>
        <hr>
        <h5>
            <strong>{% trans 'New' %}</strong>
        </h5>
        <div class="alert alert-warning" role="alert">
            {% trans 'New elements could just be already known elements, but renamed.' %}
            <br>
            {% trans 'In this case: Select for every renamed "new" element the old one from the related list.' %}
            <br>
            {% trans 'If the element is really new, just leave the empty selection.' %}
        </div>

        {% bootstrap_form update_confirmation_form %}

        <div class="table-responsive">
            <h5>
                <strong>{% trans 'Removed' %}</strong>
            </h5>
            <div class="alert alert-warning" role="alert">
                {% trans 'These elements will be removed, since they do not exist in the service anymore.' %}
                <br>
                {% trans 'It is possible, that one of these elements was simply renamed. If so, go up to the new elements and read the help text.' %}
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{% trans 'Title' %}</th>
                        <th>{% trans 'Identifier' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for layer in diff_layers.removed %}
                <tr>
                    <td>{{ layer.metadata.title }}</td>
                    <td>{{ layer.metadata.identifier }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>{% trans 'None' %}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="table-responsive">
            <h5>
                <strong>{% trans 'Updated' %}</strong>
            </h5>
            <div class="alert alert-success" role="alert">
                {% trans 'These elements still exist in the service and will be updated normally.' %}
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{% trans 'Title' %}</th>
                        <th>{% trans 'Identifier' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for layer in diff_layers.updated %}
                <tr>
                    <td>{{ layer.metadata.title }}</td>
                    <td>{{ layer.metadata.identifier }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>{% trans 'None' %}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row"><div class="col">
            <button type="submit" class="btn {{THEME.CARD.BTN_PRIMARY_COLOR}}">{% trans 'Continue'%}</button>
        </div></div>
    </form>

</div>
{% endblock %}