{% extends 'sceletons/card.html' %}
{% load i18n static %}
{% load fontawesome_5 %}


{% block card-header-title-left %}
    <h4 class="mb-1 mr-3">
        {% if current_service.servicetype.name == 'wms' %}
            {% autoescape off %}{{THEME.ICONS.WMS}}{% endautoescape %}
        {% else %}
            {% autoescape off %}{{THEME.ICONS.WFS}}{% endautoescape %}
        {% endif %} <strong>{{ current_service.metadata.title }}</strong>
    </h4>
{% endblock %}

{% block card-body %}
<div class="container-fluid">
    <div class="table-responsive">
        <h5>
            <strong>{% trans 'New' %}</strong>
        </h5>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans 'Title' %}</th>
                    <th>{% trans 'Identifier' %}</th>
                    <th>{% trans 'Renamed from...' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for layer in diff_layers.new %}
            <tr data-id="{{ layer.metadata.id }}">
                <td>{{ layer.metadata.title }}</td>
                <td>{{ layer.metadata.identifier }}</td>
                <td title="{% trans 'If element was just renamed, select old title.' %}">
                    <select name="renamed_from">
                        <option value="None">---</option>
                        {% for removed_layer in diff_layers.removed %}
                        <option value="{{ removed_layer.metadata.id }}">
                            {{ removed_layer.metadata.identifier }} ({{ removed_layer.metadata.title }})
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>{% trans 'None' %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <h5>
            <strong>{% trans 'Removed' %}</strong>
        </h5>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans 'Title' %}</th>
                    <th>{% trans 'Identifier' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for layer in diff_layers.removed %}
            <tr>
                <td>{{ layer.metadata.title }}</td>
                <td>{{ layer.metadata.identifier }}</td>
            </tr>
            {% empty %}
            <tr>
                <td>{% trans 'None' %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <h5>
            <strong>{% trans 'Updated' %}</strong>
        </h5>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans 'Title' %}</th>
                    <th>{% trans 'Identifier' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for layer in diff_layers.updated %}
            <tr>
                <td>{{ layer.metadata.title }}</td>
                <td>{{ layer.metadata.identifier }}</td>
            </tr>
            {% empty %}
            <tr>
                <td>{% trans 'None' %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}