.bottom-drawer-toggle-button {
  position: absolute;
  left: 50%;
  z-index: 1000;
  width: 60px;
  margin-bottom: -24px;
  padding: 0;
  background-color: #002140;
  border: unset;
  border-radius: 5px 5px 0 0;
  /* same transition timing as drawer */
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.bottom-drawer-toggle-button:active,
.bottom-drawer-toggle-button:focus,
.bottom-drawer-toggle-button:hover {
  background-color: #002140;
}
