{% extends 'MrMap/detail_views/base.html' %}
{% load static i18n %}
{% load guardian_tags %}
{% block head %}
{% if tree_style %}
<link rel="stylesheet" type="text/css" href="{% static '/css/tree-style.css' %}" media="all"/>
{% endif %}
{% endblock %}
{% block content %}
{% get_obj_perms request.user for object as "perms" %}
<div class="card bg-light my-3">
  <div class="card-header">
    <div class="row">
    <div class="col-7 col-md text-left">
      <h5 class="mb-0">
        {% if not object.service.is_leaf_node and object.service != root_node %}
            <button class="btn btn-link" data-toggle="collapse" data-target="#id_accordion_collapse_{{object.service.pk}}" aria-expanded="true" aria-controls="id_accordion_collapse_{{object.service.pk}}">
              {{ object.service.icon|safe }} {{ object.title }} <span class="badge badge-secondary">{{ object.service.get_descendant_count }}</span>
            </button>
        {% else %}
        {{ object.service.icon|safe }} {{ object.title }}
        {% endif %}
      </h5>
    </div>
    <div class="col-7 col-md text-left text-md-center">
      <a class="btn btn-sm btn-secondary mb-1" href="{{object.detail_table_view_uri}}" role="button">
        <div class="d-xl-none">{{ ICONS.INFO|safe }}</div><div class="d-none d-xl-block">{{ ICONS.INFO|safe }} {% trans 'Details' %}</div>
      </a>
      {% if object.is_service_metadata %}
      <div class="btn-group mb-1">
        <button type="button" class="btn btn-sm btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="d-xl-none">{{ ICONS.CAPABILITIES|safe }}</div><div class="d-none d-xl-block">{{ ICONS.CAPABILITIES|safe }} {% trans 'Capabilities' %}</div>
        </button>
        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="id_dropdown_capabilities_{{object.pk}}">
          <h6 class="dropdown-header">{% trans 'See current or original:' %}</h6>
          <a class="dropdown-item" href="{{object.capabilities_original_uri}}">{% trans 'Original' %}</a>
          <a class="dropdown-item" href="{{object.capabilities_uri}}">{% trans 'Current' %}</a>
        </div>
      </div>
      {% endif %}
      <div class="btn-group mb-1">
        <button type="button" class="btn btn-sm btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div class="d-xl-none">{{ ICONS.METADATA|safe }}</div><div class="d-none d-xl-block">{{ ICONS.METADATA|safe }} {% trans 'Metadata' %}</div></button>
        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="id_dropdown_metadata_{{object.pk}}">
          <h6 class="dropdown-header">{% trans 'Show metadata as:' %}</h6>
          <a class="dropdown-item" href="{{object.service_metadata_uri}}">{{ ICONS.CAPABILITIES|safe }} {% trans 'XML' %}</a>
          <a class="dropdown-item" href="{{object.html_metadata_uri}}">{{ ICONS.NEWSPAPER|safe }} {% trans 'HTML' %}</a>
        </div>
      </div>
      {% if object.has_dataset_metadatas %}
      <a class="btn btn-sm btn-secondary mb-1" href="{{object.detail_related_datasets_view_uri}}" role="button">
        <div class="d-xl-none">{{ ICONS.DATASET|safe }}</div><div class="d-none d-xl-block">{{ ICONS.DATASET|safe }} {% trans 'Datasets' %}</div>
      </a>
      {% endif %}
    </div>
    <div class="col-7 col-md text-left text-md-right">
      <div class="d-inline-flex">
        {% if "activate_resource" in perms %}
        <form class="mr-1" action="{{object.activate_view_uri}}" method="post">
          {% csrf_token %}
          <input type="hidden"  name="is_active" {% if not object.is_active %}value="on"{% endif %}>
          <button type="submit" class="btn btn-sm {% if object.is_active %}btn-warning{% else %}btn-success{% endif %}" data-toggle="tooltip" data-placement="top" title="{% if object.is_active %}{% trans 'Deactivate the resource' %}{% else %}{% trans 'Activate the resource' %}{% endif %}">{{ ICONS.POWER_OFF|safe }}</button>
        </form>
        {% endif %}
        {% if "change_metadata" in perms %}
        <a class="btn btn-sm btn-warning mr-1" href="{{object.edit_view_uri}}" role="button" data-toggle="tooltip" data-placement="top" title="{% trans 'Customize the metadata file' %}">
          {{ ICONS.EDIT|safe }}
        </a>
        <a class="btn btn-sm btn-warning mr-1" href="{{object.edit_access_view_uri}}" role="button" data-toggle="tooltip" data-placement="top" title="{% trans 'Customize the security access of the resource' %}">
          {{ ICONS.ACCESS|safe }}
        </a>
        {% endif %}
        {% if "update_resource" in perms %}
        <a class="btn btn-sm btn-info mr-1" href="{{object.update_view_uri}}" role="button" data-toggle="tooltip" data-placement="top" title="{% trans 'Update this resource' %}">
          {{ ICONS.UPDATE|safe }}
        </a>
        {% endif %}
        {% if "add_monitoringrun" in perms %}
        <a class="btn btn-sm btn-info mr-1" href="{{object.run_monitoring_view_uri}}" role="button" data-toggle="tooltip" data-placement="top" title="{% trans 'Run monitoring task for this resource' %}">
          {{ ICONS.MONITORING|safe }}
        </a>
        {% endif %}
        {% if object.is_custom and "change_metadata" in perms %}
        <a class="btn btn-sm btn-danger mr-1" href="{{object.restore_view_uri}}" role="button" data-toggle="tooltip" data-placement="top" title="{% trans 'Restore the metadata of this resource' %}">
          {{ ICONS.RESTORE|safe }}
        </a>
        {% endif %}
        {% if "delete_resource" in perms %}
        <a class="btn btn-sm btn-danger mr-1" href="{{object.get_delete_url}}" role="button" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete the resource' %}">
          {{ ICONS.DELETE|safe }}
        </a>
        {% endif %}
      </div>
    </div>
</div>

  </div>
  <div class="card-body">
    {% block card_body %}
    {% endblock %}
  </div>
</div>
{% endblock %}
