.tools-container .ant-upload.ant-upload-select {
  display: unset;
}

.tools-container {
  position: absolute;
  bottom: 55px;
  left: 50%;
  z-index: 1001; /* ant-drawer has 1000 */
  display: flex;
  align-items: center;
  background: #fff;
  border: solid 1px #e0e0e0;
  border-radius: 2px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tools-container button {
  color: black;
  background-color: transparent;
  border: 0;
  border-radius: 2px;
}

.tools-container .ant-btn-primary:focus {
  color: unset;
  background: unset;
  border-color: unset;
}

.tools-container .ant-btn-primary:hover {
  color: unset;
  background: #e0e0e0;
  border-color: #e0e0e0;
}

.tools-container .btn-pressed {
  color: black;
  background: #e0e0e0 !important;
  border-color: #e0e0e0 !important;
}
