{% extends 'users/views/logged_out/base.html' %}
{% load i18n %}
{% block body %}
{% load i18n static %}
{% load bootstrap5 %}
<div class="container">
    <div class="row">
        <div class="col-md mt-5 text-dark">
            <h1>{{ login_article_title }}</h1>
            <article class="login-article">{{ login_article }}</article>
        </div>
        <div class="col-md mt-5 mb-5">

            <div class="card bg-light mt-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="img-fluid rounded-start" src="{% static '/images/mr_map.png' %}" alt="mr. map">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <form method="post" action="{% url 'users:login' %}{% if next %}?next={{next}}{% endif %}">
                                {% csrf_token %}
                                {{ form.media }}
                                {% bootstrap_form form %}
                                <button type="submit" class="btn btn-primary">
                                    {% autoescape off %}{{ICONS.SIGNIN}}{% endautoescape %} {% trans 'Sign in' %}
                                </button>
                            </form>
                        </div>
                        
                    </div>
                </div>
                <div class="card-footer">
                            <div class="text-center">
                                <span>{% trans 'Don`t have an account?' %} </span>
                                <a href="{% url 'users:signup' %}">{% autoescape off %}{{ICONS.SIGNUP}}{% endautoescape %} {% trans 'Sign up' %}</a><br>
                                <a href="{% url 'users:password_reset' %}">{% autoescape off %}{{ICONS.UNDO}}{% endautoescape %} {% trans 'Forgot your password?' %}</a>
                            </div>
                        </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}