.the-map-container {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  max-height: calc(
    100vh - 96px
  ); /* the 96px values comes from the current site layout padding ((top + bottom) * 2) . change this value if the site background layout changes*/
}

#the-map {
  height: 100%;
  width: 100%;
}
