{% extends 'skeletons/card.html'%}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block card-header-title-left %}
<h4 class="mb-1 mr-3">{{table.title|safe}}</h4>
{% endblock %}
{% block card-header-title-right %}
{% for action in table.actions %}
    {{action|safe}}
{% endfor %}
{% endblock %}
{% block card-body %}
<div id="id_pending_tasks_div">
{% render_table table %}
</div>
<script type="application/javascript">
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var pending_tasks_socket = new WebSocket(ws_scheme + '://{{HOST_NAME}}/ws/pending-tasks/?username={{request.user.username}}');

    pending_tasks_socket.onopen = function open() {
    	console.debug('WebSockets connection created.');
    };

    pending_tasks_socket.onmessage = function message(event) {
        $('#id_pending_tasks_div [data-toggle="tooltip"]').tooltip("hide");

        var json_data = JSON.parse(JSON.parse(event.data));
    	$( "#id_pending_tasks_div" ).html( json_data.rendered_table );

    	$('#id_pending_tasks_div [data-toggle="tooltip"]').tooltip();
    };

    pending_tasks_socket.onclose = function(e) {
    	console.error('pending tasks socket closed unexpectedly');
    };
</script>
{% endblock %}