{% extends 'sceletons/card.html' %}
{% load static i18n %}
{% load bootstrap4 %}
{% block card-header-title-left %}
    <h4 class="mb-1 mr-3">{% autoescape off %}{{THEME.ICONS.SETTINGS}}{% endautoescape %} <strong>{% trans 'Settings' %}</strong></h4>
{% endblock %}
{% block card-header-title-right %}

{% endblock %}
{% block card-body %}
<div class="list-group">
    <a href="{% url 'password-change' %}?current-view={{current_view}}" class="list-group-item list-group-item-action">
        {% autoescape off %}{{THEME.ICONS.EDIT}}{% endautoescape %} {% trans 'Change password' %}
    </a>
    <a href="{% url 'account-edit' %}?current-view={{current_view}}" class="list-group-item list-group-item-action">
        {% autoescape off %}{{THEME.ICONS.EDIT}}{% endautoescape %} {% trans 'Edit account information\'s' %}
    </a>
    <a href="{% url 'subscription-index' %}" class="list-group-item list-group-item-action">
            {% autoescape off %}{{THEME.ICONS.SUBSCRIPTION}}{% endautoescape %} {% trans 'See subscriptions\'s' %}
            <span class="badge {{THEME.CARD.BADGE_COLOR}} badge-pill">{{subscriptions_count}}</span>
    </a>
</div>




{% endblock %}