{% load i18n static %}
<div class="card {{THEME.CARD.TXT_COLOR}} {{THEME.CARD.BG}} mt-3 {{THEME.CARD.BOARDER}}">
    <div class="card-body">
        <div class="w-25 mx-auto">
                    <a href="{% url 'login' %}"><img class="img-fluid" src="{% static '/images/mr_map.png' %}"></a>
        </div>
        <h1 class="card-title text-center">{% trans 'Welcome' %} {{ user.username }}!</h1>
        <article class="text-center">
            {% blocktrans %}
            Your account was activated successfully. You will be redirected to the login page in <span id="seconds-counter"></span> seconds. If you don't want to wait, click on Mr. Map!
            {% endblocktrans %}
        </article>
    </div>
</div> <!-- card.// -->
<script type="application/javascript">
    function decreaseSecond(){
        var secCounter = $("#seconds-counter");
        var val = parseInt(secCounter.text());
        if(val == 0){
            window.location.pathname = "/";
        }else{
            secCounter.text(val-1);
        }
    }

    /*
    * Count down the seconds until the user will be forwarded
    */
    function redirectToLoginAfterTime(){
        var secCounter = $("#seconds-counter");
        // set seconds to wait
        secCounter.text(10);
        setInterval(decreaseSecond, 1000)

    }


    $(document).ready(function(){
        redirectToLoginAfterTime();

    });
</script>
