<!--wfs_index.html -->
{% load i18n static tz %}
{% load django_tables2 %}
{% load fontawesome_5 %}
{% load bootstrap4 %}
{% load query_parameters %}
<div class="card {{THEME.TXT_DEF_COLOR}} {{THEME.BG_COLOR}} mt-3">
    <div class="card-header">
        <div class="d-flex w-100 justify-content-between">
            <div class="row">
                <div class="col">
                    <h4 class="mb-1 mr-3">{% fa5_icon 'info' 'fas' %} {% trans 'WFS' %}</h4>
                </div>
            </div>
            {% if 'can_register_service' in user_permissions %}
                <button type="button" class="btn {{THEME.BTN_SUCCESS_COLOR}}" data-toggle="modal" data-target="#new_service">
                    {% fa5_icon 'plus-circle' 'fas' %} {% trans 'New Service' %}
                </button>
                {% include 'modals/new_service.html' %}
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <form action="" method="get" class="form form-inline">
                    <div class="row">
                        <div class="form-group col-auto">
                            {% bootstrap_form wfs_filter.form layout='inline' %}
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn {{THEME.BTN_COLOR}}">{% fa5_icon 'search' 'fas' %} Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="float-right">
                    {% if wfs_pagination.page_size %}
                        <div class="dropdown d-inline-block">
                            {% trans 'Show' %}
                            <button class="btn {{THEME.BTN_COLOR}} dropdown-toggle" type="button" id="wfsPagingButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ wfs_pagination.page_size }}
                            </button>
                            {% trans 'entries' %}
                            <div class="dropdown-menu" aria-labelledby="wfsPagingButton">
                                {% for page_size in wfs_pagination.page_size_options %}
                                <a class="dropdown-item" href="{% querystring wfs_pagination.page_size_param=page_size%}">{{ page_size }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mt-1">
            <div class="row">
                <div class="col">
                    <div class="overflow-auto">
                        {% if wfs_table.rows %}
                            {% render_table wfs_table %}
                        {% else %}
                            {% trans 'None ¯\_(ツ)_/¯' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>