.rules-drawer-toggle-button {
  position: absolute;
  top: 50%;
  z-index: 1000;
  width: 30px;
  height: 60px;
  padding: 0;
  color: white;
  background-color: #002140;
  border: unset;
  border-radius: 5px 0 0 5px;
  /* same transition timing as drawer */
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.rules-drawer-toggle-button:active,
.rules-drawer-toggle-button:focus,
.rules-drawer-toggle-button:hover {
  color: white;
  background-color: #002140;
}

.rules-drawer-toggle-button.collapsed {
  right: 0px;
}

.rules-drawer-toggle-button.expanded {
  right: 500px;
}
