<!DOCTYPE html>
{% load i18n static %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    {% include 'includes/default-head.html' %}
    {% block head %}
    {% endblock %}
</head>
<header>
    {% block header%}
    {% endblock %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img class="navbar-logo" src="{% static '/images/mr_map.png' %}" width="30" height="30" alt=""
             title="Map your s*** together!" alt="{% trans 'Mr. Map logo' %}">
    </a>
    <button class="navbar-toggler accordion" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if PATH == '' %}active{% endif %}">
                <a class="nav-link" href="{% url 'home' %}" title="{% trans 'Dashboard' %}">
                    {% autoescape off %}{{ICONS.DASHBOARD}}{% endautoescape %} {% trans 'Dashboard' %}
                </a>
            </li>
            <li class="nav-item dropdown {% if PATH == 'structure' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarStructureDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% autoescape off %}{{ICONS.HIERARCHY}}{% endautoescape %} {% trans 'Structure' %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarStructureDropdown">
                    <h6 class="dropdown-header">{% trans 'Organizations' %}</h6>
                    <a class="dropdown-item" href="{% url 'structure:organization_overview' %}">{% autoescape off %}{{ICONS.ORGANIZATION}}{% endautoescape %} {% trans 'Organizations'%} <span class="badge badge-secondary">{{mr_map_organization_count}}</span></a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">{% trans 'Pending requests' %}</h6>
                    <div class="d-flex">
                        <a class="dropdown-item" href="{% url 'structure:publish_request_overview' %}">{% autoescape off %}{{ICONS.PUBLISHER}}{% endautoescape %} {% trans 'Publish requests'%} <span class="badge {% if pending_publish_requests_count >= 1 %}badge-primary{% else %}badge-secondary{% endif %}">{{pending_publish_requests_count}}</span></a>
                        <a class="btn btn-sm btn-success mr-1 mb-1" href="{% url 'structure:publish_request_new' %}" title="{% trans 'New Publish request' %}" role="button">{% autoescape off %}{{ICONS.ADD}}{% endautoescape %}</a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">{% trans 'Users' %}</h6>
                    <a class="dropdown-item" href="{% url 'structure:users_overview' %}">{% autoescape off %}{{ICONS.USER}}{% endautoescape %} {% trans 'Users'%} <span class="badge badge-secondary">{{mr_map_user_count}}</span></a>
                </div>
            </li>
            <li class="nav-item dropdown {% if PATH == 'resource' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarServicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% autoescape off %}{{ICONS.RESOURCE}}{% endautoescape %} {% trans 'Resources' %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarServicesDropdown">
                    <h6 class="dropdown-header">{% trans 'Web Map Service' %}</h6>
                    <div class="d-flex">
                        <a class="dropdown-item" href="{% url 'resourceNew:service_wms_list' %}">{% autoescape off %}{{ICONS.WMS}}{% endautoescape %}  {% trans 'WMS' %} <span data-bind="text: wmsCount" class="badge badge-secondary"></span></a>
                        {% if "resourceNew.add_service" in perms %}
                        <a class="btn btn-sm btn-success mr-1 mb-1" href="{% url 'resourceNew:service_add' %}" title="{% trans 'Register new service' %}" role="button">{% autoescape off %}{{ICONS.ADD}}{% endautoescape %}</a>
                        {% endif %}
                    </div>
                    <a class="dropdown-item" href="{% url 'resourceNew:layer_list' %}">{% autoescape off %}{{ICONS.LAYER}}{% endautoescape %}  {% trans 'Layers' %} <span data-bind="text: layersCount"class="badge badge-secondary"></span></a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">{% trans 'Web Feature Service' %}</h6>
                    <div class="d-flex">
                        <a class="dropdown-item" href="{% url 'resourceNew:service_wfs_list' %}">{% autoescape off %}{{ICONS.WFS}}{% endautoescape %} {% trans 'WFS' %} <span data-bind="text: wfsCount" class="badge badge-secondary"></span></a>
                        {% if "resourceNew.add_service" in perms %}
                        <a class="btn btn-sm btn-success mr-1 mb-1" href="{% url 'resourceNew:service_add' %}" title="{% trans 'Register new service' %}" role="button">{% autoescape off %}{{ICONS.ADD}}{% endautoescape %}</a>
                        {% endif %}
                    </div>
                    <a class="dropdown-item" href="{% url 'resourceNew:feature_type_list' %}">{% autoescape off %}{{ICONS.FEATURE_TYPE}}{% endautoescape %}  {% trans 'Feature types' %} <span data-bind="text: featureTypesCount" class="badge badge-secondary"></span></a>
                    <a class="dropdown-item" href="{% url 'resourceNew:feature_type_element_list' %}">{% autoescape off %}{{ICONS.FEATURE_TYPE}}{% endautoescape %}  {% trans 'Feature type elements' %} <span data-bind="text: featureTypeElementsCount" class="badge badge-secondary"></span></a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">{% trans 'Catalogue Service' %}</h6>
                    <div class="d-flex">
                        <!-- TODO: url -->
                        <a class="dropdown-item" href="{% url 'resource:csw-index' %}">{% autoescape off %}{{ICONS.CSW}}{% endautoescape %} {% trans 'CSW' %} <span data-bind="text: cswCount" class="badge badge-secondary"></span></a>
                        {% if "resourceNew.add_service" in perms %}
                        <a class="btn btn-sm btn-success mr-1" href="{% url 'resourceNew:service_add' %}" title="{% trans 'Register new service' %}" role="button">{% autoescape off %}{{ICONS.ADD}}{% endautoescape %}</a>
                        {% endif %}
                    </div>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">{% trans 'Metadata' %}</h6>
                    <a class="dropdown-item" href="{% url 'resourceNew:service_metadata_list' %}">{% autoescape off %}{{ICONS.METADATA}}{% endautoescape %} {% trans 'Service Metadata' %} <span data-bind="text: serviceMetadataCount" class="badge badge-secondary"></span></a>
                    <a class="dropdown-item" href="{% url 'resourceNew:layer_metadata_list' %}">{% autoescape off %}{{ICONS.METADATA}}{% endautoescape %} {% trans 'Layer Metadata' %} <span data-bind="text: layerMetadataCount" class="badge badge-secondary"></span></a>
                    <a class="dropdown-item" href="{% url 'resourceNew:feature_type_metadata_list' %}">{% autoescape off %}{{ICONS.METADATA}}{% endautoescape %} {% trans 'Feature Type Metadata' %} <span data-bind="text: featureTypeMetadataCount" class="badge badge-secondary"></span></a>
                    <div class="d-flex">
                        <a class="dropdown-item" href="{% url 'resourceNew:dataset_metadata_list' %}">{% autoescape off %}{{ICONS.DATASET}}{% endautoescape %} {% trans 'Dataset Metadata' %} <span data-bind="text: datasetMetadataCount" class="badge badge-secondary"></span></a>
                         <!-- TODO: url -->
                        {% if "resourceNew.add_dataset_metadata" in perms %}
                        <a class="btn btn-sm btn-success mr-1" href="{% url 'editor:dataset-metadata-wizard-new' %}" title="{% trans 'Create new dataset metadata' %}" role="button">{% autoescape off %}{{ICONS.ADD}}{% endautoescape %}</a>
                        {% endif %}
                    </div>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">{% trans 'Map Contexts' %}</h6>
                    <div class="d-flex">
                        <a class="dropdown-item" href="{% url 'resource:mapcontexts-index' %}">{% autoescape off %}{{ICONS.MAP_CONTEXT}}{% endautoescape %} {% trans 'Map Contexts' %} <span class="badge badge-secondary">{{map_context_count}}</span></a>
                        <!-- TODO: url -->
                        <a class="btn btn-sm btn-success mr-1" href="{% url 'resource:mapcontexts-add' %}" title="{% trans 'Create new map context' %}" role="button">{% autoescape off %}{{ICONS.ADD}}{% endautoescape %}</a>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown {% if PATH == 'security' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarSecurityDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% autoescape off %}{{ICONS.SECURITY}}{% endautoescape %} {% trans 'Security' %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarSecurityDropdown">
                    <h6 class="dropdown-header">{% trans 'Service Access Groups' %}</h6>
                    <div class="d-flex">
                        <a class="dropdown-item flex-grow-1" href="{% url 'resourceNew:service_access_group_list' %}">{% trans 'Service Access Groups' %} <span data-bind="text: serviceAccessGroupsCount" class="badge badge-secondary"></span></a>
                        {% if "resourceNew.add_serviceaccessgroup" in perms %}
                        <a class="btn btn-sm btn-success mr-1" href="{% url 'resourceNew:service_access_group_add' %}" title="{% trans 'New service access group' %}" role="button">{% autoescape off %}{{ICONS.ADD}}{% endautoescape %}</a>
                        {% endif %}
                    </div>
                    <h6 class="dropdown-header">{% trans 'Allowed Operations' %}</h6>
                    <div class="d-flex">
                        <a class="dropdown-item flex-grow-1" href="{% url 'resourceNew:allowed_operation_list' %}">{% trans 'Allowed Operations' %} <span data-bind="text: allowedOperationsCount" class="badge badge-secondary"></span></a>
                        {% if "resourceNew.add_allowedoperation" in perms %}
                        <a class="btn btn-sm btn-success mr-1" href="{% url 'resourceNew:allowed_operation_add' %}" title="{% trans 'New allowed operation' %}" role="button">{% autoescape off %}{{ICONS.ADD}}{% endautoescape %}</a>
                        {% endif %}
                    </div>
                    <h6 class="dropdown-header">{% trans 'Service request logging' %}</h6>
                    <a class="dropdown-item flex-grow-1" href="{% url 'resourceNew:proxy_log_list' %}">{% autoescape off %}{{ICONS.LOGS}}{% endautoescape %} {% trans 'Logs' %} <span data-bind="text: proxyLogCount" class="badge badge-secondary"></span></a>
                </div>
            </li>
            <li class="nav-item dropdown {% if PATH == 'monitoring' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarMonitoringDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% autoescape off %}{{ICONS.MONITORING}}{% endautoescape %} {% trans 'Monitoring' %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarMonitoringDropdown">
                    <h6 class="dropdown-header">{% trans 'Runs' %}</h6>
                    <div class="d-flex">
                        <a class="dropdown-item flex-grow-1" href="{% url 'monitoring:run_overview' %}">{% trans 'Runs' %} <span class="badge {% if pending_monitoring_count < 1 %}badge-secondary{% else %}badge-warning{% endif %}">{{pending_monitoring_count}}</span></a>
                        {% if "monitoring.add_monitoringrun" in perms %}
                        <a class="btn btn-sm btn-success mr-1" href="{% url 'monitoring:run_new' %}" title="{% trans 'New run' %}" role="button">{% autoescape off %}{{ICONS.ADD}}{% endautoescape %}</a>
                        {% endif %}
                    </div>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">{% trans 'Results' %}</h6>
                    <a class="dropdown-item" href="{% url 'monitoring:result_overview' %}">{% trans 'Results' %}</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">{% trans 'Health states' %}</h6>
                    <a class="dropdown-item" href="{% url 'monitoring:health_state_overview' %}">{% trans 'Health states' %}</a>
                </div>
            </li>
            <li class="nav-item dropdown {% if PATH == 'job' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarJobDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% autoescape off %}{{ICONS.PENDING_TASK}}{% endautoescape %} {% trans 'Jobs' %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarJobDropdown">
                    <h6 class="dropdown-header">{% trans 'Jobs' %}</h6>
                    <a class="dropdown-item flex-grow-1" href="{% url 'job:job_list' %}">{% trans 'Jobs' %} <span data-bind="text: jobsCount" class="badge {% if job_count >= 1 %}badge-warning{% else %}badge-secondary{% endif %}"></span></a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">{% trans 'Tasks' %}</h6>
                    <a class="dropdown-item" href="{% url 'job:task_list' %}">{% trans 'Tasks' %} <span data-bind="text: tasksCount" class="badge {% if task_count >= 1 %}badge-warning{% else %}badge-secondary{% endif %}"></span></a>
                </div>
            </li>
            <li class="nav-item dropdown {% if PATH == 'acls' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarAclsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% autoescape off %}{{ICONS.COGS}}{% endautoescape %} {% trans 'Acl\'s' %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarAclsDropdown">
                    <h6 class="dropdown-header">{% trans 'Acls' %}</h6>
                    <a class="dropdown-item flex-grow-1" href="{% url 'acl:accesscontrollist_overview' %}">{% trans 'Acl\'s' %} <span class="badge {% if pending_monitoring_count < 1 %}badge-secondary{% else %}badge-warning{% endif %}">{{pending_monitoring_count}}</span></a>
                </div>
            </li>
            <li class="nav-item dropdown {% if PATH == 'api' %}active{% endif %}">
                <a class="nav-link" href="{% url 'api:menu' %}" title="{% trans 'API' %}">
                    {% autoescape off %}{{ICONS.API}}{% endautoescape %} {% trans 'API' %}
                </a>
            </li>
        </ul>
        <div>
        <a data-bind="visible: jobsCount() > 0" class="navbar-text mr-2" type="button" href="{% url 'job:job_list' %}">
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{% trans 'There are open jobs' %}">
               {{ICONS.PENDING_TASKS}} <span data-bind="text: jobsCount" class="badge badge-pill badge-light fading"></span>
            </span>
        </a>
            <a class="btn btn-outline-light" href="{% url 'password_change_done' %}" title="{% trans 'Account' %}" role="button">
                {% autoescape off %}{{ICONS.USER}}{% endautoescape %} {{ request.user.username }}
            </a>
            <a class="btn btn-outline-light" href="{% url 'logout' %}" title="{% trans 'Logout' %}" role="button">
                {% autoescape off %}{{ICONS.SIGNOUT}}{% endautoescape %}
            </a>
        </div>
    </div>
</nav>

</header>

<body class="bg-light bg-img">
    {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show message" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message|safe }}
        </div>
    {% endfor %}
    {% endif %}

    <div class="mt-5 mr-5" style="position: fixed; top: 0; right:0; z-index:1; width: 300px;">
      <div id="id_toast_container" style="position: absolute; top: 0; right: 0;">

      </div>
    </div>

    <div id="body-content" class="mt-3">
        {% include 'includes/ee-overlay.html' %}
        {% block body %}
        {% endblock %}
    </div>
    <div id="id_django_bootstrap_swt_container">
        {{rendered_modal}}
    </div>




</body>
<footer class="footer bg-light fixed-bottom">
    <div class="container-fluid">
    <div class="row align-items-center mt-1">
        <div class="col text-left"></div>
        <div class="col text-center">
                <div class="dropdown">
                    <div class="btn-group dropup">
                        <button type="button"
                                class="btn btn-light dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                title="{% trans 'Change language' %}">
                            {{ LANGUAGE_CODE|upper }}
                        </button>
                        <div class="dropdown-menu" name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <form class="form-group d-none" id="form_{{ language.code }}"
                                  action="{% url 'set_language' %}"
                                  method="post">
                                {% csrf_token %}
                                <input name="next" value="{{ redirect_to }}" />
                                <input name="language" value="{{ language.code }}" />
                            </form>
                            <button class="dropdown-item" type="submit" form="form_{{ language.code }}"
                                    value="Submit"
                                    title="{{ language.name_local }}">
                                {{ language.code|upper }}
                            </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
        </div>
        <div class="col text-right">
            <div class="col-sm">
                <div class="row-auto">
                    <a href="{{ GIT_REPO_URI }}" target="_blank">
                        <div id="ee-trggr" class="d-inline-flex">Mr. Map</div>
                    </a>
                </div>
               <a href="https://mrmap-community.github.io/mrmap/" target="_blank" class="row-auto text-primary mr-1">{{ICONS.BOOK_OPEN}} {% trans 'Docs' %}</a> <span class="mr-1">&#8226;</span>
               <a href="{{ GIT_GRAPH_URI }}#{{ REVISION }}" target="_blank" class="row-auto text-primary" mr-1>{{ICONS.CODE}} {% trans 'Code' %}</a>
            </div>
        </div>
    </div>
    </div>
</footer>
</html>
