name: Quality Assurance
on:
  workflow_dispatch:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]
    types: [opened, synchronize, reopened]
  schedule:
    - cron: 0 16 * * *
jobs:
  pre-commit-checks:
    name: pre-commit-checks
    runs-on: ubuntu-20.04
    steps:
      - name: checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Run pre commit checks
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.dev.yml up --build --abort-on-container-exit --exit-code-from pre-commit-check pre-commit-check
      
  acceptance-tests:
    name: acceptance-tests
    runs-on: ubuntu-20.04
    steps:
      - name: checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Run behave tests
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.dev.yml up --build --abort-on-container-exit --exit-code-from behave behave
      
      - name: upload coverage reports
        uses: actions/upload-artifact@v2
        with:
          name: acceptance-reports
          path: ./backend/acceptance-tests-coverage-report.xml

  unit-tests:
    name: unit-tests
    runs-on: ubuntu-20.04
    steps:
      - name: checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Run unit tests
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.dev.yml up --build --abort-on-container-exit --exit-code-from django-tests django-tests
      
      - name: upload coverage reports
        uses: actions/upload-artifact@v2
        with:
          name: unit-reports
          path: ./backend/unit-tests-coverage-report.xml

  sonar-scanner:
    needs: [acceptance-tests, unit-tests]
    name: sonar-scanner
    runs-on: ubuntu-20.04
    steps:
      - name: checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: download coverage reports
        uses: actions/download-artifact@v2
     
      - name: Run sonar-scanner
        run: |
          echo -en "\n" >> ./backend/sonar-project.properties
          echo "sonar.branch.name=$GITHUB_HEAD_REF" >> ./backend/sonar-project.properties
          echo "sonar.branch.target=$GITHUB_BASE_REF" >> ./backend/sonar-project.properties
          echo "sonar.login=${{ secrets.SONAR_TOKEN }}" >> ./backend/sonar-project.properties
          cat ./backend/sonar-project.properties
          GITHUB_TOKEN='${{ secrets.GITHUB_TOKEN }}' docker-compose -f docker-compose.yml -f docker-compose.dev.yml up --build --abort-on-container-exit --exit-code-from sonar-scanner sonar-scanner
